Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

ts-test:
  name: TypeScript test
  language: system
  entry: npm run ts:test
  pass_filenames: false

ts-lint:
  name: TypeScript lint
  language: system
  entry: npm run ts:lint
  pass_filenames: false

fix show all tables
  backend/.credo.exs
  backend/lib/azimutt/utils/uuid.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  frontend/package.json
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Libs/Models/Delta.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

revamp invitation page
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/templates/organization_invitation/show.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add plausible script
  backend/lib/azimutt_web/templates/layout/_head.html.heex
Due: none

add warning when leave without save
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Utils.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/window.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add redirect when not authed
  backend/priv/static/screenshot-complex.png
  backend/priv/static/screenshot.png
  backend/priv/static/service-worker.js
  backend/priv/static/site.webmanifest
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/utils/url.ts
Due: ts-test, ts-lint

align seo tags
  README.md
  backend/config/config.exs
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/layout/_head.html.heex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/templates/layout/elm.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/priv/static/elm/favicon.ico
  backend/priv/static/elm/index.html
  backend/priv/static/images/favicon.png
  backend/priv/static/site.webmanifest
  frontend/package.json
  frontend/src/Conf.elm
  package.json
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

remove users settings
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/user_settings/_aside_menu.html.heex
  backend/lib/azimutt_web/templates/user_settings/_billing_section.html.heex
  backend/lib/azimutt_web/templates/user_settings/_profil_section.html.heex
  backend/lib/azimutt_web/templates/user_settings/edit.html.heex
  backend/lib/azimutt_web/views/user_settings_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

add legacy projects in project list
  frontend/src/Components/Book.elm
  frontend/src/Components/Molecules/Avatar.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Shared.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix load legacy project + better errors
  frontend/ts-src/index.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/api.ts
  frontend/ts-src/services/storage/indexeddb.ts
  frontend/ts-src/services/storage/inmemory.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/object.ts
  frontend/ts-src/utils/zod.test.ts
  frontend/ts-src/utils/zod.ts
Due: ts-test, ts-lint

cleanup database migration
  backend/priv/repo/migrations/20220903194509_init_database.exs
Due: mix-test, mix-lint, mix-format

add fallback controller
  backend/lib/azimutt_web/controllers/api/analyzer_controller.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/fallback_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/page_controller.ex
  backend/lib/azimutt_web/controllers/project_controller.ex
  backend/lib/azimutt_web/controllers/sitemap_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_reset_password_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

update landing page with features and footer
  backend/lib/azimutt_web/components/landing_page.ex
  backend/lib/azimutt_web/templates/page/_features.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  backend/lib/azimutt_web/views/page_view.ex
  backend/priv/static/images/feature_1.png
Due: mix-test, mix-lint, mix-build, mix-format

update landing
  backend/lib/azimutt_web/templates/page/_features.html.heex
  backend/priv/static/images/follow_your_mind.png
  backend/priv/static/images/layouts.png
  backend/priv/static/images/see_what_you_need.png
Due: none

update landing
  backend/lib/azimutt_web/components/brand.ex
  backend/lib/azimutt_web/templates/page/_features.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

update landing
  backend/lib/azimutt_web/templates/page/index.html.heex
Due: none

update landing
  backend/lib/azimutt_web/templates/page/_features.html.heex
Due: none

add seo data for blog posts
  backend/lib/azimutt/blog/article.ex
  backend/lib/azimutt/utils/frontmatter.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/templates/layout/root.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/priv/static/blog/2021-10-01-the-story-behind-azimutt/the-story-behind-azimutt.md
  backend/priv/static/blog/2022-03-01-how-to-explore-your-database-schema-with-azimutt/how-to-explore-your-database-schema-with-azimutt.md
  backend/priv/static/blog/2022-03-07-why-you-should-avoid-tables-with-many-columns-and-how-to-fix-them/why-you-should-avoid-tables-with-many-columns-and-how-to-fix-them.md
  backend/priv/static/blog/2022-03-21-embed-your-database-diagram-anywhere/embed-your-database-diagram-anywhere.md
  backend/priv/static/blog/2022-03-28-how-to-choose-your-entity-relationship-diagram/how-to-choose-your-entity-relationship-diagram.md
  backend/priv/static/blog/2022-04-04-improve-your-database-design-with-azimutt-analyzer/improve-your-database-design-with-azimutt-analyzer.md
  backend/priv/static/blog/2022-04-11-aml-a-language-to-define-your-database-schema/aml-a-language-to-define-your-database-schema.md
  backend/priv/static/blog/2022-04-19-stop-using-auto-increment-for-primary-keys/stop-using-auto-increment-for-primary-keys.md
  backend/priv/static/blog/2022-07-04-changelog-2022-06/changelog-2022-06.md
  backend/priv/static/blog/2022-08-02-changelog-2022-07/changelog-2022-07.md
  backend/priv/static/blog/2022-09-01-changelog-2022-08/changelog-2022-08.md
  backend/priv/static/blog/2022-09-05-explore-postgresql-internals/explore-postgresql-internals.md
  backend/priv/static/blog/2022-10-04-changelog-2022-09/changelog-2022-09.md
  backend/priv/static/blog/2022-10-17-azimutt-v2/azimutt-v2.md
  backend/test/azimutt/blog/article_test.exs
  frontend/src/Components/Molecules/Avatar.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

fix dirty + better seo
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/templates/blog/_blog_description.html.heex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/views/blog_view.ex
  backend/lib/azimutt_web/views/layout_view.ex
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdConf.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Project.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Utils.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

several small fixes
  backend/lib/azimutt_web/components/landing_page.ex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Helpers.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/PagesComponents/Projects/View.elm
  frontend/src/Services/Backend.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add stripe price in prod
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/staging.exs
  backend/config/test.exs
Due: mix-test, mix-lint, mix-format

fix landing page
  backend/lib/azimutt_web/templates/page/index.html.heex
Due: none

fix image links
  backend/lib/azimutt_web/components/header.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/page/_features.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  backend/priv/static/images/gospeak-find-path.png
Due: mix-test, mix-lint, mix-build, mix-format

fix: image links (#126)
  backend/lib/azimutt_web/components/header.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/page/_features.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  backend/priv/static/images/gospeak-find-path.png
Due: mix-test, mix-lint, mix-build, mix-format

ci(github): update staging ref
  .github/workflows/push.yml
Due: none

fix: remove old public folder
  public/blog/changelog-2022-09/article.md
  public/blog/changelog-2022-09/azimutt-mind-map.png
  public/blog/changelog-2022-09/cloud-nord-2.jpg
  public/blog/changelog-2022-09/cloud-nord-3.jpg
  public/blog/changelog-2022-09/cloud-nord.jpg
  public/blog/changelog-2022-09/save-project.png
Due: none

fix: change deploy to staging to main branch
  .github/workflows/push.yml
Due: none

fix: project mogration, invitation page, emails and favicons
  .dockerignore
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_invitation.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/templates/organization_invitation/show.html.heex
  backend/priv/static/android-chrome-192x192.png
  backend/priv/static/android-chrome-512x512.png
  backend/priv/static/apple-touch-icon.png
  backend/priv/static/browserconfig.xml
  backend/priv/static/favicon-16x16.png
  backend/priv/static/favicon-32x32.png
  backend/priv/static/favicon.ico
  backend/priv/static/mstile-150x150.png
  backend/priv/static/safari-pinned-tab.svg
  backend/priv/static/site.webmanifest
  backend/test/azimutt/organizations_test.exs
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

create a gallery with database examples
  README.md
  backend/assets/tailwind.config.js
  backend/lib/azimutt/blog.ex
  backend/lib/azimutt/gallery.ex
  backend/lib/azimutt/gallery/example.ex
  backend/lib/azimutt/utils/phoenix.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/components/landing_page.ex
  backend/lib/azimutt_web/controllers/gallery_controller.ex
  backend/lib/azimutt_web/controllers/sitemap_controller.ex
  backend/lib/azimutt_web/endpoint.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/blog/index.html.heex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/templates/gallery/show.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/views/gallery_view.ex
  backend/priv/static/blog/sample.md
  backend/priv/static/gallery/basic/banner.png
  backend/priv/static/gallery/basic/basic.md
  backend/priv/static/gallery/gladys/banner.png
  backend/priv/static/gallery/gladys/gladys.md
  backend/priv/static/gallery/gospeak/banner.png
  backend/priv/static/gallery/gospeak/gospeak.md
  backend/priv/static/gallery/postgresql/banner.png
  backend/priv/static/gallery/postgresql/postgresql.md
  backend/priv/static/gallery/wordpress/banner.png
  backend/priv/static/gallery/wordpress/wordpress.md
  backend/test/azimutt/utils/phoenix_test.exs
  frontend/src/PagesComponents/Organization_/Project_/Models/EmbedKind.elm
  frontend/ts-src/utils/zod.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

allow bigger body size for multipart requests
  backend/lib/azimutt_web/endpoint.ex
Due: mix-test, mix-lint, mix-build, mix-format

make schema update more visible
  .env.example
  README.md
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/Services/AmlSource.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix legacy storage compatibility
  frontend/ts-src/types/project.ts
Due: ts-test, ts-lint

fix remove local project after upload
  frontend/ts-src/index.ts
Due: ts-test, ts-lint

add browser-extension
  backend/lib/azimutt_web/controllers/gallery_controller.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  browser-extension/.gitignore
  browser-extension/README.md
  browser-extension/build.js
  browser-extension/build.watch.js
  browser-extension/manifest.json
  browser-extension/manifest2.json
  browser-extension/package-lock.json
  browser-extension/package.json
  browser-extension/public/azimutt_128.png
  browser-extension/public/azimutt_16.png
  browser-extension/public/azimutt_32.png
  browser-extension/public/azimutt_48.png
  browser-extension/src/appendButton.ts
  browser-extension/src/background.ts
  browser-extension/tsconfig.json
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

several fixes
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/plugs/allow_cross_origin_iframe.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_features.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/views/website_view.ex
  backend/priv/static/service-worker.js
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Rename basic column type from "String" to "Text"
  frontend/src/Models/Project/ColumnType.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Rename basic column type from "String" to "Text" (#130)
  frontend/src/Models/Project/ColumnType.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Improve workings, fix #131
  README.md
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/PagesComponents/New/Views.elm
Due: elm-test, elm-lint, elm-build, elm-format

Path conditions:
  mix-test: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-format: any of: \.exs*$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  ts-test: any of: \.ts*$
  ts-lint: any of: \.ts*$
