Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

Implement some analysis rules in JS
  cli/src/analyze.ts
  cli/src/index.ts
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexDuplicated.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexOnForeignKeys.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/NamingConsistency.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/PrimaryKeyMissing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissing.elm
  frontend/tests/Libs/StringTest.elm
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/attributeInconsistentType.test.ts
  libs/models/src/analyze/rules/attributeInconsistentType.ts
  libs/models/src/analyze/rules/indexDuplicated.test.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/analyze/rules/indexOnRelation.test.ts
  libs/models/src/analyze/rules/indexOnRelation.ts
  libs/models/src/analyze/rules/namingConsistency.test.ts
  libs/models/src/analyze/rules/namingConsistency.ts
  libs/models/src/analyze/rules/primaryKeyMissing.test.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
  libs/models/src/analyze/rules/relationMisaligned.test.ts
  libs/models/src/analyze/rules/relationMisaligned.ts
  libs/models/src/analyze/rules/relationMissing.test.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils, elm-test, elm-lint, elm-build, elm-format, cli

Finalize Elm migration
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexDuplicated.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableTooBig.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableWithoutIndex.elm
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/entityNoIndex.test.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/entityTooLarge.test.ts
  libs/models/src/analyze/rules/entityTooLarge.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
Due: elm-test, elm-lint, elm-build, elm-format

Create rules
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/index.ts
  cli/src/utils/logger.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.test.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.ts
  libs/models/src/analyze/rules/entityNoIndex.test.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/entityTooLarge.test.ts
  libs/models/src/analyze/rules/entityTooLarge.ts
  libs/models/src/analyze/rules/indexDuplicated.test.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/analyze/rules/indexOnRelation.test.ts
  libs/models/src/analyze/rules/indexOnRelation.ts
  libs/models/src/analyze/rules/namingConsistency.test.ts
  libs/models/src/analyze/rules/namingConsistency.ts
  libs/models/src/analyze/rules/primaryKeyMissing.test.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
  libs/models/src/analyze/rules/relationMisaligned.test.ts
  libs/models/src/analyze/rules/relationMisaligned.ts
  libs/models/src/analyze/rules/relationMissAttribute.test.ts
  libs/models/src/analyze/rules/relationMissAttribute.ts
  libs/models/src/analyze/rules/relationMissEntity.test.ts
  libs/models/src/analyze/rules/relationMissEntity.ts
  libs/models/src/analyze/rules/relationMissing.test.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/models/src/database.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/index.ts
Due: cli

Small fixes
  cli/src/analyze.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.test.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/indexDuplicated.test.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.test.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils, cli

publish libs
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/index.ts
  cli/src/version.ts
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/analyze/index.ts
  libs/utils/package-lock.json
  libs/utils/package.json
Due: cli

Build first LLM queries
  frontend/package-lock.json
  frontend/package.json
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/constants.test.ts
  libs/models/src/llm/index.test.ts
  libs/models/src/llm/index.ts
  libs/models/src/llm/llmUtils.ts
  libs/models/src/llm/openai.ts
Due: none

Improve
  cli/src/analyze.ts
  frontend/src/Components/Slices/DataExplorer.elm
  libs/connector-postgres/src/postgres.ts
  libs/models/resources/azimutt.json
  libs/models/resources/metabase.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/llm/index.test.ts
  libs/models/src/llm/index.ts
  libs/models/src/llm/llmUtils.ts
  libs/models/src/llm/openai.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, cli

Review website
  LICENSE.txt
  backend/config/config.exs
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization/data.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/templates/blog/_blog_description.html.heex
  backend/lib/azimutt_web/templates/layout/_head_seo.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/discovered_azimutt.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/priv/static/elm/index.html
  backend/test/azimutt_web/controllers/website_controller_test.exs
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/explore.ts
  cli/src/gateway.ts
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Conf.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  gateway/src/index.ts
  gateway/src/routes/index.ts
  gateway/src/services/tracking.test.ts
  gateway/src/services/tracking.ts
  libs/models/src/legacy/legacyProject.test.ts
  libs/models/src/legacy/legacyProject.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, gateway, cli

Adjust project limites
  README.md
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSaveDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Add Devoxx talk
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Publish gateway & cli
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
Due: gateway, cli

fix
  frontend/package-lock.json
  frontend/package.json
Due: none

fix2
  frontend/package-lock.json
  frontend/package.json
  libs/models/package-lock.json
  libs/models/package.json
Due: none

fix pg-connector
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/tracking.ts
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/helpers.test.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres.ts
Due: libs-connector-postgres, gateway, cli

fix pg-connector: null in enums
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/postgres.ts
Due: libs-connector-postgres, gateway, cli

fix pg-connector: unescaped column on stats
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/stats.ts
Due: libs-connector-postgres, gateway, cli

fix table color modal
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix pg-connector: remove n_ins_since_vacuum
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/version.ts
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexDuplicated.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/postgres.ts
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, gateway, cli

Add LLM settings
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Models/Project/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  libs/models/src/legacy/legacyProject.ts
Due: elm-test, elm-lint, elm-build, elm-format

Generate SQL with OpenAI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Models/DbSource.elm
  frontend/src/Models/DbSourceInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/database.ts
  libs/models/src/index.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/src/legacy/legacyProject.ts
  libs/models/src/llm/index.ts
  libs/models/src/llm/llmUtils.test.ts
  libs/models/src/llm/llmUtils.ts
  libs/models/src/llm/openai.ts
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package-lock.json
  libs/serde-prisma/package.json
  libs/serde-sql/package-lock.json
  libs/serde-sql/package.json
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

fix zod version
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-dbml/resources/complex.generated.dbml
Due: none

fix zod version in serde-sql
  libs/models/src/llm/index.ts
  libs/serde-sql/package-lock.json
  libs/serde-sql/package.json
  libs/serde-sql/src/statements/select.ts
Due: none

fix openai
  frontend/tsconfig.json
  libs/models/tsconfig.json
Due: none

Add SQL generation modal
  frontend/src/Components/Book.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/LlmGenerateSqlBody.elm
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/Models/Project/Relation.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/LlmGenerateSqlDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/JsonMiner/JsonGeneratorTest.elm
  frontend/tests/DataSources/SqlMiner/MysqlGeneratorTest.elm
  frontend/tests/DataSources/SqlMiner/PostgreSqlGeneratorTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/FindPathTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissingTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  libs/models/src/llm/llmUtils.test.ts
  libs/models/src/llm/llmUtils.ts
  libs/models/src/llm/openai.ts
Due: elm-test, elm-lint, elm-build, elm-format

Add model choice
  frontend/src/Components/Atoms/Button.elm
  frontend/src/Components/Slices/LlmGenerateSqlBody.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Models/OpenAIKey.elm
  frontend/src/Models/OpenAIModel.elm
  frontend/src/Models/Project/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/LlmGenerateSqlDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableWithoutIndex.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Track.elm
  frontend/tests/Models/OpenAIModelTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/ports.ts
  frontend/tsconfig.json
  gateway/src/routes/index.ts
  libs/connector-mongodb/src/index.ts
  libs/models/src/legacy/legacyProject.ts
  libs/models/src/llm/index.ts
  libs/models/src/llm/openai.ts
Due: libs-connector-mongodb, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway

Show layout table row instead of tabe row sidebar
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
Due: elm-test, elm-lint, elm-build, elm-format

Improve BigQuery connector
  frontend/src/Models/SqlQuery.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/LlmGenerateSqlDialog.elm
  frontend/src/Services/DatabaseSource.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  libs/connector-bigquery/src/bigquery.test.ts
  libs/connector-bigquery/src/bigquery.ts
  libs/models/src/llm/openai.ts
Due: elm-test, elm-lint, elm-build, elm-format, gateway

review
  frontend/src/Components/Organisms/Details.elm
  frontend/ts-src/types/ports.test.disabled.ts
  libs/models/src/llm/openai.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

publish libs
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  frontend/elm.json
  frontend/package-lock.json
  frontend/package.json
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package-lock.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package-lock.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/databaseUrl.ts
  libs/serde-aml/package-lock.json
  libs/serde-aml/package.json
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package-lock.json
  libs/serde-prisma/package.json
  libs/serde-sql/package-lock.json
  libs/serde-sql/package.json
Due: gateway, cli

fix mysql connector
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.test.ts
  libs/connector-mysql/src/mysql.ts
Due: gateway, cli

Small UI improvements
  backend/lib/azimutt.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  frontend/src/Components/Slices/ProPlan.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Retrieve Postgres query history
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/history.test.ts
  libs/connector-postgres/src/history.ts
  libs/connector-postgres/src/index.ts
  libs/models/src/interfaces/connector.ts
  libs/models/src/llm/index.ts
Due: libs-connector-postgres

Add conf for rules
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/export.ts
  cli/src/utils/file.test.ts
  cli/src/utils/file.ts
  libs/connector-postgres/package-lock.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.test.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.test.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.ts
  libs/models/src/analyze/rules/entityNoIndex.test.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/entityTooLarge.test.ts
  libs/models/src/analyze/rules/entityTooLarge.ts
  libs/models/src/analyze/rules/indexDuplicated.test.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/analyze/rules/indexOnRelation.test.ts
  libs/models/src/analyze/rules/indexOnRelation.ts
  libs/models/src/analyze/rules/namingConsistency.test.ts
  libs/models/src/analyze/rules/namingConsistency.ts
  libs/models/src/analyze/rules/primaryKeyMissing.test.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.test.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.ts
  libs/models/src/analyze/rules/relationMisaligned.test.ts
  libs/models/src/analyze/rules/relationMisaligned.ts
  libs/models/src/analyze/rules/relationMissAttribute.test.ts
  libs/models/src/analyze/rules/relationMissAttribute.ts
  libs/models/src/analyze/rules/relationMissEntity.test.ts
  libs/models/src/analyze/rules/relationMissEntity.ts
  libs/models/src/analyze/rules/relationMissing.test.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/models/src/llm/index.ts
  libs/serde-aml/docs/properties.md
Due: cli

Add query rules
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/index.ts
  cli/src/utils/file.test.ts
  cli/src/utils/file.ts
  gateway/package-lock.json
  gateway/package.json
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/queryExpensive.test.ts
  libs/models/src/analyze/rules/queryExpensive.ts
  libs/models/src/analyze/rules/queryHighVariation.test.ts
  libs/models/src/analyze/rules/queryHighVariation.ts
  libs/models/src/analyze/rules/queryTooSlow.test.ts
  libs/models/src/analyze/rules/queryTooSlow.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
  libs/models/src/helpers/time.test.ts
  libs/models/src/helpers/time.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils, cli

Add ignores on rules
  cli/src/analyze.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.test.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.ts
  libs/models/src/analyze/rules/entityNoIndex.test.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/entityTooLarge.test.ts
  libs/models/src/analyze/rules/entityTooLarge.ts
  libs/models/src/analyze/rules/indexDuplicated.test.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/analyze/rules/indexOnRelation.test.ts
  libs/models/src/analyze/rules/indexOnRelation.ts
  libs/models/src/analyze/rules/namingConsistency.test.ts
  libs/models/src/analyze/rules/namingConsistency.ts
  libs/models/src/analyze/rules/primaryKeyMissing.test.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.test.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.ts
  libs/models/src/analyze/rules/queryExpensive.test.ts
  libs/models/src/analyze/rules/queryExpensive.ts
  libs/models/src/analyze/rules/queryHighVariation.test.ts
  libs/models/src/analyze/rules/queryHighVariation.ts
  libs/models/src/analyze/rules/queryTooSlow.test.ts
  libs/models/src/analyze/rules/queryTooSlow.ts
  libs/models/src/analyze/rules/relationMisaligned.test.ts
  libs/models/src/analyze/rules/relationMisaligned.ts
  libs/models/src/analyze/rules/relationMissAttribute.test.ts
  libs/models/src/analyze/rules/relationMissAttribute.ts
  libs/models/src/analyze/rules/relationMissEntity.test.ts
  libs/models/src/analyze/rules/relationMissEntity.ts
  libs/models/src/analyze/rules/relationMissing.test.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/models/src/database.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/interfaces/connector.ts
  libs/utils/src/array.ts
Due: libs-utils, cli

Write analysis report if email
  cli/package-lock.json
  cli/package.json
  cli/src/analyze.ts
  cli/src/index.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/llm/index.ts
  libs/utils/src/email.test.ts
  libs/utils/src/email.ts
  libs/utils/src/index.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils, cli

Add extra info to the violation report
  cli/src/analyze.ts
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/NamingConsistency.elm
  libs/models/package-lock.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/attributeNamingConsistency.test.ts
  libs/models/src/analyze/rules/attributeNamingConsistency.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.test.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.ts
  libs/models/src/analyze/rules/entityNamingConsistency.test.ts
  libs/models/src/analyze/rules/entityNamingConsistency.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/entityTooLarge.ts
  libs/models/src/analyze/rules/indexDuplicated.ts
  libs/models/src/analyze/rules/indexOnRelation.ts
  libs/models/src/analyze/rules/namingConsistency.test.ts
  libs/models/src/analyze/rules/namingConsistency.ts
  libs/models/src/analyze/rules/primaryKeyMissing.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.ts
  libs/models/src/analyze/rules/queryExpensive.ts
  libs/models/src/analyze/rules/queryHighVariation.ts
  libs/models/src/analyze/rules/queryTooSlow.ts
  libs/models/src/analyze/rules/relationMisaligned.ts
  libs/models/src/analyze/rules/relationMissAttribute.test.ts
  libs/models/src/analyze/rules/relationMissAttribute.ts
  libs/models/src/analyze/rules/relationMissEntity.test.ts
  libs/models/src/analyze/rules/relationMissEntity.ts
  libs/models/src/analyze/rules/relationMissing.ts
Due: elm-test, elm-lint, elm-build, elm-format, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
