Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: \.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: \.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

add logs
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

add ssl
  .gitignore
  backend/config/dev.exs
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/utils/stringx.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/views/api/gallery_view.ex
  backend/priv/keys/localhost.cert
  backend/priv/keys/localhost.key
Due: mix-test, mix-lint, mix-build, mix-format

add logs
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/staging.exs
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix csrf protection and remove logs
  backend/.iex.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/staging.exs
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/priv/keys/localhost.cert
  backend/priv/keys/localhost.key
Due: mix-test, mix-lint, mix-build, mix-format

last fixes
  .gitignore
  backend/config/prod.exs
  backend/config/staging.exs
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/config/config.exs
  backend/config/prod.exs
Due: mix-test, mix-lint, mix-format

revert improvements
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/staging.exs
Due: mix-test, mix-lint, mix-format

Fix Heroku Add-on integration (#151)
  backend/.iex.exs
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/utils/stringx.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/gallery_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add link to heroku badge
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

tmp
  backend/lib/azimutt_web/admin/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard_view.ex
  backend/lib/azimutt_web/admin/templates/index.html.heex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/error/403.html.heex
  backend/test/azimutt_web/controllers/user_auth_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

better error pages
  backend/lib/azimutt_web/admin/admin_controller.ex
  backend/lib/azimutt_web/admin/admin_view.ex
  backend/lib/azimutt_web/admin/dashboard_view.ex
  backend/lib/azimutt_web/controllers/fallback_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/error/401.html.heex
  backend/lib/azimutt_web/templates/error/403.html.heex
  backend/lib/azimutt_web/templates/error/410.html.heex
  backend/lib/azimutt_web/templates/error/500.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

On AML edit, sort layout columns as AML ones
  frontend/src/Components/Organisms/Details.elm
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/Libs/Tuple3.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ShowColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Place new tables at center of the viewport
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Sort AML source by name + don't close AML sidebar on save
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/tests/DataSources/AmlMiner/AmlParserTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add query endpoint to analyzer
  backend/lib/azimutt/analyzer.ex
  backend/lib/azimutt/analyzer/column_stats.ex
  backend/lib/azimutt/analyzer/mysql.ex
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/query_results.ex
  backend/lib/azimutt/analyzer/table_stats.ex
  backend/lib/azimutt_web/controllers/api/analyzer_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/analyzer_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Compute table & column stats
  backend/lib/azimutt/analyzer/column_stats.ex
  backend/lib/azimutt/analyzer/mysql.ex
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/table_stats.ex
Due: mix-test, mix-lint, mix-build, mix-format

improve common values
  backend/lib/azimutt/analyzer/column_stats.ex
  backend/lib/azimutt/analyzer/postgres.ex
Due: mix-test, mix-lint, mix-build, mix-format

some notes
  backend/lib/azimutt/analyzer/column_stats.ex
  backend/lib/azimutt/analyzer/postgres.ex
Due: mix-test, mix-lint, mix-build, mix-format

make it work
  backend/lib/azimutt_web/admin/admin/index.html.heex
  backend/lib/azimutt_web/admin/admin_controller.ex
  backend/lib/azimutt_web/admin/admin_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

checkpoint 2
  Caddyfile
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/entrypoint.sh
  docker-compose.yml
Due: mix-test, mix-lint, mix-format

Track billing page load
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Services/Backend.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

refactor routes
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add subscription events
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

add login event
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add login and subscription events (#155)
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Services/Backend.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add Caddy File
  Caddyfile
Due: none

fix
  backend/lib/azimutt_web/controllers/user_session_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix caddy
  backend/config/dev.exs
Due: mix-test, mix-lint, mix-format

checkpoint 3
  backend/config/prod.exs
Due: mix-test, mix-lint, mix-format

rename controller to dashboard
  backend/lib/azimutt_web/admin/admin/index.html.heex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard_view.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

add reload on admin part
  backend/config/dev.exs
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
Due: mix-test, mix-lint, mix-format

show data in UI
  backend/lib/azimutt/analyzer.ex
  backend/lib/azimutt/analyzer/mysql.ex
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/query_results.ex
  backend/lib/azimutt_web/controllers/api/analyzer_controller.ex
  backend/lib/azimutt_web/router.ex
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Models/Project/ColumnStats.elm
  frontend/src/Models/Project/ColumnValue.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/SourceId.elm
  frontend/src/Models/Project/TableStats.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/Ports.elm
  frontend/src/Services/Backend.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/Erd/TableTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/types/stats.ts
  frontend/ts-src/utils/error.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add notes & improve doc
  backend/lib/azimutt/analyzer/mysql.ex
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Re-enable details sidebar
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format

improve column details design
  frontend/elm.json
  frontend/src/Components/Atoms/Markdown.elm
  frontend/src/Components/Book.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
Due: elm-test, elm-lint, elm-build, elm-format

add utilities fonctions - temporary
  backend/.iex.exs
  backend/config/dev.exs
  backend/config/runtime.exs
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/dashboard_controller.ex
  backend/mix.exs
  backend/mix.lock
Due: mix-test, mix-lint, mix-build, mix-format
