Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-aml, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-serde-aml: any of: libs/serde-aml/.*\.ts*$
  libs-serde-dbml: any of: libs/serde-dbml/.*\.ts*$
  libs-serde-prisma: any of: libs/serde-prisma/.*\.ts*$
  libs-serde-sql: any of: libs/serde-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Fix check parsing
  libs/aml/docs/README.md
  libs/aml/docs/entity.md
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/src/amlAst.ts
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.test.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/amlParser.test.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
  libs/models/src/parserResult.ts
  libs/parser-sql/resources/full.postgres.sql
  libs/parser-sql/src/postgresGenerator.ts
Due: libs-models

Review doc
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/priv/static/aml_schema.json
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/Services/Backend.elm
  libs/aml/README.md
  libs/aml/docs/README.md
  libs/aml/docs/assets/logo-white.png
  libs/aml/docs/assets/logo.png
  libs/aml/docs/documentation.md
  libs/aml/docs/entity.md
  libs/aml/docs/identifier.md
  libs/aml/docs/migration.md
  libs/aml/docs/namespace.md
  libs/aml/docs/properties.md
  libs/aml/docs/relation.md
  libs/aml/docs/type.md
  libs/aml/docs/v1/README.md
  libs/aml/resources/README.md
  libs/aml/src/amlGenerator.test.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
  libs/models/src/database.test.ts
  libs/models/src/database.ts
  libs/parser-sql/src/index.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test

fix
  libs/aml/docs/namespace.md
  libs/aml/src/amlParser.test.ts
Due: none

Improve handling of namespace, comments & composite checks
  libs/aml/docs/namespace.md
  libs/aml/resources/README.md
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/resources/full.legacy.aml
  libs/aml/resources/full.md
  libs/aml/resources/full.mmd
  libs/aml/src/amlAst.ts
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.test.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/amlParser.test.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/markdownGenerator.ts
  libs/aml/src/mermaidGenerator.ts
  libs/models/src/database.ts
  libs/parser-sql/resources/full.postgres.sql
  libs/parser-sql/src/postgresGenerator.ts
Due: libs-models

Handle alias in relations
  backend/priv/static/aml_schema.json
  libs/aml/resources/README.md
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/extensions/monaco.ts
  libs/models/src/database.ts
Due: libs-models

Add autocomplete for properties
  libs/aml/resources/full.json
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.test.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/extensions/monaco.test.ts
  libs/aml/src/extensions/monaco.ts
  libs/models/src/database.ts
  libs/utils/src/any.ts
Due: libs-utils, libs-models

fix
  backend/priv/static/aml_schema.json
  libs/aml/src/extensions/monaco.ts
Due: none

Small refacto
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.ts
  libs/models/src/database.ts
Due: libs-models

Merge duplicates and warn on bad relations
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/errors.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
  libs/models/src/analyze/rules/attributeNameInconsistent.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/models/src/database.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
Due: libs-models

Write post
  backend/assets/js/app.ts
  backend/config/config.exs
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/priv/static/aml_schema.json
  backend/priv/static/blog/2024-09-29-the-best-language-to-design-databases-just-upgraded/aml-to-postgres.png
  backend/priv/static/blog/2024-09-29-the-best-language-to-design-databases-just-upgraded/landing.png
  backend/priv/static/blog/2024-09-29-the-best-language-to-design-databases-just-upgraded/the-best-language-to-design-databases-just-upgraded.md
Due: mix-format, mix-lint, mix-test

fix
  libs/aml/src/amlGenerator.test.ts
  libs/aml/src/amlGenerator.ts
  libs/models/src/databaseUtils.ts
Due: libs-models

upgrade libs
  backend/mix.lock
  browser-extension/package.json
  cli/html-report/package.json
  cli/package.json
  desktop/package.json
  frontend/elm.json
  frontend/package.json
  frontend/review/elm.json
  gateway/package.json
  libs/aml/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/parser-dbml/package.json
  libs/parser-prisma/package.json
  libs/parser-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: none

publish connectors
  gateway/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  pnpm-lock.yaml
Due: none

fix migrations
  backend/priv/repo/migrations/20220903194509_init_database.exs
  backend/priv/repo/migrations/20221205110011_create_heroku_resources.exs
  backend/priv/repo/migrations/20230412184510_add_user_profiles.exs
  backend/priv/repo/migrations/20230701191613_create_clever_cloud_resources.exs
  backend/priv/repo/migrations/20231110120742_create_user_auth_tokens.exs
Due: mix-format, mix-lint, mix-test

fix cli
  cli/jest.config.js
  cli/tsconfig.json
  frontend/jest.config.js
  gateway/package-lock.json
  libs/aml/jest.config.cjs
  libs/connector-bigquery/jest.config.js
  libs/connector-couchbase/jest.config.js
  libs/connector-mariadb/jest.config.js
  libs/connector-mongodb/jest.config.js
  libs/connector-mysql/jest.config.js
  libs/connector-oracle/jest.config.js
  libs/connector-postgres/jest.config.js
  libs/connector-snowflake/jest.config.js
  libs/connector-sqlserver/jest.config.js
  libs/models/jest.config.js
  libs/parser-dbml/jest.config.cjs
  libs/parser-prisma/jest.config.cjs
  libs/parser-sql/jest.config.cjs
  libs/utils/jest.config.js
Due: none

fix cli 2 + update dbml
  cli/src/utils/file.ts
  libs/parser-dbml/package.json
  libs/parser-dbml/resources/complex.dbml
  libs/parser-dbml/resources/complex.generated.dbml
  libs/parser-dbml/resources/complex.json
  pnpm-lock.yaml
Due: cli

publish parsers
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/aml/package.json
  libs/parser-dbml/package.json
  libs/parser-dbml/resources/complex.json
  libs/parser-dbml/src/dbml.test.ts
  libs/parser-prisma/package.json
  libs/parser-sql/package.json
  pnpm-lock.yaml
Due: none

publish gateway & cli
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
Due: cli

unpublish cli
  cli/package.json
  cli/src/version.ts
Due: cli

publish cli
  cli/README.md
  cli/html-report/package.json
  cli/package.json
  cli/src/convert.ts
  cli/src/utils/file.ts
  cli/src/version.ts
  cli/tsconfig.json
  pnpm-lock.yaml
Due: cli

Small improvements
  demos/ecommerce/source_00_design.md
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Services/AmlSource.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/Urls.elm
  libs/aml/src/amlParser.ts
  libs/models/src/legacy/legacyDatabase.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test

Improve CLI doc
  backend/lib/azimutt_web/templates/website/_converter-description.html.heex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  cli/README.md
  cli/assets/logo-white.png
  cli/assets/logo.png
Due: none

Use post to create a project
  backend/config/config.exs
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  cli/README.md
  cli/package.json
  cli/src/explore.ts
  cli/src/version.ts
  frontend/src/Pages/Create.elm
  frontend/src/Pages/New.elm
  frontend/src/Pages/Organization_/Create.elm
  frontend/src/Pages/Organization_/New.elm
  frontend/src/PagesComponents/Create/Element.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Element.elm
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/Shared.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/window.ts
Due: mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, cli

Allow base64 to create project
  cli/src/convert.ts
  cli/src/export.ts
  frontend/src/PagesComponents/Create/Element.elm
  frontend/src/PagesComponents/New/Element.elm
  frontend/ts-src/index.ts
  frontend/ts-src/utils/url.test.ts
  frontend/ts-src/utils/url.ts
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, cli

Database diff for types
  backend/lib/azimutt/blog/article.ex
  libs/models/src/databaseDiff.test.ts
  libs/models/src/databaseDiff.ts
  libs/models/src/databaseUtils.ts
  libs/parser-sql/src/postgresGenerator.test.ts
  libs/parser-sql/src/postgresGenerator.ts
  libs/utils/src/any.ts
  libs/utils/src/array.test.ts
  libs/utils/src/array.ts
  libs/utils/src/object.ts
Due: libs-utils, libs-models, mix-format, mix-build, mix-lint, mix-test

Database diff for entities & attributes
  libs/models/src/databaseDiff.test.ts
  libs/models/src/databaseDiff.ts
  libs/parser-sql/src/postgresGenerator.test.ts
  libs/parser-sql/src/postgresGenerator.ts
Due: libs-models

Add portal landing page
  backend/config/config.exs
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/portal-subscribed.html.heex
  backend/lib/azimutt_web/templates/website/portal.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

Improve Clever Cloud wording
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/website/portal.html.heex
  backend/priv/static/images/clever_cloud_db_uri.png
  cli/src/diff.ts
Due: cli

Improve diff
  libs/models/src/databaseDiff.test.ts
  libs/models/src/databaseDiff.ts
  libs/parser-sql/src/postgresGenerator.test.ts
  libs/parser-sql/src/postgresGenerator.ts
Due: libs-models

Clever Cloud adjustements
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
Due: none

Bootstrap doc
  backend/lib/azimutt.ex
  backend/lib/azimutt_web.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/docs/_footer.html.heex
  backend/lib/azimutt_web/templates/website/docs/_h2.html.heex
  backend/lib/azimutt_web/templates/website/docs/_h3.html.heex
  backend/lib/azimutt_web/templates/website/docs/_header.html.heex
  backend/lib/azimutt_web/templates/website/docs/_menu-item.html.heex
  backend/lib/azimutt_web/templates/website/docs/api.html.heex
  backend/lib/azimutt_web/templates/website/docs/cli.html.heex
  backend/lib/azimutt_web/templates/website/docs/collaboration.html.heex
  backend/lib/azimutt_web/templates/website/docs/converters.html.heex
  backend/lib/azimutt_web/templates/website/docs/create-your-project.html.heex
  backend/lib/azimutt_web/templates/website/docs/data-exploration.html.heex
  backend/lib/azimutt_web/templates/website/docs/data-privacy.html.heex
  backend/lib/azimutt_web/templates/website/docs/database-analysis.html.heex
  backend/lib/azimutt_web/templates/website/docs/database-design.html.heex
  backend/lib/azimutt_web/templates/website/docs/export.html.heex
  backend/lib/azimutt_web/templates/website/docs/find-path.html.heex
  backend/lib/azimutt_web/templates/website/docs/follow-relations.html.heex
  backend/lib/azimutt_web/templates/website/docs/getting-started.html.heex
  backend/lib/azimutt_web/templates/website/docs/index.html.heex
  backend/lib/azimutt_web/templates/website/docs/installation.html.heex
  backend/lib/azimutt_web/templates/website/docs/keyboard-shortcuts.html.heex
  backend/lib/azimutt_web/templates/website/docs/layouts.html.heex
  backend/lib/azimutt_web/templates/website/docs/main-features.html.heex
  backend/lib/azimutt_web/templates/website/docs/other-tools.html.heex
  backend/lib/azimutt_web/templates/website/docs/project-settings.html.heex
  backend/lib/azimutt_web/templates/website/docs/schema-documentation.html.heex
  backend/lib/azimutt_web/templates/website/docs/schema-exploration.html.heex
  backend/lib/azimutt_web/templates/website/docs/search.html.heex
  backend/lib/azimutt_web/templates/website/docs/sources.html.heex
  backend/lib/azimutt_web/templates/website/docs/what-is-azimutt.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

Move features, use-cases and converters in subfolders
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/converters/_description-short.html.heex
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  backend/lib/azimutt_web/templates/website/converters/convert.html.heex
  backend/lib/azimutt_web/templates/website/converters/converter.html.heex
  backend/lib/azimutt_web/templates/website/converters/index.html.heex
  backend/lib/azimutt_web/templates/website/features/_heading.html.heex
  backend/lib/azimutt_web/templates/website/features/_screenshot.html.heex
  backend/lib/azimutt_web/templates/website/features/aml.html.heex
  backend/lib/azimutt_web/templates/website/features/analysis.html.heex
  backend/lib/azimutt_web/templates/website/features/collaboration.html.heex
  backend/lib/azimutt_web/templates/website/features/compatibility.html.heex
  backend/lib/azimutt_web/templates/website/features/data-explorer.html.heex
  backend/lib/azimutt_web/templates/website/features/erd.html.heex
  backend/lib/azimutt_web/templates/website/features/find-path.html.heex
  backend/lib/azimutt_web/templates/website/features/index.html.heex
  backend/lib/azimutt_web/templates/website/features/notes.html.heex
  backend/lib/azimutt_web/templates/website/features/relations.html.heex
  backend/lib/azimutt_web/templates/website/features/scriptable.html.heex
  backend/lib/azimutt_web/templates/website/features/sharing.html.heex
  backend/lib/azimutt_web/templates/website/features/support.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/design.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/document.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/explore.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/index.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

Refactor doc prose
  backend/config/config.exs
  backend/lib/azimutt_web/templates/website/docs/_footer.html.heex
  backend/lib/azimutt_web/templates/website/docs/_h2.html.heex
  backend/lib/azimutt_web/templates/website/docs/_h3.html.heex
  backend/lib/azimutt_web/templates/website/docs/_header.html.heex
  backend/lib/azimutt_web/templates/website/docs/_menu-item.html.heex
  backend/lib/azimutt_web/templates/website/docs/_menu.html.heex
  backend/lib/azimutt_web/templates/website/docs/_prose.html.heex
  backend/lib/azimutt_web/templates/website/docs/_warning.html.heex
  backend/lib/azimutt_web/templates/website/docs/api.html.heex
  backend/lib/azimutt_web/templates/website/docs/cli.html.heex
  backend/lib/azimutt_web/templates/website/docs/collaboration.html.heex
  backend/lib/azimutt_web/templates/website/docs/converters.html.heex
  backend/lib/azimutt_web/templates/website/docs/create-your-project.html.heex
  backend/lib/azimutt_web/templates/website/docs/data-exploration.html.heex
  backend/lib/azimutt_web/templates/website/docs/data-privacy.html.heex
  backend/lib/azimutt_web/templates/website/docs/database-analysis.html.heex
  backend/lib/azimutt_web/templates/website/docs/database-design.html.heex
  backend/lib/azimutt_web/templates/website/docs/export-your-database-schema.html.heex
  backend/lib/azimutt_web/templates/website/docs/export.html.heex
  backend/lib/azimutt_web/templates/website/docs/find-path.html.heex
  backend/lib/azimutt_web/templates/website/docs/follow-relations.html.heex
  backend/lib/azimutt_web/templates/website/docs/index.html.heex
  backend/lib/azimutt_web/templates/website/docs/installation.html.heex
  backend/lib/azimutt_web/templates/website/docs/keyboard-shortcuts.html.heex
  backend/lib/azimutt_web/templates/website/docs/layouts.html.heex
  backend/lib/azimutt_web/templates/website/docs/main-features.html.heex
  backend/lib/azimutt_web/templates/website/docs/other-tools.html.heex
  backend/lib/azimutt_web/templates/website/docs/project-settings.html.heex
  backend/lib/azimutt_web/templates/website/docs/schema-documentation.html.heex
  backend/lib/azimutt_web/templates/website/docs/schema-exploration.html.heex
  backend/lib/azimutt_web/templates/website/docs/search.html.heex
  backend/lib/azimutt_web/templates/website/docs/sources.html.heex
  backend/lib/azimutt_web/templates/website/docs/what-is-azimutt.html.heex
  backend/lib/azimutt_web/views/website_view.ex
Due: mix-format, mix-build, mix-lint, mix-test

Write installation doc & finish create your project
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/converters/_description-short.html.heex
  backend/lib/azimutt_web/templates/website/docs/create-your-project.html.heex
  backend/lib/azimutt_web/templates/website/docs/installation.html.heex
  backend/lib/azimutt_web/templates/website/docs/what-is-azimutt.html.heex
  backend/priv/static/images/doc/new-project-import.png
  backend/priv/static/images/doc/new-project-json.png
  backend/priv/static/images/doc/new-project-sample.png
  backend/priv/static/images/doc/new-project-sql.png
  backend/priv/static/images/doc/project-save.png
Due: none

optimize images
  backend/priv/static/images/doc/azimutt-architecture.png
  backend/priv/static/images/doc/azimutt-cli.png
  backend/priv/static/images/doc/azimutt-explorer.png
  backend/priv/static/images/doc/converter-aml-to-postgresql.png
  backend/priv/static/images/doc/e-commerce-using-aml.png
  backend/priv/static/images/doc/new-project-import.png
  backend/priv/static/images/doc/new-project-json.png
  backend/priv/static/images/doc/new-project-sample.png
  backend/priv/static/images/doc/new-project-sql.png
  backend/priv/static/images/doc/new-project.png
  backend/priv/static/images/doc/new-source-aml.png
  backend/priv/static/images/doc/project-save.png
Due: none

Improve doc page
  backend/lib/azimutt_web/controllers/website_controller.ex
Due: mix-format, mix-build, mix-lint, mix-test
