Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli-test
      name: 'CLI test'
      language: system
      entry: npm run cli:test
      pass_filenames: false
      files: cli/.*\.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

Improve admin dashboard (#196)
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/_interesting_users.html.heex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/empty.html.heex
  backend/lib/azimutt_web/templates/layout/live.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

preload profiles on admin
  .pre-commit-config.yaml
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Improve s3 prefix
  backend/lib/azimutt/projects/project_file.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/lib/azimutt/projects/project_file.ex
Due: mix-test, mix-lint, mix-build, mix-format

don't store raw sql
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add config for orga default plan
  .pre-commit-config.yaml
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/config/README.md
Due: none

fix
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

last review
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/terraform.tfstate
Due: mix-test, mix-lint, mix-build, mix-format

Improve dashboard
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/_interesting_users.html.heex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

new try
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/_interesting_users.html.heex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix dashboard sql queries
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/analyzer/postgres.ex
Due: mix-test, mix-lint, mix-build, mix-format

Improve health check
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt_web/views/api/health_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/lib/azimutt/accounts.ex
Due: mix-test, mix-lint, mix-build, mix-format

Improve health check (#197)
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt_web/views/api/health_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix again
  backend/lib/azimutt/accounts.ex
Due: mix-test, mix-lint, mix-build, mix-format

add debug
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix github auth
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix auth
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix onboarding
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/user_onboarding/previous_solutions.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

skip site by default
  backend/config/runtime.exs
  backend/test/azimutt_web/controllers/website_controller_test.exs
Due: mix-test, mix-lint, mix-format

few fixes
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

add ssl true
  backend/config/runtime.exs
  render.yaml
Due: mix-test, mix-lint, mix-format

add ensure_all_started
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

add verify_none
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

add product hunt banner
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Remove clever references
  README.md
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

feat: add ssl support for database
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add some blog log
  backend/lib/azimutt/blog.ex
Due: mix-test, mix-lint, mix-build, mix-format

test copy files
  Dockerfile
Due: none

change blog logs
  backend/lib/azimutt/blog.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add variable for db ssl (#199)
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix mix
  backend/config/config.exs
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

remove ko from loic and antoine <3
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format
