Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-aml, libs-parser-dbml, libs-parser-prisma, libs-parser-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: libs/utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-models:
  name: libs/models
  language: system
  entry: bash -c 'cd libs/models && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-bigquery:
  name: libs/connector-bigquery
  language: system
  entry: bash -c 'cd libs/connector-bigquery && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: libs/connector-couchbase
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mariadb:
  name: libs/connector-mariadb
  language: system
  entry: bash -c 'cd libs/connector-mariadb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: libs/connector-mongodb
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mysql:
  name: libs/connector-mysql
  language: system
  entry: bash -c 'cd libs/connector-mysql && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-oracle:
  name: libs/connector-oracle
  language: system
  entry: bash -c 'cd libs/connector-oracle && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: libs/connector-postgres
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-snowflake:
  name: libs/connector-snowflake
  language: system
  entry: bash -c 'cd libs/connector-snowflake && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-sqlserver:
  name: libs/connector-sqlserver
  language: system
  entry: bash -c 'cd libs/connector-sqlserver && exec npm run build && exec npm test'
  pass_filenames: false

libs-aml:
  name: libs/aml
  language: system
  entry: bash -c 'cd libs/aml && exec npm run build && exec npm test'
  pass_filenames: false

libs-parser-dbml:
  name: libs/parser-dbml
  language: system
  entry: bash -c 'cd libs/parser-dbml && exec npm run build && exec npm test'
  pass_filenames: false

libs-parser-prisma:
  name: libs/parser-prisma
  language: system
  entry: bash -c 'cd libs/parser-prisma && exec npm run build && exec npm test'
  pass_filenames: false

libs-parser-sql:
  name: libs/parser-sql
  language: system
  entry: bash -c 'cd libs/parser-sql && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted && exec mix format'

mix-build:
  name: Elixir build
  language: system
  entry: bash -c 'cd backend && exec mix compile --force'
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: bash -c 'cd backend && exec mix credo --strict'
  pass_filenames: false

Rename entities, schema, catalog and databases
  libs/aml/src/editor.ts
Due: libs-aml

Rename attributes
  libs/aml/src/amlAst.ts
  libs/aml/src/editor.ts
Due: libs-aml

Publish extension
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/LICENSE.txt
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/completion.ts
  libs/aml/package.json
Due: none

Code review
  extensions/vscode-aml/src/web/convert.ts
  extensions/vscode-aml/src/web/preview.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/editor.test.ts
Due: libs-aml

Last fixes
  extensions/vscode-aml/.vscodeignore
Due: none

Closing words
  extensions/vscode-aml/CHANGELOG.md
Due: none

Improve VS Code extension with errors, suggestions, rename and conversions (#334)
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  backend/lib/azimutt_web/templates/website/docs/aml.html.heex
  extensions/vscode-aml/.gitignore
  extensions/vscode-aml/.vscodeignore
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/LICENSE.txt
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/blog.aml
  extensions/vscode-aml/resources/ecommerce.aml
  extensions/vscode-aml/resources/exhaustive.aml
  extensions/vscode-aml/src/web/aml.ts
  extensions/vscode-aml/src/web/completion.ts
  extensions/vscode-aml/src/web/convert.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/new.ts
  extensions/vscode-aml/src/web/open.ts
  extensions/vscode-aml/src/web/preview.ts
  extensions/vscode-aml/src/web/rename.ts
  extensions/vscode-aml/src/web/symbols.ts
  extensions/vscode-aml/src/web/utils.ts
  extensions/vscode-aml/tsconfig.json
  libs/aml/package.json
  libs/aml/src/amlAst.ts
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlParser.test.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/amlSamples.ts
  libs/aml/src/editor.test.ts
  libs/aml/src/editor.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
  libs/parser-sql/src/postgresParser.ts
  libs/utils/package.json
  libs/utils/src/array.ts
Due: libs-utils, libs-aml, libs-parser-sql

Enable BlackFriday
  backend/config/config.exs
  backend/lib/azimutt/services/blackfriday_srv.ex
  backend/lib/azimutt_web/controllers/subscribe_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/partials/_blackfriday_card.html.heex
  backend/lib/azimutt_web/templates/subscribe/index.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  extensions/vscode-aml/README.md
Due: mix-format, mix-build, mix-lint, mix-test

Fix MariaDB issue with BigInt #335
  cli/README.md
  cli/package.json
  gateway/package-lock.json
  gateway/package.json
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/mariadb.ts
  pnpm-lock.yaml
Due: libs-connector-mariadb

Add textarea webcomonent
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/ts-src/components/elm-monaco.ts
  frontend/ts-src/components/elm-textarea.ts
  frontend/ts-src/components/intl-date.ts
  frontend/ts-src/index.ts
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Remove WebComponents
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/ts-src/components/aml-editor.ts
  frontend/ts-src/components/az-editor.ts
  frontend/ts-src/components/intl-date.ts
  frontend/ts-src/index.ts
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

tmp
  frontend/ts-src/components/elm-monaco.ts
  frontend/ts-src/components/elm-textarea.ts
Due: frontend-build, frontend-test

Import AML in CLI
  cli/package.json
  cli/src/convert.ts
  pnpm-lock.yaml
Due: cli

DBML converter
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  libs/parser-dbml/src/index.ts
  libs/parser-prisma/src/index.ts
Due: libs-parser-dbml, libs-parser-prisma, mix-format, mix-build, mix-lint, mix-test

Fix MariaDB issue, allow BigInt serialization #335
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  libs/connector-mariadb/package.json
  libs/models/package.json
  libs/models/src/zod.test.ts
  libs/models/src/zod.ts
  libs/utils/package.json
  libs/utils/src/json.test.ts
  libs/utils/src/json.ts
  pnpm-lock.yaml
Due: libs-utils, libs-models, cli

Update deps
  backend/mix.lock
  cli/html-report/package.json
  cli/package.json
  extensions/browser-extension/package.json
  extensions/desktop/package.json
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  frontend/elm.json
  frontend/package.json
  gateway/package-lock.json
  gateway/package.json
  libs/aml/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/parser-dbml/package.json
  libs/parser-prisma/package.json
  libs/parser-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: none

Make CommonJS build explicit
  extensions/desktop/package.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/convert.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/new.ts
  extensions/vscode-aml/src/web/open.ts
  extensions/vscode-aml/src/web/preview.ts
  extensions/vscode-aml/src/web/utils.ts
  extensions/vscode-aml/tsconfig.json
  gateway/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/utils/package.json
Due: none

Remove CommonJS build in Rollup
  libs/aml/rollup.config.ts
  libs/parser-dbml/rollup.config.ts
  libs/parser-prisma/rollup.config.ts
  libs/parser-sql/rollup.config.ts
Due: libs-aml, libs-parser-dbml, libs-parser-prisma, libs-parser-sql

Add AML lib in CLI
  cli/package.json
  cli/src/convert.ts
  cli/src/index.ts
  cli/tsconfig.json
  pnpm-lock.yaml
Due: cli

Add links for VS Code extension
  backend/config/config.exs
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/Services/Urls.elm
Due: mix-format, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test

Increase plan limits
  backend/lib/azimutt.ex
  backend/lib/azimutt/organizations.ex
Due: mix-format, mix-build, mix-lint, mix-test

Fix BigInt in MariaDB connector #335
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/mariadb.ts
  pnpm-lock.yaml
Due: libs-connector-mariadb, cli

Add source documentation
  backend/config/config.exs
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbml.html.heex
  backend/lib/azimutt_web/templates/website/converters/_description-short.html.heex
  backend/lib/azimutt_web/templates/website/docs/aml.html.heex
  backend/lib/azimutt_web/templates/website/docs/api.html.heex
  backend/lib/azimutt_web/templates/website/docs/badge.html.heex
  backend/lib/azimutt_web/templates/website/docs/create-your-project.html.heex
  backend/lib/azimutt_web/templates/website/docs/data-exploration.html.heex
  backend/lib/azimutt_web/templates/website/docs/documentation.html.heex
  backend/lib/azimutt_web/templates/website/docs/sources.html.heex
  backend/priv/static/images/doc/project-new.png
  backend/priv/static/images/doc/source-new.jpg
  backend/priv/static/images/doc/source-refresh.png
  backend/priv/static/images/doc/sources.png
Due: mix-format, mix-lint, mix-test

Small doc improvements
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/features/aml.html.heex
  backend/priv/static/blog/2022-04-11-aml-a-language-to-define-your-database-schema/aml-a-language-to-define-your-database-schema.md
  extensions/vscode-aml/README.md
Due: mix-format, mix-build, mix-lint, mix-test

Small refacto VS Code extension
  extensions/vscode-aml/snippets.json
  extensions/vscode-aml/src/web/cache.ts
  extensions/vscode-aml/src/web/completion.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/rename.ts
  extensions/vscode-aml/src/web/symbols.ts
  libs/aml/src/index.ts
Due: libs-aml

PostgreSQL connector: add user
  libs/connector-postgres/src/postgres.ts
Due: libs-connector-postgres

Generate layout with SQL query or AI prompt
  backend/lib/azimutt_web/templates/website/docs/data-exploration.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Components/Molecules/Modal.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/LlmGenerateSqlBody.elm
  frontend/src/Components/Slices/LlmKey.elm
  frontend/src/Models/Project/Comment.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumnProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Modals.elm
  frontend/src/Ports.elm
  frontend/src/Shared.elm
  frontend/src/Track.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/models/package.json
  libs/models/src/analyze/index.ts
  libs/models/src/llm/index.ts
  libs/models/src/llm/llmUtils.test.ts
  libs/models/src/llm/llmUtils.ts
  libs/models/src/zod.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Fix: remove table from groups when hidden in layout
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-format, elm-build, elm-lint, elm-test

Add advanced search features
  backend/lib/azimutt_web/templates/website/docs/search.html.heex
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/Services/Search.elm
Due: elm-format, elm-build, elm-lint, elm-test

Add special tags for visual signals
  backend/lib/azimutt_web/templates/website/docs/documentation.html.heex
  backend/priv/static/images/doc/documentation-tags-special.png
  frontend/src/Components/Atoms/Icons.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Models/Tag.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
Due: elm-format, elm-build, elm-lint, elm-test

Add default color for tables
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Components/Atoms/Icons.elm
  frontend/src/Components/Organisms/ColorPicker.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Models/Project/TableMeta.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ColorMsg.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Color.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  libs/models/src/legacy/legacyProject.ts
  libs/models/src/project.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test

Introduce layout links
  frontend/src/Components/Molecules/Modal.elm
  frontend/src/Components/Slices/LlmKey.elm
  frontend/src/Libs/Tailwind.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/LinkLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/LinkLayoutId.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/LinkLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/LinkLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/LinkLayoutContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Modals.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Shared.elm
  frontend/src/Track.elm
  frontend/tailwind.config.js
  frontend/tests/Models/Project/LayoutTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  libs/models/src/legacy/legacyProject.ts
  libs/models/src/project.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test

Add API documentation
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/templates/website/docs/_h4.html.heex
  backend/lib/azimutt_web/templates/website/docs/api.html.heex
  backend/lib/azimutt_web/utils/project_schema.ex
  backend/priv/static/images/doc/api-user-token.png
  gateway/package-lock.json
  gateway/package.json
  libs/models/package.json
  libs/models/src/databaseUtils.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/src/legacy/legacyProject.ts
  libs/utils/src/logger.ts
  pnpm-lock.yaml
Due: libs-utils, libs-models, mix-format, mix-build, mix-lint, mix-test

Avoid cache on local Gateway check
  frontend/ts-src/services/backend.ts
  frontend/ts-src/utils/http.ts
Due: frontend-build, frontend-test

Fix Oracle connector: database infos, indexes and types
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  libs/connector-oracle/package.json
  libs/connector-oracle/src/oracle.ts
  pnpm-lock.yaml
Due: libs-connector-oracle, cli

Add npm tooltip on home page
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-aml: any of: libs/aml/.*\.ts*$
  libs-parser-dbml: any of: libs/parser-dbml/.*\.ts*$
  libs-parser-prisma: any of: libs/parser-prisma/.*\.ts*$
  libs-parser-sql: any of: libs/parser-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
