Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-aml, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: libs/utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-models:
  name: libs/models
  language: system
  entry: bash -c 'cd libs/models && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-bigquery:
  name: libs/connector-bigquery
  language: system
  entry: bash -c 'cd libs/connector-bigquery && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: libs/connector-couchbase
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mariadb:
  name: libs/connector-mariadb
  language: system
  entry: bash -c 'cd libs/connector-mariadb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: libs/connector-mongodb
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mysql:
  name: libs/connector-mysql
  language: system
  entry: bash -c 'cd libs/connector-mysql && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-oracle:
  name: libs/connector-oracle
  language: system
  entry: bash -c 'cd libs/connector-oracle && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: libs/connector-postgres
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-snowflake:
  name: libs/connector-snowflake
  language: system
  entry: bash -c 'cd libs/connector-snowflake && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-sqlserver:
  name: libs/connector-sqlserver
  language: system
  entry: bash -c 'cd libs/connector-sqlserver && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-aml:
  name: libs/serde-aml
  language: system
  entry: bash -c 'cd libs/serde-aml && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-dbml:
  name: libs/serde-dbml
  language: system
  entry: bash -c 'cd libs/serde-dbml && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-prisma:
  name: libs/serde-prisma
  language: system
  entry: bash -c 'cd libs/serde-prisma && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-sql:
  name: libs/serde-sql
  language: system
  entry: bash -c 'cd libs/serde-sql && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted && exec mix format'

mix-build:
  name: Elixir build
  language: system
  entry: bash -c 'cd backend && exec mix compile --force'
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: bash -c 'cd backend && exec mix credo --strict'
  pass_filenames: false

Add Begin and Commit statements
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add on conflict on insert
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Some fixes
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add Select distinct, filter and over
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add Create Materialized View
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add Create/Alter Sequence
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

tmp: Add Create Funtion statement
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Post: Clever Cloud partnership
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/seamless-data-exploration.md
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/banner.jpg
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/clever-cloud-addon-azimutt.jpg
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/clever-cloud-create-addon-azimutt-url.jpg
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/clever-cloud-create-addon-azimutt.jpg
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/clever-cloud-create-addon.jpg
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/clever-cloud-just-made-their-databases-way-more-accessible.md
Due: none

Bootstrap PostgreSQL Ast to Database
  libs/parser-sql/src/errors.ts
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
  libs/utils/src/array.ts
Due: libs-utils

Extract entities from Select
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
Due: none

Build Index & Comment statements
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/sql.ts
Due: mix-format, mix-build, mix-lint, mix-test

Build Type & Alter table
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
Due: none

Small refacto
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
Due: none

Add extra in pg database
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
Due: none

Add Create/Alter Schema
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add Create Function statement
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add alter column
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

code review
  libs/aml/src/amlParser.ts
  libs/models/src/parserResult.ts
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
  libs/utils/src/array.ts
Due: libs-utils, libs-models

tmp
  libs/models/src/parserResult.ts
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: libs-models

Post: polymorphic relations
  README.md
  backend/lib/azimutt/blog/article.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/templates/blog/_post_card.html.heex
  backend/lib/azimutt_web/templates/blog/show.html.heex
  backend/priv/static/blog/2021-10-01-the-story-behind-azimutt/the-story-behind-azimutt.md
  backend/priv/static/blog/2022-03-01-how-to-explore-your-database-schema-with-azimutt/how-to-explore-your-database-schema-with-azimutt.md
  backend/priv/static/blog/2022-03-07-why-you-should-avoid-tables-with-many-columns-and-how-to-fix-them/why-you-should-avoid-tables-with-many-columns-and-how-to-fix-them.md
  backend/priv/static/blog/2022-03-21-embed-your-database-diagram-anywhere/embed-your-database-diagram-anywhere.md
  backend/priv/static/blog/2022-03-28-how-to-choose-your-entity-relationship-diagram/how-to-choose-your-entity-relationship-diagram.md
  backend/priv/static/blog/2022-04-04-improve-your-database-design-with-azimutt-analyzer/improve-your-database-design-with-azimutt-analyzer.md
  backend/priv/static/blog/2022-04-11-aml-a-language-to-define-your-database-schema/aml-a-language-to-define-your-database-schema.md
  backend/priv/static/blog/2022-04-19-stop-using-auto-increment-for-primary-keys/stop-using-auto-increment-for-primary-keys.md
  backend/priv/static/blog/2022-07-04-changelog-2022-06/changelog-2022-06.md
  backend/priv/static/blog/2022-08-02-changelog-2022-07/changelog-2022-07.md
  backend/priv/static/blog/2022-09-01-changelog-2022-08/changelog-2022-08.md
  backend/priv/static/blog/2022-09-05-explore-postgresql-internals/explore-postgresql-internals.md
  backend/priv/static/blog/2022-10-04-changelog-2022-09/changelog-2022-09.md
  backend/priv/static/blog/2022-10-17-azimutt-v2/azimutt-v2.md
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/document-your-database-with-memos.md
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/integrate-azimutt-with-heroku-addon.md
  backend/priv/static/blog/2023-01-31-review-of-2022/review-of-2022.md
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/exploring-document-databases-with-azimutt.md
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/seamless-data-exploration.md
  backend/priv/static/blog/2024-09-29-the-best-language-to-design-databases-just-upgraded/the-best-language-to-design-databases-just-upgraded.md
  backend/priv/static/blog/2024-10-07-startup-founder-perspective-on-azimutt/startup-founder-perspective-on-azimutt.md
  backend/priv/static/blog/2024-10-28-clever-cloud-just-made-their-databases-way-more-accessible/clever-cloud-just-made-their-databases-way-more-accessible.md
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/duplicated-entities-with-hierarchy.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/duplicated-entities.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/duplicated-relations-using-dedicated-tables.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/multiple-relations-on-the-same-entity.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/polymorphic-relation-banner.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/polymorphic-relation-diagram.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/polymorphic-relations-for-database-access-control.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/simple-database-relation.jpg
  backend/priv/static/blog/2024-11-06-what-is-a-polymorphic-relation/what-is-a-polymorphic-relation.md
  backend/test/azimutt/blog/article_test.exs
Due: mix-format, mix-build, mix-lint, mix-test

Fix base64 decoding
  frontend/ts-src/index.ts
  frontend/ts-src/utils/crypto.test.ts
  frontend/ts-src/utils/crypto.ts
Due: frontend-build, frontend-test

Doc: GitHub badge
  README.md
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/docs/badge.html.heex
  libs/aml/src/docs.test.ts
Due: mix-format, mix-build, mix-lint, mix-test

Improve e-commerce demo with extended shopping domain
  README.md
  demos/ecommerce/README.md
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_05_shopping_postgres.sql
  demos/ecommerce/source_10_additional_relations.md
Due: none

Allow or replace in create function
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add ARRAY in expressions
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add CreateTrigger statement
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
  libs/parser-sql/src/sql.test.ts
Due: none

Refactor SQL AST
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Add change table owner
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: none

Publish lib
  backend/config/config.exs
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  libs/parser-sql/package.json
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: mix-format, mix-build, mix-lint, mix-test

Create PostgreSQL parser (#327)
  backend/config/config.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/resources/full.md
  libs/aml/src/amlParser.ts
  libs/models/src/parserResult.ts
  libs/parser-sql/package.json
  libs/parser-sql/resources/complex.postgres.sql
  libs/parser-sql/resources/full.postgres.sql
  libs/parser-sql/src/errors.ts
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
  libs/parser-sql/src/sql.test.ts
  libs/parser-sql/src/sql.ts
  libs/utils/src/array.ts
Due: libs-utils, libs-models, mix-format, mix-build, mix-lint, mix-test

Upgrade libs
  backend/assets/package-lock.json
  backend/assets/package.json
  backend/mix.lock
  browser-extension/package.json
  cli/html-report/package.json
  cli/package.json
  desktop/package.json
  frontend/package.json
  frontend/review/elm.json
  gateway/package-lock.json
  gateway/package.json
  libs/aml/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/parser-dbml/package.json
  libs/parser-prisma/package.json
  libs/parser-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: none

Improve SQL parser
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  libs/aml/rollup.config.ts
  libs/aml/src/index.ts
  libs/models/package.json
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/parser-dbml/rollup.config.ts
  libs/parser-prisma/rollup.config.ts
  libs/parser-sql/package.json
  libs/parser-sql/rollup.config.ts
  libs/parser-sql/src/index.ts
  libs/parser-sql/src/postgresAst.ts
  libs/parser-sql/src/postgresBuilder.test.ts
  libs/parser-sql/src/postgresBuilder.ts
  libs/parser-sql/src/postgresParser.test.ts
  libs/parser-sql/src/postgresParser.ts
Due: libs-models

Start comparison pages
  backend/assets/js/app.ts
  backend/assets/js/dbml.hljs.ts
  backend/config/config.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/_h2.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/_h3.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/_prose.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/chartdb.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dashboard.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/data-catalogs.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/database-design-languages.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/database-documentation.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/database-monitoring.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/datagrip.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbdiagram.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbeaver.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbml.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/drawdb.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/drawsql.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/entity-relationship-diagrams.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/index.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/metabase.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/navicat.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/schemaspy.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/sql-clients.html.heex
  backend/lib/azimutt_web/templates/website/converters/_editors-script.html.heex
  backend/lib/azimutt_web/templates/website/docs/ai.html.heex
  backend/lib/azimutt_web/templates/website/docs/layouts.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/views/website_view.ex
  backend/priv/static/images/comparisons/azimutt-ecommerce-diagram.jpg
  backend/priv/static/images/comparisons/dbdiagram-ecommerce-diagram.jpg
  backend/priv/static/images/comparisons/dbdiagram-vs-azimutt.jpg
  libs/parser-sql/src/postgresBuilder.ts
Due: mix-format, mix-build, mix-lint, mix-test

Improve OpenGraph
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/controllers/gallery_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/comparisons/dbdiagram.html.heex
  backend/lib/azimutt_web/templates/website/converters/converter.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/design.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/document.html.heex
  backend/lib/azimutt_web/templates/website/use-cases/explore.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-format, mix-build, mix-lint, mix-test

Create index page for comparisons
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/comparisons/_card.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dashboard.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/data-catalogs.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/database-design-languages.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/database-documentation.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/database-monitoring.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/entity-relationship-diagrams.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/index.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/sql-clients.html.heex
  backend/lib/azimutt_web/templates/website/connectors/_card.html.heex
  backend/priv/static/images/comparisons/amundsen-icon.png
  backend/priv/static/images/comparisons/atlan-icon.png
  backend/priv/static/images/comparisons/azimutt-ecommerce-diagram.jpg
  backend/priv/static/images/comparisons/beekeeperstudio-icon.png
  backend/priv/static/images/comparisons/chartdb-icon.png
  backend/priv/static/images/comparisons/datadog-database-monitoring-icon.png
  backend/priv/static/images/comparisons/datagrip-icon.png
  backend/priv/static/images/comparisons/dbdiagram-ecommerce-diagram.jpg
  backend/priv/static/images/comparisons/dbdiagram-icon.png
  backend/priv/static/images/comparisons/dbdiagram-vs-azimutt.jpg
  backend/priv/static/images/comparisons/dbeaver-icon.png
  backend/priv/static/images/comparisons/dbml-icon.png
  backend/priv/static/images/comparisons/drawdb-icon.png
  backend/priv/static/images/comparisons/drawsql-icon.png
  backend/priv/static/images/comparisons/ecommerce-1.jpg
  backend/priv/static/images/comparisons/ecommerce-2.jpg
  backend/priv/static/images/comparisons/ecommerce-3.jpg
  backend/priv/static/images/comparisons/ecommerce-4.jpg
  backend/priv/static/images/comparisons/ecommerce-5.jpg
  backend/priv/static/images/comparisons/metabase-icon.png
  backend/priv/static/images/comparisons/navicat-icon.png
  backend/priv/static/images/comparisons/schemaspy-icon.png
Due: mix-format, mix-build, mix-lint, mix-test

Improve sitemap
  backend/.formatter.exs
  backend/config/config.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/comparisons/_footer.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/chartdb.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/datagrip.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbdiagram.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbeaver.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbml.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/drawdb.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/drawsql.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/metabase.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/navicat.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/schemaspy.html.heex
  backend/lib/azimutt_web/templates/website/connectors/_card.html.heex
  backend/lib/azimutt_web/templates/website/connectors/_description-short.html.heex
  backend/lib/azimutt_web/templates/website/connectors/_footer.html.heex
  backend/priv/static/images/comparisons/datadog-icon.png
  backend/test/azimutt/utils/mapx_test.exs
Due: mix-format, mix-build, mix-lint, mix-test

Add DBML comparison
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/website/comparisons/dbdiagram.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbml.html.heex
  backend/lib/azimutt_web/templates/website/docs/aml/relations.html.heex
  backend/priv/static/images/comparisons/azimutt-sample.jpg
  backend/priv/static/images/comparisons/dbdiagram-sample.jpg
  backend/priv/static/images/comparisons/dbml-vs-aml.jpg
  libs/aml/README.md
Due: mix-format, mix-build, mix-lint, mix-test

review
  backend/assets/js/dbml.hljs.ts
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/layout/_head_seo.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbdiagram.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/dbml.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/index.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

Improve open-graph
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/layout/_head_seo.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-format, mix-build, mix-lint, mix-test

review
  backend/lib/azimutt_web/templates/website/comparisons/dbml.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-format, mix-build, mix-lint, mix-test

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-serde-aml: any of: libs/serde-aml/.*\.ts*$
  libs-serde-dbml: any of: libs/serde-dbml/.*\.ts*$
  libs-serde-prisma: any of: libs/serde-prisma/.*\.ts*$
  libs-serde-sql: any of: libs/serde-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
