Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: \.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: \.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

add tooltips
  frontend/src/Components/Organisms/Details.elm
Due: elm-test, elm-lint, elm-build, elm-format

Sort AML source by name + don't close AML sidebar on save
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/tests/DataSources/AmlMiner/AmlParserTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

On AML edit, sort layout columns as AML ones
  frontend/src/Components/Organisms/Details.elm
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/Libs/Tuple3.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ShowColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Place new tables at center of the viewport
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add login and subscription events (#155)
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Services/Backend.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

fix
  backend/lib/azimutt_web/controllers/user_session_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

add constraints in details
  frontend/src/Components/Atoms/Icons.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Bool.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Help.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add heroku add-on banner
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/website/_heroku_addon.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

show samples values in table details
  backend/lib/azimutt/analyzer/column_stats.ex
  backend/lib/azimutt/analyzer/mysql.ex
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/table_stats.ex
  backend/lib/azimutt/utils/result.ex
  frontend/src/Components/Atoms/Badge.elm
  frontend/src/Components/Atoms/Kbd.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Basics.elm
  frontend/src/Libs/Nel.elm
  frontend/src/Models/Project/ColumnStats.elm
  frontend/src/Models/Project/ColumnValue.elm
  frontend/src/Models/Project/TableStats.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/EditNotes.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Help.elm
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/types/stats.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

final fixes
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/ts-src/index.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

one last ^^
  frontend/src/Components/Organisms/Details.elm
Due: elm-test, elm-lint, elm-build, elm-format

add sorts everywhere
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumnRef.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix tooltip
  frontend/src/Components/Organisms/Details.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add stripe events
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add GitHub & Twitter services
  backend/config/config.exs
  backend/lib/azimutt/services/github_srv.ex
  backend/lib/azimutt/services/twitter_srv.ex
  backend/lib/azimutt/utils/mapx.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/azimutt/services/github_srv_test.exs
  backend/test/azimutt/services/stripe_srv_test.exs
  backend/test/azimutt/services/twitter_srv_test.exs
  backend/test/azimutt/utils/mapx_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add stripe events (#156)
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add GitHub & Twitter services (#157)
  backend/config/config.exs
  backend/lib/azimutt/services/github_srv.ex
  backend/lib/azimutt/services/twitter_srv.ex
  backend/lib/azimutt/utils/mapx.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/azimutt/services/github_srv_test.exs
  backend/test/azimutt/services/stripe_srv_test.exs
  backend/test/azimutt/services/twitter_srv_test.exs
  backend/test/azimutt/utils/mapx_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add Dagre for auto layout
  backend/lib/azimutt/stripe_handler.ex
  frontend/elm.json
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/Relation.elm
  frontend/src/Conf.elm
  frontend/src/Libs/Models/Position.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/Models/Project/TableProps.elm
  frontend/src/Models/Size.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/PositionHint.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/Ports.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/CanvasTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/Fuzzers.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Add debug functions for diagram positions
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Models/Area.elm
  frontend/src/Libs/Models/Position.elm
  frontend/src/Libs/Models/Size.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/Models/Size.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix the fit-to-diagram feature
  frontend/src/Models/Area.elm
  frontend/src/Models/Project/CanvasProps.elm
Due: elm-test, elm-lint, elm-build, elm-format

add few comments
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add auto-layout feature + fix fit-to-screen one (#158)
  backend/lib/azimutt/stripe_handler.ex
  frontend/elm.json
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/Relation.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Conf.elm
  frontend/src/Libs/Models/Area.elm
  frontend/src/Libs/Models/Position.elm
  frontend/src/Libs/Models/Size.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/Models/Project/CanvasProps.elm
  frontend/src/Models/Project/TableProps.elm
  frontend/src/Models/Size.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/PositionHint.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/Ports.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/CanvasTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/Fuzzers.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

define model
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Memo.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/Fuzzers.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

setup draggable memos
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Html/Events.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add small page with events and counters
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

format
  backend/lib/azimutt/tracking.ex
Due: mix-test, mix-lint, mix-build, mix-format

rm caddy file
  Caddyfile
Due: none

fix formating and update deps
  backend/config/dev.exs
  backend/config/runtime.exs
  backend/lib/azimutt/admin.ex
  backend/mix.exs
  backend/mix.lock
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add admin layout and update style
  backend/assets/tailwind.config.js
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard_view.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/admin_dashboard.html.heex
  backend/test/azimutt/gallery_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

change folder structure and add events ctrl and view
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/event/show.html.heex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

add show event
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/admin_dashboard.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

refacto
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/event/index.html.heex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/admin_dashboard.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add user view
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/index.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/admin/user/user_view.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

some changes
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/mix.exs
Due: mix-test, mix-lint, mix-build, mix-format

fix dashboard link
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
Due: none

improve user show
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/project_view.ex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/admin_dashboard.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

allow to edit memos
  frontend/src/Components/Atoms/Markdown.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/MemoId.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

handle change size for memo
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/Ports.elm
Due: elm-test, elm-lint, elm-build, elm-format

some fixes
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/MemoId.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/MemoContextMenu.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format
