Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli-test
      name: 'CLI test'
      language: system
      entry: npm run cli:test
      pass_filenames: false
      files: cli/.*\.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

fix /blog
  Dockerfile
Due: none

Update .github/workflows/docker.yml
  .github/workflows/docker.yml
Due: none

remove blog logs
  backend/lib/azimutt/blog.ex
Due: mix-test, mix-lint, mix-build, mix-format

remove deploy staging
  .github/workflows/push.yml
Due: none

feat: dockerize application (#170)
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/push.yml
  Dockerfile
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt/blog.ex
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt/release.ex
  backend/mix.exs
  backend/rel/overlays/bin/migrate
  backend/rel/overlays/bin/migrate.bat
  backend/rel/overlays/bin/server
  backend/rel/overlays/bin/server.bat
  docker-compose.yml
  frontend/package.json
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Allow no answer on onboarding
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

chore: Add SSL support on Dockerfile
  Dockerfile
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix: Allow no answer on onboarding (#200)
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

chore: Add SSL support on Dockerfile (#201)
  Dockerfile
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

chore: add variable in Dockerfile
  Dockerfile
Due: none

chore: add variable in Dockerfile (#202)
  Dockerfile
Due: none

chore: add optional ssl support
  Dockerfile
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

feat: add terms page
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/terms.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add icons
  backend/config/runtime.exs
  backend/lib/azimutt_web/components/icon.ex
  backend/priv/static/gallery/drupal.png
  backend/priv/static/gallery/magento.png
  frontend/src/Models/Project/ColumnType.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

feat: add privacy page
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/privacy.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add icons (#204)
  backend/config/runtime.exs
  backend/lib/azimutt_web/components/icon.ex
  backend/priv/static/gallery/drupal.png
  backend/priv/static/gallery/magento.png
  frontend/src/Models/Project/ColumnType.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

chore: add optional ssl support (#203)
  Dockerfile
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt/release.ex
Due: mix-test, mix-lint, mix-build, mix-format

feat: Add pivracy policies (#205)
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/privacy.html.heex
  backend/lib/azimutt_web/templates/website/terms.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

fix: add link to producthunt post and remove time condition
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

tmp
  backend/lib/azimutt/projects.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix: add redirection to organization page, and fix ssl issue in dev
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/website_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add logs for file storage
  backend/config/runtime.exs
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/projects/project_file.ex
Due: mix-test, mix-lint, mix-build, mix-format

Init electron app
  desktop/.gitignore
  desktop/forge.config.js
  desktop/package-lock.json
  desktop/package.json
  desktop/src/index.css
  desktop/src/index.html
  desktop/src/index.js
  desktop/src/preload.js
Due: none

add versions
  desktop/src/index.html
  desktop/src/preload.js
Due: none

Setup TS
  desktop/.eslintrc.json
  desktop/forge.config.js
  desktop/forge.config.ts
  desktop/package-lock.json
  desktop/package.json
  desktop/src/index.html
  desktop/src/index.ts
  desktop/src/preload.ts
  desktop/src/renderer.ts
  desktop/tsconfig.json
  desktop/webpack.main.config.ts
  desktop/webpack.plugins.ts
  desktop/webpack.renderer.config.ts
  desktop/webpack.rules.ts
Due: none

add ipc
  desktop/src/index.html
  desktop/src/index.ts
  desktop/src/preload.ts
  desktop/src/renderer.ts
  desktop/src/types.ts
Due: none

refactor
  desktop/forge.config.ts
  desktop/src/main/index.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.css
  desktop/src/renderer/index.html
  desktop/src/renderer/index.ts
  desktop/src/shared.ts
  desktop/webpack.main.config.ts
Due: none

fix: make SSL default optional, and desactivate by default. To run it, add SSL=true.
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

fix: rename SSL var to DATABASE_ENABLE_SSL
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

Load Azimutt in desktop app
  desktop/src/main/index.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  frontend/src/Services/DatabaseSource.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/electron.ts
  frontend/ts-src/types/window.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

publish desktop app
  browser-extension/package.json
  cli/package.json
  desktop/README.md
  desktop/forge.config.ts
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/index.ts
  frontend/package.json
  package.json
Due: none

query pg
  backend/priv/repo/seeds.exs
  cli/src/export/postgres.ts
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  desktop/src/main/database-url.ts
  desktop/src/main/index.ts
  desktop/src/main/postgres.ts
  desktop/src/main/utils/object.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  desktop/src/shared.ts
  frontend/ts-src/index.ts
  frontend/ts-src/types/desktop.ts
  frontend/ts-src/types/window.ts
Due: mix-test, mix-lint, mix-format, ts-test, ts-lint, cli-test

fix upload folder
  backend/config/runtime.exs
  backend/lib/azimutt/projects/project_file.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix typo
  backend/config/README.md
  frontend/src/PagesComponents/Organization_/Project_/Models/EmbedMode.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add tags for tables & columns
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Libs/Models/Tag.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/ColumnMeta.elm
  frontend/src/Models/Project/TableMeta.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/TagsMsg.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Tags.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Use ColumnPath instead of ColumnName to handle nested columns
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Models/Project/TableMeta.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/TagsMsg.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Tags.elm
  frontend/src/Track.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Improve tags design
  frontend/src/Components/Atoms/Icons.elm
  frontend/src/Components/Organisms/Details.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add line through when tag deprecated
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Models/Tag.elm
  frontend/src/Models/Project/TableMeta.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

update home stats
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none
