Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-aml, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-serde-aml: any of: libs/serde-aml/.*\.ts*$
  libs-serde-dbml: any of: libs/serde-dbml/.*\.ts*$
  libs-serde-prisma: any of: libs/serde-prisma/.*\.ts*$
  libs-serde-sql: any of: libs/serde-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Replace Elm Dagre by JS one
  frontend/elm.json
  frontend/package.json
  frontend/src/Libs/List.elm
  frontend/src/Libs/Set.elm
  frontend/src/Models/AutoLayout.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/ports.ts
  pnpm-lock.yaml
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Add cytoscape layouts
  frontend/package.json
  frontend/src/Libs/Models/Area.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/AutoLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/ports.ts
  libs/models/src/common.ts
  pnpm-lock.yaml
Due: libs-models, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Remove Dagre lib
  frontend/package.json
  frontend/src/Models/AutoLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/basics.ts
  pnpm-lock.yaml
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Improve home page
  backend/assets/css/app.css
  backend/assets/tailwind.config.js
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/images/icons/checkmark.svg
Due: mix-format, mix-build, mix-lint, mix-test

Improve auto-layout for selected tables
  frontend/src/Models/Area.elm
  frontend/src/Models/AutoLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/basics.ts
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Remove table limit on initial layout
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/Conf.elm
  frontend/src/Models/Organization.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-format, elm-build, elm-lint, elm-test

Fix
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/ts-src/index.ts
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Improve welcome screen & add top tables in search
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
Due: elm-format, elm-build, elm-lint, elm-test

Improve auto-layout & first use UX (#332)
  backend/assets/css/app.css
  backend/assets/tailwind.config.js
  backend/config/config.exs
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/images/icons/checkmark.svg
  frontend/elm.json
  frontend/package.json
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/Conf.elm
  frontend/src/Libs/List.elm
  frontend/src/Libs/Models/Area.elm
  frontend/src/Libs/Set.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/AutoLayout.elm
  frontend/src/Models/Organization.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/ports.ts
  libs/models/src/common.ts
  pnpm-lock.yaml
Due: libs-models, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Add new comparison page
  backend/config/config.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/comparisons/dbdiagram.html.heex
  backend/lib/azimutt_web/templates/website/comparisons/drawsql.html.heex
  backend/lib/azimutt_web/templates/website/privacy.html.heex
  backend/lib/azimutt_web/templates/website/terms.html.heex
  backend/priv/static/blog/2022-04-11-aml-a-language-to-define-your-database-schema/aml-a-language-to-define-your-database-schema.md
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/seamless-data-exploration.md
  backend/priv/static/images/comparisons/drawsql-ecommerce-diagram.jpg
  backend/priv/static/images/comparisons/drawsql-sample.jpg
  backend/priv/static/images/comparisons/drawsql-vs-azimutt.jpg
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/ts-src/index.ts
Due: mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Generate boilerplate
  extensions/vscode-aml/.gitignore
  extensions/vscode-aml/.npmrc
  extensions/vscode-aml/.vscodeignore
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/README.md
  extensions/vscode-aml/esbuild.js
  extensions/vscode-aml/eslint.config.mjs
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/test/suite/extension.test.ts
  extensions/vscode-aml/src/web/test/suite/mochaTestRunner.ts
  extensions/vscode-aml/tsconfig.json
  extensions/vscode-aml/vsc-extension-quickstart.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update libs
  extensions/vscode-aml/package.json
  pnpm-lock.yaml
Due: none

Basic language support
  extensions/vscode-aml/DEVELOPMENT.md
  extensions/vscode-aml/assets/icon-white.png
  extensions/vscode-aml/assets/icon-white.svg
  extensions/vscode-aml/assets/icon.png
  extensions/vscode-aml/assets/icon.svg
  extensions/vscode-aml/language-configuration.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/schema.aml
  extensions/vscode-aml/resources/schema.json
  extensions/vscode-aml/resources/schema.sql
  extensions/vscode-aml/snippets.json
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/syntaxes/aml.tmLanguage.json
Due: none

Improve syntax highllight
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/schema.aml
  extensions/vscode-aml/resources/schema.json
  extensions/vscode-aml/resources/schema.sql
  extensions/vscode-aml/snippets.json
  extensions/vscode-aml/syntaxes/aml.tmLanguage.json
  libs/aml/src/extensions/monaco.ts
Due: none

Add converters
  extensions/vscode-aml/eslint.config.mjs
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/extension.ts
  pnpm-lock.yaml
Due: none

Improve doc
  .gitignore
  backend/.gitignore
  extensions/vscode-aml/.gitignore
  extensions/vscode-aml/.vscode/extensions.json
  extensions/vscode-aml/.vscode/launch.json
  extensions/vscode-aml/.vscode/settings.json
  extensions/vscode-aml/.vscode/tasks.json
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/DEVELOPMENT.md
  extensions/vscode-aml/README.md
  extensions/vscode-aml/assets/screenshot.png
  extensions/vscode-aml/package.json
  extensions/vscode-aml/tsconfig.json
  extensions/vscode-aml/vsc-extension-quickstart.md
Due: none

Move VS Code extension to npm
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add boilerplate for AML preview
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/extension.ts
Due: none

debug
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/src/web/extension.ts
Due: none

Refactor
  extensions/vscode-aml/src/web/extension.ts
Due: none

Remove Azimutt lib usage to fix build errors
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/extension.ts
Due: none

Add Symbol provider
  extensions/vscode-aml/README.md
  extensions/vscode-aml/src/web/extension.ts
Due: none

Add open to Azimutt
  extensions/vscode-aml/README.md
  extensions/vscode-aml/src/web/extension.ts
Due: none

Publish extension
  extensions/vscode-aml/.gitignore
  extensions/vscode-aml/.vscodeignore
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/README.md
Due: none

try
  extensions/vscode-aml/README.md
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/syntaxes/aml.tmLanguage.json
Due: none

Add svg in extensions
  extensions/vscode-aml/.vscodeignore
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package.json
Due: none

Marketing improvements
  extensions/vscode-aml/README.md
  extensions/vscode-aml/assets/icon-white.png
  extensions/vscode-aml/assets/icon.png
  extensions/vscode-aml/assets/screenshot.png
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/extension.ts
Due: none

Code review
  backend/lib/azimutt_web/templates/website/docs/create-your-project.html.heex
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/schema.json
  extensions/vscode-aml/resources/schema.sql
  extensions/vscode-aml/src/web/extension.ts
Due: none

fix
  extensions/vscode-aml/README.md
Due: none

Refactor
  extensions/vscode-aml/.gitignore
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package.json
  extensions/vscode-aml/src/web/convert.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/new.ts
  extensions/vscode-aml/src/web/preview.ts
  extensions/vscode-aml/src/web/symbols.ts
  extensions/vscode-aml/src/web/utils.ts
Due: none

Implement converters
  extensions/vscode-aml/src/web/aml.ts
  extensions/vscode-aml/src/web/convert.ts
  extensions/vscode-aml/src/web/utils.ts
  extensions/vscode-aml/tsconfig.json
Due: none

Small changes
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/src/web/aml.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/preview.ts
Due: none

Add AML diagnostics
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/blog.aml
  extensions/vscode-aml/resources/ecommerce.aml
  extensions/vscode-aml/src/web/completion.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/new.ts
  extensions/vscode-aml/src/web/preview.ts
Due: none

Implement rename for entities and attributes
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package-lock.json
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/ecommerce.aml
  extensions/vscode-aml/src/web/aml.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/rename.ts
  extensions/vscode-aml/src/web/utils.ts
  libs/aml/package.json
  libs/aml/src/amlAst.ts
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlParser.test.ts
  libs/aml/src/amlParser.ts
  libs/parser-sql/src/postgresParser.ts
  libs/utils/package.json
  libs/utils/src/array.ts
Due: libs-utils

Move rename to aml lib
  extensions/vscode-aml/src/web/aml.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/new.ts
  extensions/vscode-aml/src/web/rename.ts
  extensions/vscode-aml/src/web/utils.ts
  libs/aml/src/amlAst.test.ts
  libs/aml/src/amlAst.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/amlSamples.ts
  libs/aml/src/index.ts
Due: none

Add suggestions
  extensions/vscode-aml/CHANGELOG.md
  extensions/vscode-aml/README.md
  extensions/vscode-aml/src/web/completion.ts
  extensions/vscode-aml/src/web/diagnostics.ts
  extensions/vscode-aml/src/web/extension.ts
  libs/aml/src/amlAst.test.ts
  libs/aml/src/amlAst.ts
  libs/aml/src/editor.test.ts
  libs/aml/src/editor.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
Due: none

Add open in Azimutt command
  backend/lib/azimutt_web/templates/website/docs/aml.html.heex
  extensions/vscode-aml/README.md
  extensions/vscode-aml/package.json
  extensions/vscode-aml/resources/blog.aml
  extensions/vscode-aml/resources/ecommerce.aml
  extensions/vscode-aml/resources/exhaustive.aml
  extensions/vscode-aml/src/web/completion.ts
  extensions/vscode-aml/src/web/extension.ts
  extensions/vscode-aml/src/web/open.ts
  extensions/vscode-aml/src/web/preview.ts
  libs/aml/src/editor.ts
Due: none
