Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

Launch gateway from cli
  .pre-commit-config.yaml
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/gateway.ts
  cli/src/index.ts
  gateway/.eslintrc.cjs
  gateway/.gitignore
  gateway/.npmignore
  gateway/README.md
  gateway/package.json
  gateway/src/index.ts
  gateway/src/plugins/config.ts
  gateway/src/routes/index.ts
  gateway/src/server.ts
  gateway/src/start.ts
  gateway/tests/routes/index.test.ts
  gateway/tests/server.test.ts
  gateway/tsconfig.json
Due: gateway, cli

Make Azimutt reach at local gateway if available
  frontend/ts-src/services/backend.ts
  gateway/package.json
Due: frontend-build, frontend-test

Publish CLI with gateway
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/gateway.ts
  gateway/.npmignore
  gateway/README.md
Due: cli

Improve Azimutt UI for CLI Gateway
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/elm/assets/logos/couchbase.png
  backend/priv/static/elm/assets/logos/mongodb.png
  backend/priv/static/elm/assets/logos/postgres.png
  backend/priv/static/elm/assets/logos/sqlserver.png
  backend/priv/static/images/logos/postgres.png
  cli/README.md
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/SourceLogs.elm
  frontend/ts-src/utils/http.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

last fix
  frontend/src/Services/SourceLogs.elm
  gateway/src/server.ts
Due: elm-test, elm-lint, elm-build, elm-format, gateway

Use CLI Gateway for local databases (#224)
  .pre-commit-config.yaml
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/elm/assets/logos/couchbase.png
  backend/priv/static/elm/assets/logos/mongodb.png
  backend/priv/static/elm/assets/logos/postgres.png
  backend/priv/static/elm/assets/logos/sqlserver.png
  backend/priv/static/images/logos/postgres.png
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/gateway.ts
  cli/src/index.ts
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/SourceLogs.elm
  frontend/ts-src/services/backend.ts
  frontend/ts-src/utils/http.ts
  gateway/.eslintrc.cjs
  gateway/.gitignore
  gateway/.npmignore
  gateway/README.md
  gateway/package.json
  gateway/src/index.ts
  gateway/src/plugins/config.ts
  gateway/src/routes/index.ts
  gateway/src/server.ts
  gateway/src/start.ts
  gateway/tests/routes/index.test.ts
  gateway/tests/server.test.ts
  gateway/tsconfig.json
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Bootstrap MySQL connector
  libs/connector-mongodb/README.md
  libs/connector-mysql/.gitignore
  libs/connector-mysql/.npmignore
  libs/connector-mysql/README.md
  libs/connector-mysql/jest.config.js
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/query.ts
  libs/connector-mysql/tests/constants.ts
  libs/connector-mysql/tests/mysql.test.ts
  libs/connector-mysql/tsconfig.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types

Clean package-lock in libs
  libs/connector-couchbase/package-lock.json
  libs/connector-mongodb/package-lock.json
  libs/connector-mysql/package-lock.json
  libs/connector-postgres/package-lock.json
  libs/database-types/package-lock.json
  libs/json-infer-schema/package-lock.json
  libs/shared/package-lock.json
  libs/utils/package-lock.json
Due: none

Update parsing url lib
  .pre-commit-config.yaml
  libs/README.md
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-mysql/tests/mysql.test.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  package.json
Due: libs-database-types

Extract MySQL schema
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/tests/mysql.test.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/utils/src/array.ts
  libs/utils/tests/array.test.ts
Due: libs-utils, libs-connector-postgres

Add stats to MySQL connector
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/stats.test.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/stats.ts
Due: libs-connector-postgres

fix
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-mysql/tests/mysql.test.ts
Due: none

Finalize MySQL connector
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/export.ts
  cli/src/index.ts
  frontend/src/Services/DatabaseSource.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/index.ts
  gateway/src/routes/index.ts
  gateway/src/services/connector.ts
Due: elm-test, elm-lint, elm-build, elm-format, gateway, cli

last fixes
  cli/README.md
  cli/src/index.ts
  gateway/README.md
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  libs/connector-mysql/tests/mysql.test.ts
Due: gateway, cli

UI adjustement
  frontend/src/Services/DatabaseSource.elm
Due: elm-test, elm-lint, elm-build, elm-format

Update all libs
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/utils/package-lock.json
  libs/utils/package.json
Due: gateway, cli

Fix MySQL show column data query
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Services/DatabaseQueries.elm
Due: elm-test, elm-lint, elm-build, elm-format

Several minor UI improvements
  cli/README.md
  cli/src/gateway.ts
  cli/src/index.ts
  cli/src/version.ts
  frontend/src/Conf.elm
  frontend/src/Pages/Embed.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  gateway/README.md
  gateway/src/routes/index.ts
  gateway/src/version.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Load all table and arrange them on project load if few tables in project
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

Track project_loaded from frontend
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/test/azimutt/tracking_test.exs
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Track.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Make parsing error less scary ^^
  frontend/src/Services/SqlSource.elm
Due: elm-test, elm-lint, elm-build, elm-format

add posthog
  backend/config/runtime.exs
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_hfull.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization_new.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
Due: mix-format, mix-lint, mix-test

Bootstrap SQL Server connector with execQuery
  libs/connector-mysql/README.md
  libs/connector-sqlserver/.gitignore
  libs/connector-sqlserver/.npmignore
  libs/connector-sqlserver/README.md
  libs/connector-sqlserver/jest.config.js
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/query.ts
  libs/connector-sqlserver/src/types.ts
  libs/connector-sqlserver/tests/constants.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/connector-sqlserver/tsconfig.json
Due: none

Refactor sql connectors
  .pre-commit-config.yaml
  cli/README.md
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/DatabaseSource.elm
  libs/README.md
  libs/connector-mysql/src/common/index.ts
  libs/connector-mysql/src/common/query.ts
  libs/connector-mysql/src/common/types.ts
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/query.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/mysql.test.ts
  libs/connector-postgres/src/common/index.ts
  libs/connector-postgres/src/common/query.ts
  libs/connector-postgres/src/common/types.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/connector-sqlserver/src/common/index.ts
  libs/connector-sqlserver/src/common/query.ts
  libs/connector-sqlserver/src/common/types.ts
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/query.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/src/stats.ts
  libs/connector-sqlserver/src/types.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/connector-sqlserver/tests/stats.test.ts
  libs/database-types/tests/url.test.ts
  package.json
Due: libs-database-types, libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format

remove conn
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_hfull.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization_new.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
Due: none

Update backend/config/runtime.exs
  backend/config/runtime.exs
Due: mix-format, mix-lint, mix-test

change posthog config in runtime
  backend/config/runtime.exs
Due: mix-format, mix-lint, mix-test

parse sql server url
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types

Add identify
  backend/config/runtime.exs
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_hfull.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization_new.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
  backend/mix.exs
  backend/mix.lock
Due: mix-format, mix-lint, mix-test, mix-build

remove identify
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: none

chore: add posthog (#226)
  backend/config/runtime.exs
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_hfull.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization_new.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
  backend/mix.exs
  backend/mix.lock
Due: mix-format, mix-lint, mix-test, mix-build

Add PostHog identify
  backend/lib/azimutt/services/bento_srv.ex
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

fix
  backend/lib/azimutt/services/posthog_srv.ex
  frontend/ts-src/services/backend.ts
Due: mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

add instance
  backend/lib/azimutt/services/posthog_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Improve PostHog integration (#228)
  backend/lib/azimutt/services/bento_srv.ex
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  frontend/ts-src/services/backend.ts
Due: mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

Add few more props
  backend/lib/azimutt/services/posthog_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Improve tracking
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Add groups
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_hfull.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization_new.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

quick fix
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: none

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
