Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

ts-test:
  name: TypeScript test
  language: system
  entry: npm run ts:test
  pass_filenames: false

ts-lint:
  name: TypeScript lint
  language: system
  entry: npm run ts:lint
  pass_filenames: false

allow to delete not found local projects, fix #133
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
Due: elm-test, elm-lint, elm-build, elm-format

Make github and stripe creds optional
  backend/config/runtime.exs
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/templates/project/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

imporve sql parser
  frontend/src/DataSources/SqlMiner/Parsers/CreateTable.elm
  frontend/tests/DataSources/SqlMiner/Parsers/CreateTableTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Remove unnecessary method extraction 'sourceById'
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
Due: elm-test, elm-lint, elm-build, elm-format

Refine behavior and memoize the list of table IDs from other sources (perf)
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
Due: elm-test, elm-lint, elm-build, elm-format

Do not hide a table when removed in AML if it exists in another source
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
Due: elm-test, elm-lint, elm-build, elm-format

Format frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add missing type annotations
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
Due: elm-test, elm-lint, elm-build, elm-format

Actually use the table ID cache and review formatting issues
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
Due: elm-test, elm-lint, elm-build, elm-format

add audit logs for projects
  backend/lib/azimutt/audit.ex
  backend/lib/azimutt/audit/event.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/priv/repo/migrations/20221116095052_create_audit.exs
  backend/test/azimutt/audit_test.exs
  backend/test/azimutt/organizations_test.exs
  backend/test/support/fixtures/audit_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

Keep shown table in diagram when removed from AML (#137)
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
Due: elm-test, elm-lint, elm-build, elm-format

get gallery from db instead of static files
  backend/lib/azimutt/blog/article.ex
  backend/lib/azimutt/gallery.ex
  backend/lib/azimutt/gallery/example.ex
  backend/lib/azimutt/gallery/sample.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/utils/markdown.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/gallery_controller.ex
  backend/lib/azimutt_web/controllers/sitemap_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/templates/gallery/show.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/utils/ctx_params.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/lib/azimutt_web/views/gallery_view.ex
  backend/priv/repo/migrations/20221121135140_create_gallery.exs
  backend/test/azimutt/gallery_test.exs
  backend/test/support/fixtures/gallery_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

use samples for new projects
  backend/lib/azimutt/gallery.ex
  backend/lib/azimutt_web/controllers/api/gallery_controller.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/gallery_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/views/api/gallery_view.ex
  backend/priv/repo/migrations/20221121135140_create_gallery.exs
  backend/priv/static/gallery/basic.png
  backend/priv/static/gallery/basic/basic.md
  backend/priv/static/gallery/gladys.png
  backend/priv/static/gallery/gladys/gladys.md
  backend/priv/static/gallery/gospeak.png
  backend/priv/static/gallery/gospeak/gospeak.md
  backend/priv/static/gallery/postgresql.png
  backend/priv/static/gallery/postgresql/postgresql.md
  backend/priv/static/gallery/wordpress.png
  backend/priv/static/gallery/wordpress/wordpress.md
  backend/test/azimutt/gallery_test.exs
  frontend/src/Components/Atoms/Icon.elm
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/PagesComponents/New/Models.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/ProjectSource.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

fix sample loading project
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/PagesComponents/New/Models.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/ProjectSource.elm
  frontend/src/Services/SampleSource.elm
Due: elm-test, elm-lint, elm-build, elm-format

remove /content endpoint
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  frontend/src/Services/Backend.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

change icon for public projects
  backend/lib/azimutt/gallery.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/organization/_project_icon.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/priv/repo/migrations/20221121135140_create_gallery.exs
  backend/test/azimutt/gallery_test.exs
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/ProjectStorage.elm
  frontend/src/Models/Project/ProjectVisibility.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Services/Backend.elm
  frontend/src/Shared.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

allow promo codes
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

allow promo codes (#144)
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

delete samples
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/sitemap_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_project_icon.html.heex
  backend/priv/static/blog/2022-03-21-embed-your-database-diagram-anywhere/embed-your-database-diagram-anywhere.md
  backend/priv/static/blog/2022-09-05-explore-postgresql-internals/explore-postgresql-internals.md
  backend/priv/static/elm/samples/gladys.azimutt.json
  backend/priv/static/elm/samples/gladys.json
  backend/priv/static/elm/samples/gladys.sql
  backend/priv/static/elm/samples/gospeak.azimutt.json
  backend/priv/static/elm/samples/gospeak.json
  backend/priv/static/elm/samples/gospeak.sql
  backend/priv/static/elm/samples/information_schema.sql
  backend/priv/static/elm/samples/pg_catalog.sql
  backend/priv/static/elm/samples/postgresql.azimutt.json
  backend/priv/static/elm/samples/wordpress.azimutt.json
  backend/priv/static/elm/samples/wordpress.json
  backend/priv/static/elm/samples/wordpress.sql
  backend/priv/static/service-worker.js
  frontend/src/Models/Project.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/EmbedKind.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Sharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/JsonSource.elm
  frontend/src/Services/ProjectSource.elm
  frontend/src/Services/SqlSource.elm
  frontend/ts-src/types/project.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

fix comments
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix some warnings
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/project_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list_empty.html.heex
  backend/lib/azimutt_web/templates/organization/show.html.heex
  backend/lib/azimutt_web/templates/project/_activity_feed.html.heex
  backend/lib/azimutt_web/templates/project/_schema_counters.html.heex
  backend/lib/azimutt_web/templates/project/form.html.heex
  backend/lib/azimutt_web/templates/project/index.html.heex
  backend/lib/azimutt_web/templates/project/show.html.heex
  backend/lib/azimutt_web/views/organization_view.ex
  backend/lib/azimutt_web/views/project_view.ex
  backend/test/azimutt/projects_test.exs
  backend/test/azimutt/services/stripe_test.exs
  backend/test/azimutt_web/controllers/page_controller_test.exs
  backend/test/azimutt_web/controllers/sitemap_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

fix more warnings
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt/organizations_test.exs
  backend/test/azimutt_web/controllers/organization_invitation_controller_test.exs
  backend/test/azimutt_web/controllers/user_settings_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

test public controllers
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/templates/organization/index.html.heex
  backend/test/azimutt_web/controllers/blog_controller_test.exs
  backend/test/azimutt_web/controllers/fallback_controller_test.exs
  backend/test/azimutt_web/controllers/gallery_controller_test.exs
  backend/test/azimutt_web/controllers/organization_controller_test.exs
  backend/test/azimutt_web/controllers/sitemap_controller_test.exs
  backend/test/azimutt_web/controllers/user_session_controller_test.exs
  backend/test/azimutt_web/controllers/website_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

track legacy projects
  frontend/package-lock.json
  frontend/package.json
  frontend/ts-src/conf.ts
  frontend/ts-src/index.ts
  frontend/ts-src/services/analytics.ts
  frontend/ts-src/types/ports.ts
Due: ts-test, ts-lint

fix legacy project tracking
  frontend/ts-src/index.ts
  frontend/ts-src/services/analytics.ts
  frontend/ts-src/types/window.ts
Due: ts-test, ts-lint

boostrap heroku addon
  .gitignore
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/heroku_view.ex
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Ask less rights on github login
  backend/config/config.exs
Due: mix-test, mix-lint, mix-format

remive follow
  backend/config/config.exs
Due: mix-test, mix-lint, mix-format

Reduce github authorizations (#147)
  backend/config/config.exs
Due: mix-test, mix-lint, mix-format

Fix tests warnings (#145)
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/project_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list_empty.html.heex
  backend/lib/azimutt_web/templates/organization/index.html.heex
  backend/lib/azimutt_web/templates/organization/show.html.heex
  backend/lib/azimutt_web/templates/project/_activity_feed.html.heex
  backend/lib/azimutt_web/templates/project/_schema_counters.html.heex
  backend/lib/azimutt_web/templates/project/form.html.heex
  backend/lib/azimutt_web/templates/project/index.html.heex
  backend/lib/azimutt_web/templates/project/show.html.heex
  backend/lib/azimutt_web/views/organization_view.ex
  backend/lib/azimutt_web/views/project_view.ex
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt/organizations_test.exs
  backend/test/azimutt/projects_test.exs
  backend/test/azimutt/services/stripe_test.exs
  backend/test/azimutt_web/controllers/blog_controller_test.exs
  backend/test/azimutt_web/controllers/fallback_controller_test.exs
  backend/test/azimutt_web/controllers/gallery_controller_test.exs
  backend/test/azimutt_web/controllers/organization_controller_test.exs
  backend/test/azimutt_web/controllers/organization_invitation_controller_test.exs
  backend/test/azimutt_web/controllers/page_controller_test.exs
  backend/test/azimutt_web/controllers/sitemap_controller_test.exs
  backend/test/azimutt_web/controllers/user_session_controller_test.exs
  backend/test/azimutt_web/controllers/user_settings_controller_test.exs
  backend/test/azimutt_web/controllers/website_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Make github and stripe creds optional (#135)
  backend/config/runtime.exs
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix project loaded
  backend/lib/azimutt_web/controllers/elm_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

rename to tracking
  backend/lib/azimutt/audit.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/priv/repo/migrations/20221116095052_create_audit.exs
  backend/priv/repo/migrations/20221116095052_create_tracking.exs
  backend/test/azimutt/audit_test.exs
  backend/test/support/fixtures/audit_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix tests
  backend/test/azimutt/audit_test.exs
  backend/test/azimutt/projects_test.exs
  backend/test/azimutt/tracking_test.exs
  backend/test/support/fixtures/audit_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add events (#138)
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/priv/repo/migrations/20221116095052_create_tracking.exs
  backend/test/azimutt/projects_test.exs
  backend/test/azimutt/tracking_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

fix tests
  backend/test/azimutt/gallery_test.exs
Due: mix-test, mix-lint, mix-format

add cards
  backend/lib/azimutt_web/templates/layout/_right_panel.html.heex
  backend/lib/azimutt_web/templates/organization_invitation/show.html.heex
Due: none

fix tests
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/mix.exs
  backend/priv/repo/seeds.exs
  backend/priv/static/elm/samples/basic.azimutt.json
  backend/test/azimutt/gallery_test.exs
  backend/test/azimutt_web/controllers/gallery_controller_test.exs
  backend/test/support/fixtures/accounts_fixtures.ex
  backend/test/support/fixtures/gallery_fixtures.ex
  backend/test/support/fixtures/projects_fixtures.ex
  frontend/src/Models/Project.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

better access rights
  backend/lib/azimutt/projects.ex
  backend/test/azimutt/projects_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

last fixes
  backend/lib/azimutt/gallery/sample.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  frontend/src/Services/ProjectSource.elm
  frontend/src/Services/SqlSource.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Path conditions:
  mix-test: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-format: any of: \.exs*$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  ts-test: any of: \.ts*$
  ts-lint: any of: \.ts*$
