Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli-test
      name: 'CLI test'
      language: system
      entry: npm run cli:test
      pass_filenames: false
      files: cli/.*\.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

Extract Mongo & Couchbase as libs
  cli/package-lock.json
  cli/package.json
  cli/src/export/index.ts
  cli/src/index.ts
  cli/src/utils/error.ts
  cli/src/utils/logger.ts
  cli/tests/index.test.ts
  desktop/package-lock.json
  libs/connector-couchbase/.gitignore
  libs/connector-couchbase/jest.config.js
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/index.test.ts
  libs/connector-couchbase/tsconfig.json
  libs/connector-mongodb/.gitignore
  libs/connector-mongodb/jest.config.js
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/tests/index.test.ts
  libs/connector-mongodb/tsconfig.json
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/tests/index.test.ts
  libs/json-infer-schema/.gitignore
  libs/json-infer-schema/jest.config.js
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/json-infer-schema/src/index.ts
  libs/json-infer-schema/tests/index.test.ts
  libs/json-infer-schema/tsconfig.json
  libs/shared/package-lock.json
  libs/shared/tests/index.test.ts
  libs/utils/src/error.ts
  libs/utils/src/index.ts
  libs/utils/src/logger.ts
  package.json
Due: cli-test

Add command button
  .github/workflows/push.yml
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
Due: elm-test, elm-lint, elm-build, elm-format

Move Notes inside Metadata
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Models/Notes.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/ColumnMeta.elm
  frontend/src/Models/Project/Metadata.elm
  frontend/src/Models/Project/TableMeta.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdNotes.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdNotesTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/NotesMsg.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Tags.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/EditNotes.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/Track.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Last adjustements
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Models/Notes.elm
  frontend/src/Models/Project.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/EditNotes.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Add extract schema on desktop
  cli/README.md
  cli/src/export/index.ts
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  desktop/src/main/logger.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  libs/connector-couchbase/src/index.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-postgres/src/index.ts
  libs/database-types/src/schema.ts
  libs/shared/src/index.ts
Due: elm-test, elm-lint, elm-build, elm-format, cli-test

Add table & column stats on desktop
  backend/lib/azimutt/analyzer/postgres.ex
  desktop/src/main/bridge.ts
  desktop/src/renderer/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/array.test.ts
  frontend/ts-src/utils/array.ts
  frontend/ts-src/utils/error.ts
  frontend/ts-src/utils/json.ts
  frontend/ts-src/utils/object.ts
  frontend/ts-src/utils/promise.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/src/schema.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/constants.ts
  libs/connector-postgres/tests/index.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/connector-postgres/tests/schema.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/database-types/src/schema.ts
  libs/shared/src/index.ts
  libs/utils/src/array.ts
  libs/utils/src/error.ts
  libs/utils/src/object.ts
  libs/utils/src/promise.ts
  libs/utils/tests/array.test.ts
  libs/utils/tests/promise.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

small fixes
  cli/src/export/index.ts
  desktop/src/main/bridge.ts
  libs/README.md
  libs/connector-couchbase/src/index.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/src/schema.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/constants.ts
  libs/connector-postgres/tests/query.test.ts
  libs/connector-postgres/tests/schema.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/database-types/src/index.d.ts
  libs/database-types/src/index.d.ts.map
  libs/database-types/src/index.js
  libs/database-types/src/index.js.map
  libs/database-types/tests/url.test.ts
Due: cli-test

fix
  desktop/src/main/bridge.ts
Due: none

Adjust pre-commit
  .pre-commit-config.yaml
  libs/utils/tests/object.test.ts
Due: none

Use electron wrapper for table & column stats
  backend/lib/azimutt/analyzer/postgres.ex
  desktop/src/main/bridge.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  frontend/src/Shared.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/ports.ts
  libs/connector-postgres/src/schema.ts
  libs/database-types/src/schema.ts
  libs/shared/src/index.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Use electron wrapper to fetch database schema
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/schema.ex
  desktop/src/main/index.ts
  frontend/src/DataSources/DatabaseMiner/DatabaseAdapter.elm
  frontend/src/DataSources/DatabaseMiner/DatabaseSchema.elm
  frontend/src/DataSources/DatabaseMiner/Models/DatabaseRelation.elm
  frontend/src/DataSources/DatabaseMiner/Models/DatabaseTable.elm
  frontend/src/DataSources/DatabaseMiner/Models/DatabaseType.elm
  frontend/src/Models/SourceInfo.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/tests/DataSources/DatabaseMiner/Models/DatabaseTypeTest.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/database-types/src/schema.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Ignore couchbase
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
Due: none

Minor adjustements
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt_web/controllers/api/fallback_controller.ex
  frontend/package.json
Due: mix-test, mix-lint, mix-build, mix-format

Refactor connector API
  cli/README.md
  cli/src/export.ts
  cli/src/index.ts
  desktop/src/main/bridge.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/constants.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/connector-couchbase/tests/index.test.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/constants.ts
  libs/connector-mongodb/tests/index.test.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/database-types/src/connector.ts
  libs/database-types/src/index.ts
  libs/utils/src/error.ts
Due: cli-test

fix
  libs/connector-postgres/tests/query.test.ts
  libs/connector-postgres/tests/stats.test.ts
Due: none

Add query capabilities to couchbase
  desktop/src/main/bridge.ts
  libs/connector-couchbase/README.md
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/database-types/src/connector.ts
Due: none

Add query capability to mongodb
  libs/connector-mongodb/README.md
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/connector-postgres/src/postgres.ts
Due: none

Infer schema for JSON columns in PostgreSQL
  desktop/README.md
  frontend/ts-src/types/project.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/postgres.ts
  libs/database-types/src/schema.ts
  libs/json-infer-schema/src/index.ts
  libs/json-infer-schema/tests/index.test.ts
Due: ts-test, ts-lint

Improve couchbase connector
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-postgres/src/postgres.ts
Due: none

last cleanup
  desktop/src/main/bridge.ts
  desktop/src/main/index.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/index.ts
  libs/connector-couchbase/README.md
  libs/connector-couchbase/src/index.ts
  libs/connector-mongodb/README.md
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/json-infer-schema/src/index.ts
Due: none

Fix docker
  Dockerfile
  package.json
Due: none

Fix roadmap #206
  README.md
Due: none

Cleanup package.json scripts
  .github/workflows/push.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  browser-extension/README.md
  browser-extension/package-lock.json
  browser-extension/package.json
  cli/README.md
  cli/package-lock.json
  cli/package.json
  desktop/README.md
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  frontend/package.json
  libs/README.md
  libs/connector-couchbase/package.json
  libs/connector-mongodb/package.json
  libs/connector-postgres/package.json
  libs/database-types/package.json
  libs/json-infer-schema/package.json
  libs/shared/package.json
  libs/utils/package.json
  libs/utils/tests/promise.test.ts
  package-lock.json
  package.json
Due: none

fix
  .github/workflows/push.yml
  package.json
Due: none

fix2
  .github/workflows/push.yml
  .pre-commit-config.yaml
  frontend/tests/DataSources/SqlMiner/Dialects/JdeTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix3
  .github/workflows/push.yml
Due: none

fix4
  package.json
Due: none

Update libs
  backend/mix.lock
  frontend/package-lock.json
  frontend/package.json
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/utils/package-lock.json
  libs/utils/package.json
  package-lock.json
Due: none

fix6
  frontend/elm.json
  frontend/package-lock.json
  frontend/package.json
  frontend/review/elm.json
  package.json
Due: none

Cleanup package.json scripts & upgrade libs (#210)
  .github/workflows/push.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  backend/mix.lock
  browser-extension/README.md
  browser-extension/package-lock.json
  browser-extension/package.json
  cli/README.md
  cli/package-lock.json
  cli/package.json
  desktop/README.md
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  frontend/elm.json
  frontend/package-lock.json
  frontend/package.json
  frontend/review/elm.json
  frontend/tests/DataSources/SqlMiner/Dialects/JdeTest.elm
  libs/README.md
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/tests/promise.test.ts
  package-lock.json
  package.json
Due: elm-test, elm-lint, elm-build, elm-format

Fix docker
  .github/workflows/push.yml
  package.json
Due: none

Add PH & Slack buttons on README
  README.md
  assets/README.md
  assets/azimutt-icon-dark.png
  assets/azimutt-icon-dark.svg
  assets/azimutt-icon-light.png
  assets/azimutt-icon-light.svg
  assets/azimutt-icon.png
  assets/azimutt-logo-dark.png
  assets/azimutt-logo-dark.svg
  assets/azimutt-logo-light.png
  assets/azimutt-logo-light.svg
  assets/slack-join.svg
Due: none

Fix public projects with several members
  backend/lib/azimutt/projects.ex
  frontend/package.json
Due: mix-test, mix-lint, mix-build, mix-format

Fix public projects with several members (#211)
  backend/lib/azimutt/projects.ex
  frontend/package.json
Due: mix-test, mix-lint, mix-build, mix-format

Fix protocol
  frontend/ts-src/services/backend.ts
Due: ts-test, ts-lint

Don't require ssl
  backend/lib/azimutt/analyzer/postgres.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix backend calls
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/window.ts
  frontend/ts-src/utils/env.ts
  frontend/ts-src/utils/http.ts
Due: ts-test, ts-lint

stream
  frontend/src/Libs/Models/Position.elm
  frontend/src/Libs/Models/Size.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/Models/Project/Group.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Size.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint
