Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Update INSTALL.md
  INSTALL.md
Due: none

Update desktop libs
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/src/interfaces/desktopBridge.ts
Due: none

Migrate Prisma parser
  libs/serde-prisma/package-lock.json
  libs/serde-prisma/package.json
  libs/serde-prisma/src/prisma.ts
  libs/serde-prisma/tests/prisma.test.ts
Due: none

Migrate desktop api on frontend
  desktop/src/main/bridge.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/review/elm.json
  frontend/ts-src/index.ts
  frontend/ts-src/types/window.ts
  libs/database-model/src/index.ts
  libs/database-model/src/interfaces/desktopBridge.ts
  libs/database-model/src/interfaces/serde.ts
Due: frontend-build, frontend-test

migrate CLI
  cli/package-lock.json
  cli/package.json
  cli/src/export.ts
  cli/src/index.ts
  libs/utils/src/validation.ts
Due: libs-utils, cli

Migrate some frontend
  frontend/ts-src/index.ts
  frontend/ts-src/services/api.ts
  frontend/ts-src/services/backend.ts
  libs/database-model/src/legacy/legacyDatabase.ts
  libs/database-model/src/legacy/legacyQuery.ts
  libs/database-model/src/legacy/legacyStats.ts
Due: frontend-build, frontend-test

Move project to models
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/utils/project_schema.ex
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Models/Plan.elm
  frontend/src/Models/Project.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/api.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/api.ts
  frontend/ts-src/services/storage/indexeddb.ts
  frontend/ts-src/services/storage/inmemory.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/clevercloud.ts
  frontend/ts-src/types/heroku.ts
  frontend/ts-src/types/organization.test.ts
  frontend/ts-src/types/organization.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/types/tracking.ts
  frontend/ts-src/utils/constants.test.ts
  frontend/ts-src/utils/http.ts
  libs/database-model/package-lock.json
  libs/database-model/package.json
  libs/database-model/src/common.ts
  libs/database-model/src/index.ts
  libs/database-model/src/legacy/legacyDatabase.ts
  libs/database-model/src/legacy/legacyProject.ts
  libs/database-model/src/zod.ts
  libs/database-model/tests/legacy/legacyDatabase.test.ts
  libs/database-model/tests/legacy/legacyProject.test.ts
  libs/database-model/tests/zod.test.ts
  libs/database-types/src/schema.ts
  libs/serde-prisma/src/prisma.ts
  libs/utils/src/result.ts
  libs/utils/tests/result.test.ts
Due: libs-utils, libs-database-types, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

fix test
  libs/models/tests/legacy/legacyDatabase.test.ts
Due: none

fix test
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-dbml/src/dbml.ts
  libs/serde-dbml/tests/resources/complex.dbml
Due: none

clean unused libs
  frontend/src/Models/Project/ColumnStats.elm
  frontend/src/Models/Project/TableStats.elm
  libs/database-types/README.md
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/connector.ts
  libs/database-types/src/index.ts
  libs/database-types/src/inferSchema.ts
  libs/database-types/src/parser.ts
  libs/database-types/src/schema.ts
  libs/database-types/src/types.ts
  libs/database-types/src/url.ts
  libs/database-types/tests/connector.test.ts
  libs/database-types/tests/index.test.ts
  libs/database-types/tests/inferSchema.test.ts
  libs/database-types/tests/url.test.ts
  libs/models/README.md
  libs/parser-prisma/README.md
  libs/parser-prisma/package-lock.json
  libs/parser-prisma/package.json
  libs/parser-prisma/src/index.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/index.test.ts
  libs/parser-prisma/tests/prisma.test.ts
  libs/parser-sql/.gitignore
  libs/parser-sql/.npmignore
  libs/parser-sql/README.md
  libs/parser-sql/jest.config.js
  libs/parser-sql/package-lock.json
  libs/parser-sql/package.json
  libs/parser-sql/src/index.ts
  libs/parser-sql/tsconfig.json
  libs/serde-prisma/README.md
  libs/serde-sql/src/regex/command.ts
  libs/serde-sql/src/regex/select.ts
  libs/serde-sql/tests/regex/select.test.ts
  libs/shared/README.md
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/shared/src/index.ts
Due: libs-database-types, libs-shared, elm-test, elm-lint, elm-build, elm-format

fix test
  libs/connector-snowflake/tests/snowflake.test.ts
Due: none

fix build
  .github/workflows/push.yml
Due: none

fix setup
  .github/workflows/push.yml
  package.json
Due: none

Display db stats in Azimutt
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonSchema.elm
  frontend/src/DataSources/JsonMiner/Models/JsonTable.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/src/Libs/Models/Bytes.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/ColumnDbStats.elm
  frontend/src/Models/Project/ColumnStats.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/TableDbStats.elm
  frontend/src/Models/Project/TableStats.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd/TableWithOrigin.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/JsonMiner/JsonGeneratorTest.elm
  frontend/tests/DataSources/JsonMiner/Models/JsonTableTest.elm
  frontend/tests/DataSources/SqlMiner/MysqlGeneratorTest.elm
  frontend/tests/DataSources/SqlMiner/PostgreSqlGeneratorTest.elm
  frontend/tests/Libs/BasicsTest.elm
  frontend/tests/Libs/Models/BytesTest.elm
  frontend/tests/Models/Project/ColumnTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/FindPathTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissingTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  gateway/src/schemas.ts
  libs/models/src/database.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/src/legacy/legacyProject.ts
  libs/models/tests/legacy/legacyDatabase.test.ts
Due: elm-test, elm-lint, elm-build, elm-format, gateway

tmp
  frontend/src/Components/Organisms/Details.elm
  libs/README.md
  libs/models/src/database.ts
  libs/models/src/databaseDiff.ts
  libs/serde-sql/README.md
  libs/serde-sql/src/index.ts
Due: elm-test, elm-lint, elm-build, elm-format

Add doc for local storage on INSTALL.md (#288)
  INSTALL.md
Due: none

Setup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/ts-src/index.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

wip
  backend/.gitignore
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  desktop/.gitignore
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/ts-src/index.ts
  frontend/ts-src/monaco.ts
  frontend/ts-src/services/elm.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Add monaco in DOM
  frontend/ts-src/index.ts
  frontend/ts-src/monaco.ts
Due: frontend-build, frontend-test

upgrade libs
  frontend/package-lock.json
  frontend/package.json
  libs/models/package-lock.json
  libs/models/package.json
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-sql/package-lock.json
  libs/serde-sql/package.json
Due: none

fix
  libs/models/src/legacy/legacyDatabase.ts
Due: none

fix2
  gateway/src/plugins/config.ts
  gateway/tests/routes/index.test.ts
Due: gateway

Refactor db model
  desktop/src/main/bridge.ts
  desktop/src/preload.ts
  frontend/ts-src/index.ts
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-couchbase/src/connect.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-mariadb/package-lock.json
  libs/connector-mariadb/src/connect.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/src/connect.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-snowflake/package-lock.json
  libs/connector-snowflake/package.json
  libs/connector-snowflake/src/connect.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/models/src/database.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/inferSchema.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/src/project.ts
  libs/models/tests/databaseUtils.test.ts
  libs/serde-dbml/src/dbmlExport.ts
  libs/serde-dbml/src/dbmlImport.ts
  libs/serde-prisma/src/prisma.ts
Due: libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, frontend-build, frontend-test

Rework db model
  cli/src/export.ts
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/models/src/common.ts
  libs/models/src/database.ts
  libs/models/src/databaseUrl.ts
  libs/models/src/inferSchema.ts
  libs/models/src/interfaces/connector.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/tests/inferSchema.test.ts
  libs/serde-dbml/src/dbmlExport.ts
  libs/serde-dbml/src/dbmlImport.ts
  libs/serde-sql/src/chevrotain/index.ts
Due: libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, gateway, cli

fix
  cli/src/export.ts
Due: cli

fix2
  libs/serde-prisma/package-lock.json
  libs/serde-prisma/src/prisma.ts
Due: none

fix3
  frontend/src/DataSources/JsonMiner/Models/JsonTable.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/TableDbStats.elm
  frontend/src/Services/SourceDiff.elm
  gateway/src/routes/index.test.ts
  gateway/src/schemas.test.ts
  gateway/src/schemas.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/src/postgres.ts
  libs/models/src/databaseUrl.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/tests/databaseUrl.test.ts
  libs/models/tests/legacy/legacyDatabase.test.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, gateway

oubli
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Libs/Models/DatabaseKind.elm
  libs/connector-bigquery/README.md
  libs/connector-postgres/README.md
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/src/connect.test.ts
  libs/connector-postgres/src/constants.test.ts
  libs/connector-postgres/src/integration.test.ts
  libs/connector-postgres/src/postgres.test.ts
  libs/connector-postgres/src/stats.test.ts
  libs/connector-snowflake/README.md
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/database.ts
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-sql/package-lock.json
  libs/serde-sql/package.json
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format

fix
  frontend/src/Components/Organisms/Details.elm
  gateway/src/routes/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/models/src/common.ts
  libs/models/src/interfaces/connector.ts
  libs/models/src/legacy/legacyDatabase.test.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/utils/src/error.ts
Due: libs-utils, libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, gateway

fix2
  gateway/src/routes/index.test.ts
  gateway/src/schemas.test.ts
  gateway/src/schemas.ts
Due: gateway

Add user in db app
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/JsonMiner/Models/JsonRelation.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/JsonMiner/JsonGeneratorTest.elm
  frontend/ts-src/services/backend.ts
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway

fix
  frontend/ts-src/services/backend.ts
Due: frontend-build, frontend-test

Improve onboarding
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt/utils/country.ex
  backend/lib/azimutt/utils/industry.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/priv/repo/migrations/20240425124708_extend_onboarding.exs
  desktop/.gitignore
  frontend/.gitignore
  frontend/ts-src/services/backend.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils, mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

Add HubSpot integration
  .env.example
  INSTALL.md
  backend/config/runtime.exs
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  cli/src/analyze.ts
  libs/models/src/analyze/index.ts
Due: mix-format, mix-lint, mix-test, cli
