Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli-test
      name: 'CLI test'
      language: system
      entry: npm run cli:test
      pass_filenames: false
      files: cli/.*\.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

update deps
  backend/mix.lock
  frontend/elm.json
  frontend/package-lock.json
  frontend/package.json
  frontend/review/elm.json
Due: none

Some fixes
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_notifier.ex
Due: mix-test, mix-lint, mix-build, mix-format

Integrate code from #170
  .pre-commit-config.yaml
  backend/.credo.exs
  backend/assets/css/app.css
  backend/config/runtime.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/accounts/user_token.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_reset_password_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/login.html.heex
  backend/lib/azimutt_web/templates/user_confirmation/edit.html.heex
  backend/lib/azimutt_web/templates/user_confirmation/new.html.heex
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/edit.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/new.html.heex
  backend/lib/azimutt_web/templates/user_session/_auth_kind_separator.html.heex
  backend/lib/azimutt_web/templates/user_session/_github_button.html.heex
  backend/lib/azimutt_web/templates/user_session/_input_text.html.heex
  backend/lib/azimutt_web/templates/user_session/_right_section.html.heex
  backend/lib/azimutt_web/templates/user_session/_social_login_section.html.heex
  backend/lib/azimutt_web/templates/user_session/_submit_button.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt_web/controllers/user_auth_test.exs
  backend/test/azimutt_web/controllers/user_confirmation_controller_test.exs
  backend/test/azimutt_web/controllers/user_reset_password_controller_test.exs
  backend/test/azimutt_web/controllers/user_session_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add email/password auth method (#187)
  .pre-commit-config.yaml
  backend/.credo.exs
  backend/assets/css/app.css
  backend/config/runtime.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/accounts/user_token.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_reset_password_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/login.html.heex
  backend/lib/azimutt_web/templates/user_confirmation/edit.html.heex
  backend/lib/azimutt_web/templates/user_confirmation/new.html.heex
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/edit.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/new.html.heex
  backend/lib/azimutt_web/templates/user_session/_auth_kind_separator.html.heex
  backend/lib/azimutt_web/templates/user_session/_github_button.html.heex
  backend/lib/azimutt_web/templates/user_session/_input_text.html.heex
  backend/lib/azimutt_web/templates/user_session/_right_section.html.heex
  backend/lib/azimutt_web/templates/user_session/_social_login_section.html.heex
  backend/lib/azimutt_web/templates/user_session/_submit_button.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt_web/controllers/user_auth_test.exs
  backend/test/azimutt_web/controllers/user_confirmation_controller_test.exs
  backend/test/azimutt_web/controllers/user_reset_password_controller_test.exs
  backend/test/azimutt_web/controllers/user_session_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

small fixes
  backend/config/runtime.exs
  backend/priv/static/images/inscription_showcase.png
  backend/test/azimutt/accounts_test.exs
Due: mix-test, mix-lint, mix-format

Improve auth
  backend/config/runtime.exs
  backend/test/azimutt/accounts_test.exs
Due: mix-test, mix-lint, mix-format

Adjust reset password
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt_web/controllers/user_reset_password_controller.ex
  backend/test/azimutt_web/controllers/user_session_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add variable to force email confirmation
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/templates/user_confirmation/new.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add user settings page
  backend/lib/azimutt_web/admin/email/email_controller.ex
  backend/lib/azimutt_web/admin/email/email_view.ex
  backend/lib/azimutt_web/admin/email/new.html.heex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_flash.html.heex
  backend/lib/azimutt_web/templates/layout/_head.html.heex
  backend/lib/azimutt_web/templates/layout/_settings_menu.html.heex
  backend/lib/azimutt_web/templates/layout/account_settings.html.heex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/elm.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/edit.html.heex
  backend/lib/azimutt_web/templates/organization/form.html.heex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
  backend/lib/azimutt_web/views/user_settings_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Allow to update user infos
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
  backend/test/azimutt/utils/result_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Allow to change password
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
  backend/test/azimutt/accounts_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Allow to change email & remove auth methods
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_settings_menu.html.heex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
  backend/test/azimutt/accounts_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Group projects per orga on navbar
  frontend/src/Components/Molecules/Avatar.elm
  frontend/src/Components/Molecules/ContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
Due: elm-test, elm-lint, elm-build, elm-format

refacto oauth
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Refactor layouts
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/fallback_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/error/401.html.heex
  backend/lib/azimutt_web/templates/error/403.html.heex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/error/410.html.heex
  backend/lib/azimutt_web/templates/error/500.html.heex
  backend/lib/azimutt_web/templates/error/_error_page.html.heex
  backend/lib/azimutt_web/templates/heroku/error_member_limit_reached.html.heex
  backend/lib/azimutt_web/templates/heroku/error_too_many_members.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/templates/layout/_head.html.heex
  backend/lib/azimutt_web/templates/layout/_hello_comment.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/layout/_website_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/account.html.heex
  backend/lib/azimutt_web/templates/layout/elm.html.heex
  backend/lib/azimutt_web/templates/layout/login.html.heex
  backend/lib/azimutt_web/templates/layout/root.html.heex
  backend/lib/azimutt_web/templates/layout/root_account.html.heex
  backend/lib/azimutt_web/templates/layout/root_account_dashboard.html.heex
  backend/lib/azimutt_web/templates/layout/root_account_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_admin_dashboard.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_hfull.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
  backend/lib/azimutt_web/templates/organization/show.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add email confirm banner + refacto layouts
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_admin_navbar.html.heex
  backend/lib/azimutt_web/templates/layout/_email_confirm_banner.html.heex
  backend/lib/azimutt_web/templates/layout/_head.html.heex
  backend/lib/azimutt_web/templates/layout/_head_seo.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/layout/_user_navbar.html.heex
  backend/lib/azimutt_web/templates/layout/_user_settings_left_bar.html.heex
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/lib/azimutt_web/templates/layout/root_admin.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization_new.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/layout/root_website.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix attribution, keep only the last one
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/test/support/fixtures/accounts_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add attributed_from to keep event id
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-test, mix-lint, mix-build, mix-format

Bootstrap onboarding funnel
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_onboarding/0onboarding.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/0signup.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/views/user_onboarding_view.ex
  backend/priv/repo/migrations/20230406235108_add_user_profiles.exs
  frontend/src/PagesComponents/Helpers.elm
  frontend/src/PagesComponents/New/Views.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

test design for loic ?
  backend/lib/azimutt_web/templates/user_onboarding/_simple_section.html.heex
Due: none

test design for loic ?
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
Due: none

Persist usage, usecase & role
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/user_onboarding/_error.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Persist about_you
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add health check
  backend/lib/azimutt_web/controllers/api/health_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/health_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Make sentry optional + add env var doc
  backend/config/README.md
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/lib/azimutt/utils/markdown.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/elm.html.heex
  backend/priv/repo/seeds.exs
  backend/test/azimutt/services/stripe_srv_test.exs
  frontend/src/Conf.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/window.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Add user profile migrations
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
  backend/lib/azimutt_web/views/api/user_view.ex
  backend/priv/repo/migrations/20230412184510_add_user_profiles.exs
  backend/priv/repo/migrations/20230412190321_copy_profiles_data.exs
  backend/priv/repo/migrations/20230412190524_remove_profile_data_from_users.exs
  frontend/src/Models/User.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

remove olds attrs in seeds
  backend/priv/repo/seeds.exs
  backend/terraform.tfstate
Due: mix-test, mix-lint, mix-format

add step on onboarding page
  backend/lib/azimutt_web/components/step.ex
  backend/lib/azimutt_web/templates/user_onboarding/_simple_section.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add onboarding other step
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
Due: none

Update values for company step
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt_web/controllers/fallback_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/priv/repo/migrations/20230412184510_add_user_profiles.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add plan step
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/services/billing_srv.ex
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Allow S3 prefix
  backend/config/runtime.exs
  backend/lib/azimutt/projects/project_file.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add missing dependency for Gmail
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/mix.exs
  backend/mix.lock
Due: mix-test, mix-lint, mix-build, mix-format

Add s3 prefix doc
  backend/config/README.md
Due: none

same button
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
Due: none

implement last steps
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_onboarding/_checkbox_multi.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/views/user_onboarding_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Remove hardcoded domain
  backend/priv/repo/seeds.exs
  frontend/ts-src/services/backend.ts
Due: mix-test, mix-lint, mix-format, ts-test, ts-lint

fix seeds
  backend/priv/repo/seeds.exs
Due: mix-test, mix-lint, mix-format

Add SMTP Email
  backend/config/README.md
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

Get host in JS
  backend/lib/azimutt_web/templates/layout/elm.html.heex
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/window.ts
Due: ts-test, ts-lint
