Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-aml, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: libs/utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-models:
  name: libs/models
  language: system
  entry: bash -c 'cd libs/models && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-bigquery:
  name: libs/connector-bigquery
  language: system
  entry: bash -c 'cd libs/connector-bigquery && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: libs/connector-couchbase
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mariadb:
  name: libs/connector-mariadb
  language: system
  entry: bash -c 'cd libs/connector-mariadb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: libs/connector-mongodb
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mysql:
  name: libs/connector-mysql
  language: system
  entry: bash -c 'cd libs/connector-mysql && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-oracle:
  name: libs/connector-oracle
  language: system
  entry: bash -c 'cd libs/connector-oracle && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: libs/connector-postgres
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-snowflake:
  name: libs/connector-snowflake
  language: system
  entry: bash -c 'cd libs/connector-snowflake && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-sqlserver:
  name: libs/connector-sqlserver
  language: system
  entry: bash -c 'cd libs/connector-sqlserver && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-aml:
  name: libs/serde-aml
  language: system
  entry: bash -c 'cd libs/serde-aml && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-dbml:
  name: libs/serde-dbml
  language: system
  entry: bash -c 'cd libs/serde-dbml && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-prisma:
  name: libs/serde-prisma
  language: system
  entry: bash -c 'cd libs/serde-prisma && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-sql:
  name: libs/serde-sql
  language: system
  entry: bash -c 'cd libs/serde-sql && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted && exec mix format'

mix-build:
  name: Elixir build
  language: system
  entry: bash -c 'cd backend && exec mix compile --force'
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: bash -c 'cd backend && exec mix credo --strict'
  pass_filenames: false

Basic AML generation
  libs/serde-aml/package.json
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
  libs/serde-aml/src/version.ts
Due: libs-serde-aml

Add constraints
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Handle nested attributes
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Allow multi-line comments
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Allow v1 compatibility
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Fix snippet checks
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/docs.test.ts
  libs/serde-aml/src/index.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Add AML parsing for demo files
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/docs.test.ts
Due: libs-serde-aml

Implement type rules
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/documentation.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/type.md
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/docs.test.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Fix doc errors
  libs/serde-aml/README.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/type.md
  libs/serde-aml/src/docs.test.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml

Rename serde-aml to aml
  .pre-commit-config.yaml
  libs/README.md
  libs/aml/.gitignore
  libs/aml/.npmignore
  libs/aml/README.md
  libs/aml/docs/README.md
  libs/aml/docs/comment.md
  libs/aml/docs/documentation.md
  libs/aml/docs/entity.md
  libs/aml/docs/identifier.md
  libs/aml/docs/migration.md
  libs/aml/docs/namespace.md
  libs/aml/docs/properties.md
  libs/aml/docs/relation.md
  libs/aml/docs/type.md
  libs/aml/jest.config.js
  libs/aml/package.json
  libs/aml/resources/complex.aml
  libs/aml/resources/complex.json
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/aml/src/version.ts
  libs/aml/tsconfig.json
  libs/serde-aml/src/index.ts
  pnpm-lock.yaml
Due: libs-serde-aml

Start aml page
  backend/assets/js/app.js
  backend/assets/js/hljs.aml.js
  backend/assets/vendor/highlight.min.js
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/priv/static/images/aml-by-azimutt.png
  backend/priv/static/images/aml.png
  libs/aml/package.json
  libs/aml/src/index.ts
Due: mix-format, mix-build, mix-lint, mix-test

Migrate phoenix assets to TypeScript
  .gitignore
  backend/.gitignore
  backend/assets/js/app.ts
  backend/assets/js/hljs.aml.ts
  backend/assets/package-lock.json
  backend/assets/package.json
  backend/assets/tsconfig.json
  backend/assets/vendor/alpine.js
  backend/assets/vendor/highlight.min.js
  backend/assets/vendor/topbar.js
  backend/config/config.exs
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/mix.exs
Due: mix-format, mix-build, mix-lint, mix-test

tmp
  backend/assets/js/app.ts
  backend/assets/package-lock.json
  backend/assets/package.json
  backend/config/config.exs
  backend/lib/azimutt_web/templates/website/aml.html.heex
  libs/aml/package.json
  libs/aml/src/index.ts
  libs/aml/src/parser.ts
  pnpm-lock.yaml
Due: mix-format, mix-lint, mix-test

Improve monaco editor
  backend/assets/js/app.ts
  backend/assets/js/hljs.aml.ts
  backend/assets/js/lang.aml.ts
  backend/assets/js/monaco.ts
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/convert.html.heex
  backend/lib/azimutt_web/templates/website/converter.html.heex
  backend/lib/azimutt_web/templates/website/converters.html.heex
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/Services/Backend.elm
Due: mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test

Improve demo doc, homepage demo link & stripe prices
  backend/config/runtime.exs
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/test/azimutt/services/stripe_srv_test.exs
  demos/ecommerce/README.md
Due: mix-format, mix-build, mix-lint, mix-test

fix
  libs/aml/src/aml.ts
  libs/aml/src/parser.ts
Due: none

Create bundle for aml lib
  backend/assets/js/app.ts
  backend/assets/package.json
  backend/lib/azimutt_web/templates/website/aml.html.heex
  frontend/package.json
  frontend/ts-src/index.ts
  libs/aml/package.json
  libs/aml/rollup.config.ts
  libs/aml/src/aml.ts
  libs/aml/src/index.ts
  libs/aml/src/version.ts
  libs/aml/tsconfig.json
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/utils/src/json.test.ts
  libs/utils/src/json.ts
  pnpm-lock.yaml
Due: libs-utils, libs-models, frontend-build, frontend-test

Use AMLv2 in AmlSidebar in Azimutt
  backend/lib/azimutt_web/templates/website/aml.html.heex
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/JsonMiner/Models/JsonTable.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/aml/src/aml.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/analyze/rules/attributeEmpty.ts
  libs/models/src/analyze/rules/attributeNameInconsistent.ts
  libs/models/src/analyze/rules/attributeTypeBad.ts
  libs/models/src/analyze/rules/attributeTypeInconsistent.ts
  libs/models/src/analyze/rules/entityTooLarge.ts
  libs/models/src/analyze/rules/relationMissing.ts
  libs/models/src/database.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/interfaces/serde.ts
  libs/models/src/legacy/legacyDatabase.ts
  libs/models/src/llm/llmUtils.ts
  libs/utils/src/json.test.ts
  libs/utils/src/json.ts
  libs/utils/src/object.test.ts
  libs/utils/src/object.ts
Due: libs-utils, libs-models, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

fix
  libs/serde-dbml/src/dbmlExport.ts
Due: libs-serde-dbml

fix2
  libs/aml/src/aml.test.ts
Due: none

handle types in aml
  libs/aml/src/aml-legacy.test.ts
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/parser.test.ts
  libs/utils/src/validation.ts
Due: libs-utils

fix
  libs/aml/src/aml-legacy.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/parser.ts
  libs/utils/src/validation.ts
Due: libs-utils

Improve legacy compatibility
  backend/lib/azimutt_web/templates/website/aml.html.heex
  libs/aml/src/aml-legacy.test.ts
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/interfaces/serde.ts
  libs/utils/src/object.test.ts
Due: libs-utils, libs-models

more robust parser
  backend/assets/js/lang.aml.ts
  libs/aml/src/aml-error.test.ts
  libs/aml/src/aml-legacy.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/parser.ts
Due: none

include gateway in docker-compose.yml example file
  docker-compose.yml
Due: none

Refactor AML ast
  backend/lib/azimutt_web/templates/website/aml.html.heex
  frontend/ts-src/index.ts
  libs/aml/src/aml-error.test.ts
  libs/aml/src/aml-legacy.test.ts
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/interfaces/serde.ts
  libs/serde-dbml/src/dbml.ts
  libs/serde-prisma/src/prisma.ts
  libs/serde-sql/src/chevrotain/ast.ts
  libs/serde-sql/src/chevrotain/parser.ts
Due: libs-models, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, frontend-build, frontend-test

fix
  libs/serde-prisma/src/prisma.test.ts
Due: libs-serde-prisma

fix2
  libs/serde-dbml/src/dbml.test.ts
  libs/serde-sql/src/chevrotain/formatter.test.ts
  libs/serde-sql/src/chevrotain/parser.test.ts
  libs/serde-sql/src/postgres.test.ts
Due: libs-serde-dbml, libs-serde-sql

Improve parser robustness & monaco completions
  backend/assets/js/aml.hljs.ts
  backend/assets/js/app.ts
  backend/assets/js/lang.aml.ts
  backend/lib/azimutt_web/templates/website/aml.html.heex
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/extensions/monaco.types.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.ts
Due: none

Add more warnings in ast & improve monaco editor
  backend/lib/azimutt_web/templates/website/aml.html.heex
  libs/aml/src/aml.ts
  libs/aml/src/ast.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/extensions/monaco.types.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/interfaces/serde.ts
Due: libs-models

Add monaco quickfixes
  backend/lib/azimutt_web/templates/website/aml.html.heex
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/extensions/monaco.types.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/interfaces/serde.ts
Due: libs-models

Improve Clever Cloud integration
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/clever_cloud/error_member_limit_reached.html.heex
  backend/lib/azimutt_web/templates/clever_cloud/error_too_many_members.html.heex
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  demos/ecommerce/README.md
Due: mix-format, mix-build, mix-lint, mix-test

Optimize dashboard queries
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

Clever Cloud adjustements: open links in new tab & better responsive
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

fix regex
  libs/aml/src/extensions/monaco.ts
Due: none

Fix auth or Clever
  backend/config/config.exs
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/endpoint.ex
  backend/lib/azimutt_web/views/error_view.ex
Due: mix-format, mix-build, mix-lint, mix-test

Add duplicate checks
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/ast.ts
  libs/aml/src/errors.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/interfaces/serde.ts
  pnpm-lock.yaml
Due: libs-models

WIP: Monaco web component
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/ts-src/components/aml-editor.ts
  frontend/ts-src/components/az-editor.ts
  frontend/ts-src/components/intl-date.ts
  frontend/ts-src/index.ts
  pnpm-lock.yaml
Due: elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

debug Clever
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/test/azimutt_web/controllers/api/clever_cloud_controller_test.exs
Due: mix-format, mix-build, mix-lint, mix-test

debug 2
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
Due: mix-format, mix-build, mix-lint, mix-test

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-serde-aml: any of: libs/serde-aml/.*\.ts*$
  libs-serde-dbml: any of: libs/serde-dbml/.*\.ts*$
  libs-serde-prisma: any of: libs/serde-prisma/.*\.ts*$
  libs-serde-sql: any of: libs/serde-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
