Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli-test
      name: 'CLI test'
      language: system
      entry: npm run cli:test
      pass_filenames: false
      files: cli/.*\.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

Rework on words & structure of website
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/website/_features_intro.html.heex
  backend/lib/azimutt_web/templates/website/_problem_exposure.html.heex
  backend/lib/azimutt_web/templates/website/_testimonials.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Integrate new pricing page
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_pricing2-faq.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-features-desktop.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-features-mobile.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-footer.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-navbar.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-plans.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/priv/static/blog/2023-01-31-review-of-2022/review-of-2022.md
Due: mix-test, mix-lint, mix-build, mix-format

Parametrize pricing page
  backend/lib/azimutt_web/templates/website/_pricing2-faq.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-features-desktop.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-features-mobile.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-navbar.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-plans.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2.html.heex
Due: none

Add feature page
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_features2-heading.html.heex
  backend/lib/azimutt_web/templates/website/_features2-screenshot.html.heex
  backend/lib/azimutt_web/templates/website/_features2-squares.html.heex
  backend/lib/azimutt_web/templates/website/features-see-what-you-need.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add features menu
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
Due: none

Add feature icons & small refacto
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_features2-heading.html.heex
  backend/lib/azimutt_web/templates/website/_features2-screenshot.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-features-desktop.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-search.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Allow dark navbar
  backend/lib/azimutt_web/components/brand.ex
  backend/lib/azimutt_web/components/header.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Write meaningful content for pricing
  README.md
  backend/config/config.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/_dots.html.heex
  backend/lib/azimutt_web/templates/website/_faq.html.heex
  backend/lib/azimutt_web/templates/website/_feature-comparison-desktop.html.heex
  backend/lib/azimutt_web/templates/website/_feature-comparison-mobile.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/_navbar-dark.html.heex
  backend/lib/azimutt_web/templates/website/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/website/_pricing.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-faq.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2-footer.html.heex
  backend/lib/azimutt_web/templates/website/_pricing2.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-search.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/priv/static/elm/index.html
  backend/priv/static/site.webmanifest
  browser-extension/manifest.json
  browser-extension/manifest2.json
  frontend/package.json
  frontend/src/Conf.elm
  package.json
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Add plan discounts
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

refactor
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/components/landing_page.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/lib/azimutt_web/templates/website/use-cases.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Improve pricing
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Rework home page
  backend/lib/azimutt_web/templates/website/_features_intro.html.heex
  backend/lib/azimutt_web/templates/website/_index.html.heex
  backend/lib/azimutt_web/templates/website/_index2.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/images/logos/couchbase.png
  backend/priv/static/images/logos/mariadb.png
  backend/priv/static/images/logos/mongodb.png
  backend/priv/static/images/logos/mysql.png
  backend/priv/static/images/logos/oracle.png
  backend/priv/static/images/logos/postgresql.png
  backend/priv/static/images/logos/sqlite.png
  backend/priv/static/images/logos/sqlserver.png
  backend/priv/static/images/screenshots/azimutt.png
Due: none

small fixes
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/website/_index2.html.heex
Due: none

refacto
  backend/lib/azimutt_web/templates/partials/_bg_dots.html.heex
  backend/lib/azimutt_web/templates/partials/_bg_gradient_light.html.heex
  backend/lib/azimutt_web/templates/partials/_bg_gradient_light2.html.heex
  backend/lib/azimutt_web/templates/partials/_bg_gradient_light3.html.heex
  backend/lib/azimutt_web/templates/partials/_bg_grid.html.heex
  backend/lib/azimutt_web/templates/partials/_faq.html.heex
  backend/lib/azimutt_web/templates/partials/_feature-comparison-desktop.html.heex
  backend/lib/azimutt_web/templates/partials/_feature-comparison-mobile.html.heex
  backend/lib/azimutt_web/templates/partials/_features_2_columns.html.heex
  backend/lib/azimutt_web/templates/partials/_navbar-dark.html.heex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/partials/_testimonial_card_black.html.heex
  backend/lib/azimutt_web/templates/partials/_testimonials.html.heex
  backend/lib/azimutt_web/templates/partials/_testimonials_item.html.heex
  backend/lib/azimutt_web/templates/website/_index2.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
Due: none

improve testimonials
  backend/lib/azimutt_web/templates/website/_index2.html.heex
  backend/lib/azimutt_web/templates/website/_testimonials.html.heex
  backend/priv/static/images/adrian_sieber.jpg
  backend/priv/static/images/avatars/adrian-sieber.jpg
  backend/priv/static/images/avatars/guillaume-lagorce.jpg
  backend/priv/static/images/avatars/jas.jpg
  backend/priv/static/images/avatars/jeremy-buget.jpg
  backend/priv/static/images/avatars/jordan-temim.jpg
  backend/priv/static/images/avatars/miguel-coba.jpg
  backend/priv/static/images/avatars/nikosv.jpg
  backend/priv/static/images/avatars/oliver-searle-barnes.png
  backend/priv/static/images/avatars/tibo-maker.jpg
  backend/priv/static/images/jeremy_buget.jpg
  backend/priv/static/images/jordan_temim.jpeg
  backend/priv/static/images/miguel_coba.jpg
  backend/priv/static/images/nikosv.jpg
  backend/priv/static/images/oliver_searle_barnes.png
  backend/priv/static/images/tibo.jpg
Due: none

small improvements
  backend/lib/azimutt_web/templates/website/_features2-squares.html.heex
  backend/lib/azimutt_web/templates/website/_features_intro.html.heex
  backend/lib/azimutt_web/templates/website/_index2.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-search.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
  backend/lib/azimutt_web/templates/website/use-cases.html.heex
Due: none

init render config
  render.yaml
Due: none

fix render key/value
  render.yaml
Due: none

fix db name
  render.yaml
Due: none

fix service order
  render.yaml
Due: none

fix service name
  render.yaml
Due: none

fix to free plan
  render.yaml
Due: none

setup region
  render.yaml
Due: none

Add several feature pages
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/website/_index2.html.heex
  backend/lib/azimutt_web/templates/website/feature-aml.html.heex
  backend/lib/azimutt_web/templates/website/feature-analysis.html.heex
  backend/lib/azimutt_web/templates/website/feature-compatibility.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-notes.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-search.html.heex
  backend/lib/azimutt_web/templates/website/feature-sharing.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
  backend/priv/static/images/screenshots/analysis.png
  backend/priv/static/images/screenshots/nested-columns.png
Due: mix-test, mix-lint, mix-build, mix-format

change branche
  render.yaml
Due: none

remove Mix.env for docker
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

add minIO services
  render.yaml
Due: none

fix region for minIO
  render.yaml
Due: none

rename ENV from CELLAR_ADDON to S3
  Dockerfile
  backend/config/runtime.exs
  render.yaml
Due: mix-test, mix-lint, mix-format

rename services
  render.yaml
Due: none

Add more features
  backend/lib/azimutt_web/templates/website/_feature-heading.html.heex
  backend/lib/azimutt_web/templates/website/_feature-screenshot.html.heex
  backend/lib/azimutt_web/templates/website/feature-aml.html.heex
  backend/lib/azimutt_web/templates/website/feature-analysis.html.heex
  backend/lib/azimutt_web/templates/website/feature-collaboration.html.heex
  backend/lib/azimutt_web/templates/website/feature-compatibility.html.heex
  backend/lib/azimutt_web/templates/website/feature-data-explorer.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-find-path.html.heex
  backend/lib/azimutt_web/templates/website/feature-notes.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-scriptable.html.heex
  backend/lib/azimutt_web/templates/website/feature-sharing.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
Due: none

make login/register by password work
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Correct features
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/website/_feature-screenshot.html.heex
  backend/lib/azimutt_web/templates/website/feature-aml.html.heex
  backend/lib/azimutt_web/templates/website/feature-analysis.html.heex
  backend/lib/azimutt_web/templates/website/feature-collaboration.html.heex
  backend/lib/azimutt_web/templates/website/feature-compatibility.html.heex
  backend/lib/azimutt_web/templates/website/feature-data-explorer.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-find-path.html.heex
  backend/lib/azimutt_web/templates/website/feature-notes.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-scriptable.html.heex
  backend/lib/azimutt_web/templates/website/feature-sharing.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/priv/static/images/illustrations/team-collaboration.jpg
  backend/priv/static/images/illustrations/team-support.jpg
  backend/priv/static/images/screenshots/data-sample-column.png
  backend/priv/static/images/screenshots/data-sample-table.png
  backend/priv/static/images/screenshots/js-console.png
Due: mix-test, mix-lint, mix-build, mix-format

cleanup
  backend/lib/azimutt_web/controllers/sitemap_controller.ex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_features.html.heex
  backend/lib/azimutt_web/templates/website/_features_intro.html.heex
  backend/lib/azimutt_web/templates/website/_index.html.heex
  backend/lib/azimutt_web/templates/website/_index2.html.heex
  backend/lib/azimutt_web/templates/website/_problem_exposure.html.heex
  backend/lib/azimutt_web/templates/website/_testimonials.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Last adjustements
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/partials/_features_2columns.html.heex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/partials/_testimonial_card_black.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/feature-aml.html.heex
  backend/lib/azimutt_web/templates/website/feature-analysis.html.heex
  backend/lib/azimutt_web/templates/website/feature-compatibility.html.heex
  backend/lib/azimutt_web/templates/website/feature-erd.html.heex
  backend/lib/azimutt_web/templates/website/feature-find-path.html.heex
  backend/lib/azimutt_web/templates/website/feature-relations.html.heex
  backend/lib/azimutt_web/templates/website/feature-sharing.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: none

save attribution on signup
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/test/azimutt/accounts_test.exs
  backend/test/support/fixtures/accounts_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

reformat
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add attribution (#181)
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt_web/controllers/user_auth_test.exs
  backend/test/support/fixtures/accounts_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format
