Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

fix
  backend/priv/repo/migrations/20240715092952_custom_gateway.exs
Due: mix-format, mix-lint, mix-test

Last fixes
  cli/package.json
  cli/src/version.ts
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/ts-src/services/backend.ts
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  libs/models/package.json
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, cli

Fix pnpm
  .github/workflows/docker-build.yml
  .github/workflows/push.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

Update backend version
  backend/config/config.exs
  backend/lib/azimutt/utils/mapx.ex
  backend/lib/azimutt_web/views/api/health_view.ex
  backend/test/azimutt/utils/mapx_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

Implement more plan limits
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_view.ex
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/LlmGenerateSqlBody.elm
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Models/Feature.elm
  frontend/src/Models/Organization.elm
  frontend/src/Models/Plan.elm
  frontend/src/Models/Project.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/LlmGenerateSqlDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Services/Backend.elm
  frontend/src/Shared.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Increase Solo plan quotas
  backend/lib/azimutt.ex
  frontend/src/Shared.elm
  frontend/ts-src/index.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

More consistent plan management
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/edit.html.heex
  backend/lib/azimutt_web/templates/organization/show.html.heex
  backend/lib/azimutt_web/templates/subscribe/index.html.heex
Due: none

Add roles in org members & invitations
  backend/lib/azimutt.ex
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_invitation.ex
  backend/lib/azimutt/organizations/organization_member.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/layout/_flash.html.heex
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/lib/azimutt_web/templates/layout/live.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/edit.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/features.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/lib/azimutt_web/templates/website/use-cases.html.heex
  backend/lib/azimutt_web/utils/controller_helpers.ex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/priv/repo/migrations/20240724110212_add_user_rights.exs
  libs/connector-sqlserver/src/connect.ts
Due: mix-format, mix-lint, mix-test, mix-build

Allow to change user roles
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_invitation.ex
  backend/lib/azimutt/organizations/organization_member.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/project_token_controller.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Some fixes
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
  backend/lib/azimutt_web/utils/controller_helpers.ex
  frontend/ts-src/index.ts
Due: mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

Set read only mode when reader role
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization/data.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/views/website_view.ex
  backend/test/support/fixtures/organizations_fixtures.ex
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Models/UserRole.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdConf.elm
  frontend/src/Shared.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/window.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Fix hide column bug
  frontend/src/Models/Project/ProjectSettings.elm
  frontend/tests/Models/Project/ProjectSettingsTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
Due: elm-test, elm-lint, elm-build, elm-format

Rework Oracle connection & get tables
  libs/connector-oracle/README.md
  libs/connector-oracle/src/connect.test.ts
  libs/connector-oracle/src/connect.ts
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
  libs/models/src/databaseUrl.test.ts
  libs/models/src/databaseUrl.ts
Due: none

Improve get tables
  libs/connector-oracle/src/oracle.ts
Due: none

Rework get columns
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/oracle.ts
Due: none

Rework constraints
  libs/connector-oracle/src/oracle.ts
Due: none

Rework indexes
  libs/connector-oracle/src/oracle.ts
Due: none

Rework relations & types
  libs/connector-oracle/README.md
  libs/connector-oracle/src/oracle.ts
Due: none

Reword db stats
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
Due: none

Dynamic oracle users
  libs/connector-oracle/src/constants.test.ts
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
Due: none

Finish getSchema
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
Due: none

Fix oracle connector
  .pre-commit-config.yaml
  libs/connector-oracle/README.md
  libs/connector-oracle/package.json
  libs/connector-oracle/src/helpers.test.ts
  libs/connector-oracle/src/history.test.ts
  libs/connector-oracle/src/history.ts
  libs/connector-oracle/src/index.ts
  libs/connector-oracle/src/integration.test.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/stats.test.ts
  libs/connector-oracle/src/stats.ts
  pnpm-lock.yaml
Due: none

Upgrade deps
  backend/mix.lock
  browser-extension/package.json
  cli/html-report/package.json
  cli/package.json
  desktop/package.json
  frontend/elm.json
  frontend/package.json
  frontend/review/elm.json
  gateway/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: none

Improve oracle connector
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/utils/controller_helpers.ex
  backend/lib/azimutt_web/views/layout_view.ex
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryOracle.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Models/Project/ColumnType.elm
  frontend/src/Models/Project/ProjectSettings.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/tests/DataSources/DbMiner/QueryOracleTest.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
  libs/connector-oracle/src/integration.test.ts
  libs/connector-oracle/src/oracle.ts
  libs/models/src/legacy/legacyDatabase.ts
  pnpm-lock.yaml
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Some query fixes
  frontend/src/DataSources/DbMiner/QueryOracle.elm
  frontend/tests/DataSources/DbMiner/QueryOracleTest.elm
  frontend/ts-src/index.ts
  frontend/ts-src/utils/crypto.test.ts
  frontend/ts-src/utils/crypto.ts
  gateway/src/routes/index.ts
  libs/connector-oracle/src/connect.ts
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/stats.test.ts
  libs/connector-oracle/src/stats.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway

Code review
  frontend/src/DataSources/DbMiner/QueryOracle.elm
  frontend/src/Services/DatabaseSource.elm
  libs/connector-oracle/README.md
  libs/connector-oracle/src/oracle.ts
Due: elm-test, elm-lint, elm-build, elm-format

Publish libs
  backend/config/config.exs
  cli/html-report/package.json
  cli/package.json
  cli/src/version.ts
  frontend/package.json
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-oracle/src/helpers.test.ts
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: mix-format, mix-lint, mix-test, gateway, cli

Create basic SQL parser for SELECT and extend Oracle integration
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryOracle.elm
  frontend/src/Models/Project/Table.elm
  frontend/tests/DataSources/DbMiner/QueryOracleTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/query.test.ts
  libs/connector-oracle/src/query.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
Due: elm-test, elm-lint, elm-build, elm-format

Improve parser
  libs/connector-oracle/src/query.test.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
Due: none

Better column parsing in SELECT
  libs/connector-oracle/src/query.test.ts
  libs/connector-oracle/src/query.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
Due: none

More flexible schema matching on data explorer queries
  backend/lib/azimutt/organizations.ex
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Libs/Ned.elm
  frontend/src/Libs/Order.elm
  frontend/src/Models/Project/ColumnName.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissing.elm
  libs/connector-oracle/src/query.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
  libs/models/src/legacy/legacyDatabase.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

data exploration accross sources
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/EditNotes.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  libs/connector-oracle/src/query.ts
Due: elm-test, elm-lint, elm-build, elm-format

Data exploration accross sources
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerStats.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/DataSources/DbMiner/DbTypes.elm
  frontend/src/Models/DbSourceInfo.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdOrigin.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryOracleTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  libs/models/src/helpers/sql.ts
Due: elm-test, elm-lint, elm-build, elm-format

Fix table rows relations when source has no url
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Models/DbSourceInfo.elm
  frontend/src/Models/DbSourceInfoWithUrl.elm
  frontend/src/Models/DbSourceWithUrl.elm
  frontend/src/Models/Project/DatabaseUrlStorage.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

Get incoming rows from all sources
  frontend/src/Components/Molecules/ContextMenu.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/DbTypes.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/src/DataSources/DbMiner/QueryOracle.elm
  frontend/src/DataSources/DbMiner/QueryPostgreSQL.elm
  frontend/src/Models/DbColumnRef.elm
  frontend/src/Models/Project/SourceId.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryOracleTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/models/src/legacy/legacyProject.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Improve admin orga page with seats and refresh
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/router.ex
Due: mix-format, mix-lint, mix-test, mix-build

Fix drag selected for Oracle
  backend/lib/azimutt_web/admin/organization/show.html.heex
  frontend/src/Models/Project/TableId.elm
  frontend/tests/Models/Project/TableIdTest.elm
Due: elm-test, elm-lint, elm-build, elm-format
