Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Migrate SQL Server connector
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/connect.test.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/common/query.ts
  libs/connector-sqlserver/src/common/types.ts
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/src/stats.ts
  libs/connector-sqlserver/tests/connect.test.ts
  libs/connector-sqlserver/tests/constants.ts
  libs/connector-sqlserver/tests/helpers.test.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/connector-sqlserver/tests/stats.test.ts
Due: libs-connector-postgres

Migrate MariaDB connector
  libs/connector-mariadb/package-lock.json
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/common/query.ts
  libs/connector-mariadb/src/common/types.ts
  libs/connector-mariadb/src/connect.ts
  libs/connector-mariadb/src/helpers.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mariadb/tests/connect.test.ts
  libs/connector-mariadb/tests/constants.ts
  libs/connector-mariadb/tests/helpers.test.ts
  libs/connector-mariadb/tests/mariadb.test.ts
  libs/connector-mariadb/tests/stats.test.ts
Due: none

Migrate MongoDB connector
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-mongodb/src/connect.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/connect.test.ts
  libs/connector-mongodb/tests/mongodb.test.ts
Due: libs-connector-mongodb

Migrate Couchbase connector
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-couchbase/src/connect.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/connect.test.ts
  libs/connector-couchbase/tests/couchbase.test.ts
Due: libs-connector-couchbase

Migrate gateway
  frontend/package-lock.json
  frontend/package.json
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/services/connector.ts
  libs/database-model/src/database.ts
  libs/database-model/src/index.ts
  libs/database-model/src/interfaces/desktopBridge.ts
  libs/database-model/src/legacy/legacyDatabase.ts
  libs/database-model/src/legacy/legacyQuery.ts
  libs/database-model/src/legacy/legacyStats.ts
Due: gateway

tmp
  libs/connector-bigquery/tests/connect.test.ts
Due: none

Add free trial & update website
  backend/lib/azimutt.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Fix elm dep
  desktop/package-lock.json
  frontend/elm.json
  frontend/package-lock.json
  frontend/package.json
  frontend/review/elm.json
Due: none

Fix elm dep 2
  frontend/elm.json
Due: none

Parse BigQuery url
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types

Make basic BigQuery connector
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/src/query.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-bigquery/tests/connect.test.ts
  libs/connector-bigquery/tests/constants.ts
  libs/connector-bigquery/tests/query.test.ts
  libs/connector-mysql/src/connect.ts
Due: none

Add BigQuery connector to Azimutt
  backend/priv/static/elm/assets/logos/bigquery.png
  cli/README.md
  cli/src/index.ts
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryBigQuery.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/tests/DataSources/DbMiner/QueryBigQueryTest.elm
  frontend/tests/Libs/Models/DatabaseUrlTest.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/index.ts
Due: elm-test, elm-lint, elm-build, elm-format, gateway, cli

UX improvements
  frontend/src/Models/Project/ColumnType.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-sqlserver/src/connect.ts
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types, elm-test, elm-lint, elm-build, elm-format

Add primary keys & foreign keys
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/tests/bigquery.test.ts
Due: none

Fetch indexes, comments and more stats
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/tests/bigquery.test.ts
Due: none

Release libs
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-bigquery/.npmignore
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-bigquery/src/bigquery.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
Due: gateway, cli

fix build
  frontend/package.json
Due: none

Create BigQuery connector (#285)
  backend/priv/static/elm/assets/logos/bigquery.png
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  cli/src/version.ts
  frontend/package.json
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryBigQuery.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/src/Models/Project/ColumnType.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/tests/DataSources/DbMiner/QueryBigQueryTest.elm
  frontend/tests/Libs/Models/DatabaseUrlTest.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
  gateway/src/version.ts
  libs/connector-bigquery/.gitignore
  libs/connector-bigquery/.npmignore
  libs/connector-bigquery/README.md
  libs/connector-bigquery/jest.config.js
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/src/query.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-bigquery/tests/connect.test.ts
  libs/connector-bigquery/tests/constants.ts
  libs/connector-bigquery/tests/query.test.ts
  libs/connector-bigquery/tsconfig.json
  libs/connector-mysql/src/connect.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-sqlserver/src/connect.ts
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types, elm-test, elm-lint, elm-build, elm-format, gateway, cli

Migrate BigQuery connector
  gateway/package-lock.json
  gateway/package.json
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/src/query.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-bigquery/tests/connect.test.ts
  libs/connector-bigquery/tests/query.test.ts
  libs/database-model/src/databaseUrl.ts
  libs/database-model/tests/databaseUrl.test.ts
  libs/database-types/src/url.ts
Due: libs-database-types

Refactor Postgres & SQL Server connectors
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-bigquery/tests/query.test.ts
  libs/connector-postgres/src/common/index.ts
  libs/connector-postgres/src/common/types.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/connector-postgres/tests/integration.test.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/connector-sqlserver/src/common/index.ts
  libs/connector-sqlserver/src/common/types.ts
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/query.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/src/stats.ts
  libs/connector-sqlserver/tests/connect.test.ts
  libs/connector-sqlserver/tests/query.test.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
Due: libs-connector-postgres

Refactor Snowflake connector
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-snowflake/src/common/index.ts
  libs/connector-snowflake/src/common/types.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-snowflake/src/helpers.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/query.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/src/stats.ts
  libs/connector-snowflake/tests/connect.test.ts
  libs/connector-snowflake/tests/query.test.ts
  libs/connector-snowflake/tests/snowflake.test.ts
  libs/connector-snowflake/tests/stats.test.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/database-model/src/interfaces/connector.ts
Due: libs-connector-postgres

Refactor MySQL connector
  libs/connector-mysql/src/common/index.ts
  libs/connector-mysql/src/common/types.ts
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/helpers.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/query.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/connect.test.ts
  libs/connector-mysql/tests/mysql.test.ts
  libs/connector-mysql/tests/stats.test.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/connector-snowflake/src/helpers.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/tests/query.test.ts
  libs/connector-snowflake/tests/snowflake.test.ts
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/tests/query.test.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/database-model/src/common.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/src/project.ts
Due: libs-connector-postgres

Refactor MariaDB connector
  libs/connector-mariadb/src/common/index.ts
  libs/connector-mariadb/src/common/types.ts
  libs/connector-mariadb/src/connect.ts
  libs/connector-mariadb/src/helpers.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/query.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mariadb/tests/connect.test.ts
  libs/connector-mariadb/tests/mariadb.test.ts
  libs/connector-mariadb/tests/stats.test.ts
  libs/connector-mysql/tests/stats.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/connector-snowflake/tests/stats.test.ts
  libs/connector-sqlserver/tests/stats.test.ts
Due: libs-connector-postgres

Refactor MongoDB connector
  libs/connector-mariadb/src/helpers.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mongodb/src/connect.ts
  libs/connector-mongodb/src/helpers.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/src/query.ts
  libs/connector-mongodb/tests/connect.test.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/connector-mysql/src/helpers.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/mysql.test.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-snowflake/src/helpers.ts
  libs/connector-snowflake/src/stats.ts
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/src/stats.ts
Due: libs-connector-mongodb, libs-connector-postgres

Refactor Couchbase connector
  libs/connector-couchbase/src/connect.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/helpers.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/src/query.ts
  libs/connector-couchbase/tests/connect.test.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/connector-mysql/src/index.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-sqlserver/src/index.ts
Due: libs-connector-couchbase, libs-connector-mongodb

Refactor BigQuery connector
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/helpers.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-bigquery/tests/query.test.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-postgres/src/query.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-snowflake/src/stats.ts
  libs/connector-sqlserver/src/stats.ts
Due: libs-connector-postgres

Add logs in connectors
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/helpers.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/helpers.ts
  libs/connector-mariadb/src/helpers.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mongodb/src/helpers.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mysql/src/helpers.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-snowflake/src/helpers.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/database-model/src/interfaces/connector.ts
  libs/utils/src/string.ts
  libs/utils/tests/string.test.ts
  package.json
Due: libs-utils, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres

Better handle errors in connectors
  libs/connector-bigquery/src/connect.ts
  libs/connector-couchbase/src/connect.ts
  libs/connector-mariadb/src/connect.ts
  libs/connector-mongodb/src/connect.ts
  libs/connector-mysql/src/connect.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-sqlserver/src/connect.ts
  libs/database-model/src/interfaces/connector.ts
Due: libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres

Boostrap Prisma serde
  libs/serde-prisma/.gitignore
  libs/serde-prisma/.npmignore
  libs/serde-prisma/README.md
  libs/serde-prisma/jest.config.js
  libs/serde-prisma/package-lock.json
  libs/serde-prisma/package.json
  libs/serde-prisma/src/index.ts
  libs/serde-prisma/src/prisma.ts
  libs/serde-prisma/tests/prisma.test.ts
  libs/serde-prisma/tests/resources/sample-mongo-schema.prisma
  libs/serde-prisma/tests/resources/sample-relational-schema.prisma
  libs/serde-prisma/tsconfig.json
Due: none

Update precommit
  .pre-commit-config.yaml
Due: none

Add scope filter to connectors
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/src/query.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/src/query.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/query.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/src/query.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/query.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/query.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/query.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/src/project.ts
Due: libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres

Tmp: new analysis rules
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexDuplicated.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexOnForeignKeys.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/NamingConsistency.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/PrimaryKeyMissing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableTooBig.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableWithoutIndex.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissingTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

add comments
  libs/database-model/src/database.ts
  libs/database-model/src/interfaces/connector.ts
Due: none

change ublic pricing
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/partials/_faq.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/priv/static/images/logos/alloydb.png
  backend/priv/static/images/logos/amazon-aurora.png
  backend/priv/static/images/logos/amazon-rds.png
  backend/priv/static/images/logos/amazon-redshift.png
  backend/priv/static/images/logos/azure-cosmos-db.png
  backend/priv/static/images/logos/azure-sql.png
  backend/priv/static/images/logos/google-bigquery.png
  backend/priv/static/images/logos/google-cloud-sql.png
  backend/priv/static/images/logos/snowflake.png
Due: mix-format, mix-lint, mix-test, mix-build

Fix pricing links
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: none

Add new diagnostic rules
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryBigQuery.elm
  frontend/src/DataSources/DbMiner/QueryMariaDB.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/src/DataSources/DbMiner/QueryPostgreSQL.elm
  frontend/src/DataSources/DbMiner/QuerySQLServer.elm
  frontend/src/DataSources/DbMiner/QuerySnowflake.elm
  frontend/src/Libs/Html.elm
  frontend/src/Libs/Nel.elm
  frontend/src/Libs/StringCase.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexDuplicated.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexOnForeignKeys.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/NamingConsistency.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/PrimaryKeyMissing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableTooBig.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableWithoutIndex.elm
  frontend/tests/DataSources/DbMiner/QueryBigQueryTest.elm
  frontend/tests/DataSources/DbMiner/QueryMariaDBTest.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  frontend/tests/DataSources/DbMiner/QuerySQLServerTest.elm
  frontend/tests/DataSources/DbMiner/QuerySnowflakeTest.elm
  frontend/tests/Libs/StringCaseTest.elm
  gateway/package-lock.json
Due: elm-test, elm-lint, elm-build, elm-format

Improve connectors error handling
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  gateway/src/services/connector.ts
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/database-model/src/database.ts
Due: libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, gateway

Improve zod errors
  libs/connector-bigquery/src/index.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mysql/src/index.ts
  libs/connector-postgres/src/index.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-sqlserver/src/index.ts
  libs/database-model/src/database.ts
  libs/database-model/src/index.ts
  libs/database-model/src/interfaces/connector.ts
Due: libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres

Add scroll on hidden columns
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Html/Events.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format
