Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: \.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: \.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

feedbacks: add new memo in context menu + fix image markdown
  frontend/src/Components/Atoms/Markdown.elm
  frontend/src/Conf.elm
  frontend/src/Models/Project/CanvasProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format

add organization link and view
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

reuse event query
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/project/project_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

reuse event query
  backend/lib/azimutt/admin.ex
Due: mix-test, mix-lint, mix-build, mix-format

no selection box on memo resize
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
Due: elm-test, elm-lint, elm-build, elm-format

add memo count to project stats
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/priv/repo/migrations/20221230162039_add_project_nb_memos.exs
  backend/test/azimutt/projects_test.exs
  backend/test/azimutt/utils/string_test.exs
  backend/test/support/fixtures/projects_fixtures.ex
  frontend/src/Components/Atoms/Markdown.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/Services/Backend.elm
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add free plan limitations for memos
  backend/config/config.exs
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Conf.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

improve wording
  frontend/src/Components/Slices/ProPlan.elm
Due: elm-test, elm-lint, elm-build, elm-format

send frontend events to backend
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/api/fallback_controller.ex
  backend/lib/azimutt_web/controllers/api/tracking_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/test/azimutt/tracking_test.exs
  frontend/src/Pages/Home_.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/Track.elm
  frontend/ts-src/conf.ts
  frontend/ts-src/index.ts
  frontend/ts-src/services/analytics.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/errors.ts
  frontend/ts-src/types/window.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

refacto
  backend/lib/azimutt_web/controllers/api/tracking_controller.ex
  frontend/src/Libs/Html/Attributes.elm
  frontend/src/Libs/Models.elm
  frontend/src/Models/TrackEvent.elm
  frontend/src/Ports.elm
  frontend/src/Track.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/tracking.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

small refacto
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt_web/controllers/api/tracking_controller.ex
  backend/lib/azimutt_web/router.ex
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Html/Attributes.elm
  frontend/src/Models/TrackEvent.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Help.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Sharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/Track.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/utils/http.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add more pro-plan limit tracking
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

show errors when build elm
  frontend/package.json
Due: none

add data to users & organizations
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/priv/repo/migrations/20230102142929_add_data_for_users_and_orgas.exs
Due: mix-test, mix-lint, mix-build, mix-format

allow to override plan limitations
  backend/lib/azimutt/organizations.ex
Due: mix-test, mix-lint, mix-build, mix-format

allow override db access
  backend/lib/azimutt/organizations.ex
Due: mix-test, mix-lint, mix-build, mix-format

add send tweet markup on change color modal
  frontend/src/Components/Atoms/Icon.elm
  frontend/src/Components/Slices/ProPlan.elm
Due: elm-test, elm-lint, elm-build, elm-format

unlock change table color on tweet
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/services/twitter_srv.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/organization_view.ex
  backend/test/azimutt/services/twitter_srv_test.exs
  frontend/src/Components/Book.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/Libs/Models.elm
  frontend/src/Libs/Result.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/Lenses.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

better error handling
  backend/lib/azimutt_web/controllers/api/fallback_controller.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Services/Backend.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

last fixes
  frontend/src/Components/Slices/ProPlan.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle memos in fit-to-screen/auto-layout & improve home screenshots
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/templates/website/_features.html.heex
  backend/priv/static/images/follow_your_mind.png
  backend/priv/static/images/gospeak-find-path.png
  backend/priv/static/images/layouts.png
  backend/priv/static/images/phoenix.png
  backend/priv/static/images/screenshots/find-path.png
  backend/priv/static/images/screenshots/follow-your-mind.png
  backend/priv/static/images/screenshots/layouts.png
  backend/priv/static/images/screenshots/see-what-you-need.png
  backend/priv/static/images/see_what_you_need.png
  frontend/package.json
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/List.elm
  frontend/src/Libs/Models/Size.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/Models/Project/TableProps.elm
  frontend/src/Models/Size.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/DiagramObject.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/PositionHint.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/src/Ports.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/Fuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

tmp
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix
  backend/lib/azimutt/tracking.ex
Due: mix-test, mix-lint, mix-build, mix-format

naming
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

add tracking
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

use embeds for json columns
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/organizations/organization/data.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

add fireworks
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/organizations/organization.ex
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/utils/utils.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

update libs
  frontend/elm.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix override
  frontend/package-lock.json
  frontend/review/elm.json
  frontend/review/src/ReviewConfig.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/DataSources/SqlMiner/Parsers/CreateTable.elm
  frontend/src/Pages/New.elm
  frontend/src/Pages/Organization_/New.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/Pages/Projects.elm
  frontend/src/PagesComponents/Helpers.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/Services/Backend.elm
  frontend/tests/Libs/BasicsTest.elm
  frontend/tests/Libs/Fuzz.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/CanvasTest.elm
  frontend/tests/TestHelpers/Fuzzers.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  package.json
Due: elm-test, elm-lint, elm-build, elm-format

tmp
  backend/lib/azimutt/projects/project_token.ex
  backend/priv/repo/migrations/20230107144621_add_project_tokens.exs
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Sharing.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Add context functions for project tokens
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/projects/project_token.ex
  backend/lib/azimutt_web/controllers/api/tracking_controller.ex
  backend/priv/repo/migrations/20230107144621_add_project_tokens.exs
  backend/test/azimutt/projects_test.exs
  backend/test/support/fixtures/accounts_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

add controller
  backend/lib/azimutt_web/controllers/api/project_token_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/project_token_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

move ProjectSharing as component & create backend calls
  backend/lib/azimutt_web/views/api/project_token_view.ex
  backend/lib/azimutt_web/views/api/user_view.ex
  frontend/review/src/ReviewConfig.elm
  frontend/src/Models/ProjectToken.elm
  frontend/src/Models/User.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Sharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/Lenses.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

allow to create and list tokens
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/api/fallback_controller.ex
  backend/lib/azimutt_web/controllers/api/project_token_controller.ex
  backend/lib/azimutt_web/views/api/project_token_view.ex
  backend/test/azimutt/projects_test.exs
  frontend/elm.json
  frontend/src/Libs/Time.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/Lenses.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add sentry
  frontend/ts-src/index.ts
Due: ts-test, ts-lint

add share link & revoke token
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Services/Backend.elm
Due: elm-test, elm-lint, elm-build, elm-format
