Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

doc: readme
  cli/html-report/.eslintrc.cjs
  cli/html-report/README.md
  cli/html-report/app/globals.css
  cli/html-report/src/App.tsx
  cli/html-report/src/hooks/useReport.tsx
Due: none

chore: revert gateway from main
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/tracking.ts
Due: gateway

fix: pnpm-lock
  pnpm-lock.yaml
Due: none

ui: table
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTable.test.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTable.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTableCell.tsx
  cli/html-report/src/components/ui/table.tsx
Due: none

Add Stripe prices
  .env.example
  INSTALL.md
  backend/config/runtime.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/services/billing_srv.ex
  backend/lib/azimutt_web/templates/partials/_plans_onboarding.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_plan_dark.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_plan_light.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

ui: app bar
  cli/html-report/src/components/azimutt/Logo/Logo.tsx
  cli/html-report/src/components/layout/AppBar/AppBar.tsx
  cli/html-report/src/components/layout/MainLayout/MainLayout.tsx
Due: none

feat: extract entities
  cli/html-report/src/hooks/useReport.test.tsx
  cli/html-report/src/hooks/useReport.tsx
Due: none

chore: add database and queries to AnalyzeReportHtmlResult
  cli/src/analyze.ts
  libs/models/src/analyze/rule.ts
Due: cli

fix: tests according interface update
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationList.test.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTable.test.tsx
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/context/ReportContext.tsx
  cli/html-report/src/context/reportContextTestTool.ts
  cli/html-report/src/hooks/useReport.test.tsx
Due: cli

Add new pricing plans subscriptions
  backend/config/runtime.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/subscribe_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/services/billing_srv.ex
  backend/lib/azimutt_web/templates/organization/_subscription_show.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/new.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/partials/_plans_onboarding.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_plan_dark.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_plan_light.html.heex
  backend/lib/azimutt_web/templates/subscribe/index.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/lib/azimutt_web/views/organization_view.ex
  backend/lib/azimutt_web/views/subscribe_view.ex
  backend/test/azimutt/services/stripe_srv_test.exs
  backend/test/azimutt_web/controllers/organization_controller_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

wip: report stats
  cli/html-report/src/components/report/ReportStats/ReportStats.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStats.tsx
Due: none

ui: Report stat cell
  cli/html-report/src/components/report/ReportStats/ReportStatCell.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStatCell.tsx
Due: none

chore: rename
  cli/html-report/src/components/report/ReportStats/ReportStatsGrid.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStatsGrid.tsx
Due: none

Remove pricing from onboarding
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/controllers/subscribe_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/services/billing_srv.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/partials/_plans_onboarding.html.heex
  backend/lib/azimutt_web/templates/subscribe/index.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/keep_in_touch.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/test/azimutt/services/stripe_srv_test.exs
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Conf.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

feat: stats
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStats.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStats.tsx
  cli/html-report/src/components/report/ReportStats/ReportStatsGrid.tsx
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/context/reportContextTestTool.ts
  cli/src/analyze.ts
  libs/models/src/analyze/rule.ts
Due: cli

fix
  .env.example
  INSTALL.md
  backend/config/runtime.exs
  backend/lib/azimutt/services/stripe_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

List subscriptions instead of fetching the registered one
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/test/azimutt/organizations_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

ui: severity filter
  cli/html-report/package.json
  cli/html-report/setup-test.ts
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ReportFilters/ReportFilters.test.tsx
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportSeverityFilter/ReportSeverityFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportSeverityFilter/ReportSeverityFilter.tsx
  cli/html-report/src/components/ui/select.tsx
  pnpm-lock.yaml
Due: cli

ui: category filter
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportCategoryFilter/ReportCategoryFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportCategoryFilter/ReportCategoryFilter.tsx
Due: none

ui: rules multi select
  cli/html-report/package.json
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportRuleFilter/ReportRuleFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportRuleFilter/ReportRuleFilter.tsx
  cli/html-report/src/components/ui/command.tsx
  cli/html-report/src/components/ui/dialog.tsx
  cli/html-report/src/components/ui/multi-select.tsx
  cli/html-report/src/components/ui/popover.tsx
  cli/html-report/src/components/ui/separator.tsx
  pnpm-lock.yaml
Due: none

ui: table filter
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportTableFilter/ReportTableFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportTableFilter/ReportTableFilter.tsx
Due: none

ui: layout
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
Due: none

chore: multi select
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportCategoryFilter/ReportCategoryFilter.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportSeverityFilter/ReportSeverityFilter.tsx
Due: none

chore: bind filters
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ReportFilters/ReportFilters.test.tsx
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportRuleFilter/ReportRuleFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportRuleFilter/ReportRuleFilter.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportTableFilter/ReportTableFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportTableFilter/ReportTableFilter.tsx
  cli/html-report/src/context/ReportContext.tsx
Due: none

feat: filter by rule & table
  cli/html-report/src/components/report/ReportFilters/ReportFilters.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportRuleFilter/ReportRuleFilter.test.tsx
  cli/html-report/src/components/report/ReportFilters/filters/ReportRuleFilter/ReportRuleFilter.tsx
  cli/html-report/src/hooks/useReport.test.tsx
  cli/html-report/src/hooks/useReport.tsx
Due: none

chore: remove sidebar
  cli/html-report/src/App.tsx
  cli/html-report/src/components/layout/MainLayout/MainLayout.test.tsx
  cli/html-report/src/components/layout/MainLayout/MainLayout.tsx
  cli/html-report/src/components/layout/Sidebar/Sidebar.test.tsx
  cli/html-report/src/components/layout/Sidebar/Sidebar.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebarItem.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebarItem.tsx
Due: none

ui: violation item
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsListItem.tsx
  cli/html-report/src/lib/utils.ts
Due: cli

Prepare stripe_subscription_id removal
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/services/billing_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

chore: typing
  cli/html-report/src/components/report/ViolationsList/ViolationListItem.test.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsListItem.tsx
Due: none

revamp: simplify data structure & fix filters
  cli/html-report/src/components/report/ReportStats/ReportStats.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStats.tsx
  cli/html-report/src/components/report/ReportStats/ReportStatsGrid.test.tsx
  cli/html-report/src/components/report/ReportStats/ReportStatsGrid.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationList.test.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTable.test.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTable.tsx
  cli/html-report/src/components/report/ViolationsTable/ViolationsTableCell.tsx
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/context/reportContextTestTool.ts
  cli/html-report/src/hooks/useReport.test.tsx
  cli/html-report/src/hooks/useReport.tsx
  cli/src/analyze.ts
  libs/models/src/analyze/rule.ts
Due: cli

chore
  cli/html-report/src/components/azimutt/Logo/Logo.tsx
  cli/html-report/src/components/layout/AppBar/AppBar.tsx
Due: none

fix: lint
  cli/html-report/src/App.tsx
  cli/html-report/src/components/layout/AppBar/AppBar.tsx
  cli/html-report/src/components/report/ReportStats/ReportStats.tsx
  cli/html-report/src/components/ui/multi-select.tsx
  cli/html-report/src/constants/report.constants.ts
Due: cli

Remove stripe_subscription_id and add plan in organization
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/services/billing_srv.ex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
  backend/lib/azimutt_web/views/organization_member_view.ex
  backend/priv/repo/migrations/20240624135054_manage_plans_in_db.exs
  backend/test/azimutt/organizations_test.exs
  backend/test/azimutt/services/stripe_srv_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

Improve design
  INSTALL.md
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/subscribe_controller.ex
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
  backend/lib/azimutt_web/templates/subscribe/index.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

Cockpit check
  backend/config/config.exs
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt_web/controllers/subscribe_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/lib/azimutt_web/views/organization_member_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

feat: heroku button
  README.md
  app.json
  backend/config/runtime.exs
  heroku.yml
Due: mix-format, mix-lint, mix-test

Add special support for enterprise plan
  .env.example
  INSTALL.md
  backend/config/runtime.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/organization/_subscription_show.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/views/api/health_view.ex
  backend/test/azimutt/services/stripe_srv_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

Add legacy alerts on pro plan
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/show.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

conf: vars
  app.json
  backend/config/runtime.exs
Due: mix-format, mix-lint, mix-test

try ot set PHX_HOST in postdeploy
  app.json
  heroku-postdeploy.sh
Due: none

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
