Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

fix
  libs/connector-mongodb/src/mongodb.ts
Due: libs-connector-mongodb

Handle mixed collections in generated db queries
  frontend/src/Services/DatabaseQueries.elm
  frontend/tests/Services/DatabaseQueriesTest.elm
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-mongodb/src/mongodb.ts
Due: libs-connector-couchbase, libs-connector-mongodb, elm-test, elm-lint, elm-build, elm-format

Remove currentLayout & layout position
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Project/Schema.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdConf.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/ProjectSource.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/services/api.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/constants.test.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

fix on save
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
Due: elm-test, elm-lint, elm-build, elm-format

Remove conflicting data on save (#218)
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Project/Schema.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdConf.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/ProjectSource.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/services/api.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/constants.test.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Allow mixed collections on document databases (#216)
  cli/src/export.ts
  cli/src/index.ts
  frontend/src/Services/DatabaseQueries.elm
  frontend/tests/Services/DatabaseQueriesTest.elm
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/database-types/src/connector.ts
Due: libs-database-types, libs-connector-couchbase, libs-connector-mongodb, elm-test, elm-lint, elm-build, elm-format, cli

publish cli
  cli/README.md
  cli/package.json
Due: none

Publish libs and update CLI
  cli/.gitignore
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/tsconfig.json
  libs/connector-couchbase/.gitignore
  libs/connector-couchbase/.npmignore
  libs/connector-couchbase/README.md
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-couchbase/tsconfig.json
  libs/connector-mongodb/.gitignore
  libs/connector-mongodb/.npmignore
  libs/connector-mongodb/README.md
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-mongodb/tsconfig.json
  libs/connector-postgres/.gitignore
  libs/connector-postgres/.npmignore
  libs/connector-postgres/README.md
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/tsconfig.json
  libs/database-types/.gitignore
  libs/database-types/.npmignore
  libs/database-types/README.md
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/tsconfig.json
  libs/json-infer-schema/.gitignore
  libs/json-infer-schema/.npmignore
  libs/json-infer-schema/README.md
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/json-infer-schema/tsconfig.json
  libs/utils/.gitignore
  libs/utils/.npmignore
  libs/utils/README.md
  libs/utils/package.json
  libs/utils/tsconfig.json
Due: none

did some cleans + improve right bar view
  .gitignore
  README.md
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/storybook.ex
  backend/lib/azimutt_web/storybook/colors.exs
  backend/lib/azimutt_web/storybook/components/brand.exs
  backend/lib/azimutt_web/storybook/typography.exs
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/views/organization_view.ex
  backend/mix.exs
  backend/mix.lock
Due: mix-format, mix-lint, mix-test, mix-build

extract action to Tracking module
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/views/organization_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

use content tag to avoid unsafe code
  backend/lib/azimutt_web/views/organization_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

feat: Introducing activity feed (#219)
  .gitignore
  README.md
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/storybook.ex
  backend/lib/azimutt_web/storybook/colors.exs
  backend/lib/azimutt_web/storybook/components/brand.exs
  backend/lib/azimutt_web/storybook/typography.exs
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/views/organization_view.ex
  backend/mix.exs
  backend/mix.lock
Due: mix-format, mix-lint, mix-test, mix-build

chore: remove elixir 1.13 & otp 24 from test strategy
  .github/workflows/push.yml
Due: none

fix: update starts 😅
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Use published libs everywhere
  desktop/package-lock.json
  desktop/package.json
  frontend/package-lock.json
  frontend/package.json
  libs/connector-couchbase/README.md
  libs/connector-mongodb/README.md
  libs/connector-postgres/README.md
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/database-types/README.md
  libs/json-infer-schema/README.md
  libs/shared/.gitignore
  libs/shared/.npmignore
  libs/shared/README.md
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/shared/tsconfig.json
  libs/utils/README.md
Due: none

move dependencies
  libs/shared/package.json
Due: none

Fix version numbers
  cli/package-lock.json
  cli/package.json
  desktop/package-lock.json
  desktop/package.json
  frontend/package-lock.json
  frontend/package.json
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/utils/package-lock.json
Due: none

chore: remove elixir 1.13 & otp 24 from test strategy (#220)
  .github/workflows/push.yml
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

add github actions
  .github/workflows/release-electron-app.yml
  package.json
Due: none

Add icon
  desktop/forge.config.ts
  desktop/images/icon.icns
  desktop/images/icon.ico
  desktop/images/icon.png
  desktop/src/main/index.ts
Due: none

Add name
  desktop/forge.config.ts
  desktop/package.json
Due: none

Make cookies persistent
  desktop/src/main/index.ts
Due: none

Allow to load custom url
  desktop/src/main/index.ts
Due: none

tmp
  libs/connector-postgres/tests/postgres.test.ts
  libs/parser-sql/.gitignore
  libs/parser-sql/.npmignore
  libs/parser-sql/README.md
  libs/parser-sql/jest.config.js
  libs/parser-sql/package-lock.json
  libs/parser-sql/package.json
  libs/parser-sql/src/index.ts
  libs/parser-sql/src/select.ts
  libs/parser-sql/tests/select.test.ts
  libs/parser-sql/tsconfig.json
Due: libs-connector-postgres

Last changes
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  libs/utils/src/logger.ts
Due: libs-utils

Setup Gateway Server (#214)
  .pre-commit-config.yaml
  backend/config/runtime.exs
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt_web/controllers/api/analyzer_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/views/api/analyzer_view.ex
  desktop/package-lock.json
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/window.ts
  frontend/ts-src/utils/http.ts
  gateway/.env.example
  gateway/.eslintignore
  gateway/.eslintrc.cjs
  gateway/.github/workflows/CI.yml
  gateway/.gitignore
  gateway/.nvmrc
  gateway/.prettierrc.js
  gateway/Dockerfile
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  gateway/src/index.ts
  gateway/src/plugins/config.ts
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  gateway/src/server.ts
  gateway/src/services/connector.ts
  gateway/tests/routes/index.test.ts
  gateway/tests/server.test.ts
  gateway/tsconfig.json
  libs/connector-postgres/src/stats.ts
  libs/database-types/src/schema.ts
  package.json
Due: libs-database-types, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

Remove failing release
  .github/workflows/release-electron-app.yml
Due: none

Build Electron app (#215)
  cli/package-lock.json
  cli/package.json
  desktop/forge.config.ts
  desktop/images/icon.icns
  desktop/images/icon.ico
  desktop/images/icon.png
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  desktop/src/main/index.ts
  frontend/package-lock.json
  frontend/package.json
  libs/connector-couchbase/README.md
  libs/connector-couchbase/package-lock.json
  libs/connector-couchbase/package.json
  libs/connector-mongodb/README.md
  libs/connector-mongodb/package-lock.json
  libs/connector-mongodb/package.json
  libs/connector-postgres/README.md
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/database-types/README.md
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/json-infer-schema/README.md
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/shared/.gitignore
  libs/shared/.npmignore
  libs/shared/README.md
  libs/shared/package-lock.json
  libs/shared/package.json
  libs/shared/tsconfig.json
  libs/utils/README.md
  libs/utils/package-lock.json
  package.json
Due: none

Add github action
  .github/workflows/release-electron-app.yml
Due: none

Add gallery images for mongodb, couchbase & e-commerce
  backend/lib/azimutt_web/components/icon.ex
  backend/priv/static/gallery/couchbase.png
  backend/priv/static/gallery/e-commerce.png
  backend/priv/static/gallery/mongodb.png
Due: mix-format, mix-lint, mix-test, mix-build

fix: Severals bug fix
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  frontend/src/Components/Atoms/Icon.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

fix: handle deleted project event
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

fix: handle deleted project event bis
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

fix: remove deleted project from history for the moment
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

fix: temp solution
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

fix versions
  .github/workflows/release-electron-app.yml
  desktop/package.json
  package.json
Due: none

set all OS
  .github/workflows/release-electron-app.yml
Due: none

remove windows for tests
  .github/workflows/release-electron-app.yml
Due: none

fix: handle deleteds projects
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

align desktop version to main package.json version, try dock.hide for macOs
  .github/workflows/release-electron-app.yml
  desktop/package.json
  desktop/src/main/index.ts
  package-lock.json
Due: none

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  cli: any of: cli/.*\.ts*$
