Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Handle full screen
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add json & csv exports
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Models/DbValue.elm
  frontend/src/Models/QueryResult.elm
Due: elm-test, elm-lint, elm-build, elm-format

Sticky column
  frontend/src/Components/Molecules/Pagination.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Allow to drag table rows
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/DiagramObject.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Make table rows & memos selectable
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Libs/Models/DateTime.elm
  frontend/src/Libs/Tailwind.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/MemoId.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/tests/Libs/Models/DateTimeTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Show comments, notes and color in data explorer: queries, details & rows
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
Due: elm-test, elm-lint, elm-build, elm-format

Remove QueryPane
  frontend/src/Components/Book.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Track.elm
  frontend/tests/Services/DatabaseQueriesTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add table row relations
  frontend/src/Components/Organisms/Relation.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Conf.elm
  frontend/src/Libs/List.elm
  frontend/src/Models/Project/SourceId.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/RelationRow.elm
  libs/connector-postgres/src/connect.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format

Improve homepage
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Components/Slices/DataExplorer.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Fix some issues
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/tests/Models/Project/ColumnTest.elm
  frontend/tests/Models/Project/LayoutTest.elm
  frontend/tests/Models/Project/TableIdTest.elm
  frontend/tests/TestHelpers/Helpers.elm
  frontend/ts-src/services/backend.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Collapse a column in query results
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
Due: elm-test, elm-lint, elm-build, elm-format

Keep table rows value when refresh
  frontend/src/Components/Molecules/Pagination.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Libs/Regex.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Services/QueryBuilderTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Highlight matching columns & relations
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/RelationRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Display table row next to the other
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/tests/Models/Project/LayoutTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add hidden values popover
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add table row context menu & edit notes from anywhere
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/RelationRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnRowContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableRowContextMenu.elm
  frontend/tests/Models/Project/LayoutTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix column row display
  frontend/src/Components/Organisms/TableRow.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix PostgreSQL connector
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/tests/helpers.test.ts
Due: libs-connector-postgres, gateway, cli

Revert package-lock files
  cli/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  gateway/package-lock.json
  libs/connector-postgres/package-lock.json
Due: none

Add incoming relations on table row
  frontend/src/Components/Molecules/Dropdown.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Models/Project/RowPrimaryKey.elm
  frontend/src/Models/Project/RowValue.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/RelationRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnRowContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableRowContextMenu.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Models/Project/LayoutTest.elm
  frontend/tests/Services/QueryBuilderTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/zod.ts
  libs/connector-postgres/src/connect.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Allow see all relations in table row
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/RelationRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnRowContextMenu.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Models/Project/LayoutTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
  frontend/tests/Services/QueryBuilderTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Few UX improvements
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Libs/Result.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add column stats modal
  backend/priv/static/elm/styles.css
  frontend/elm.json
  frontend/src/Components/Book.elm
  frontend/src/Components/Molecules/BarChart.elm
  frontend/src/Components/Molecules/PieChart.elm
  frontend/src/Components/Molecules/PieChartCustom.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerStats.elm
  frontend/src/Libs/Color.elm
  frontend/src/Libs/Dict.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add editor with syntax highlight
  backend/priv/static/elm/styles.css
  frontend/elm.json
  frontend/src/Components/Book.elm
  frontend/src/Components/Molecules/Editor.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

Use editor for SQL queries + fix generated queries
  backend/priv/static/elm/styles.css
  frontend/src/Components/Molecules/Editor.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Models/DbValue.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Services/DatabaseQueriesTest.elm
  frontend/tests/Services/QueryBuilderTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Ugly hack to keep navbar visible when opening data explorer from erd
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
Due: elm-test, elm-lint, elm-build, elm-format

Adapt embed right & show some errors in toasts
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/EmbedMode.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  libs/connector-postgres/src/common/query.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format

Refactor db queries in Elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/DbTypes.elm
  frontend/src/DataSources/DbMiner/QueryCouchbase.elm
  frontend/src/DataSources/DbMiner/QueryMariaDB.elm
  frontend/src/DataSources/DbMiner/QueryMongoDB.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/src/DataSources/DbMiner/QueryPostgreSQL.elm
  frontend/src/DataSources/DbMiner/QuerySQLServer.elm
  frontend/src/Models/SqlFragment.elm
  frontend/src/Models/SqlQuery.elm
  frontend/src/Models/SqlScript.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/src/Track.elm
  frontend/tests/DataSources/DbMiner/QueryCouchbaseTest.elm
  frontend/tests/DataSources/DbMiner/QueryMariaDBTest.elm
  frontend/tests/DataSources/DbMiner/QueryMongoDBTest.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  frontend/tests/DataSources/DbMiner/QuerySQLServerTest.elm
  frontend/tests/Services/DatabaseQueriesTest.elm
  frontend/tests/Services/QueryBuilderTest.elm
  libs/database-types/src/types.ts
Due: libs-database-types, elm-test, elm-lint, elm-build, elm-format

Add MySQL queries in Elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Improve tracking
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/Models/SqlQuery.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/Ports.elm
  frontend/src/Track.elm
  frontend/tests/TestHelpers/Fuzzers.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Code review
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format

Blog: data exploration
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/column-details.png
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/data-exploration-pane-full.png
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/data-exploration-pane.png
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/row-details.png
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/seamless-data-exploration.md
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/table-details.png
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/table-rows-incoming-rows.png
  backend/priv/static/blog/2023-08-31-seamless-data-exploration/table-rows.png
Due: none

Add optional values in columns
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonSchema.elm
  frontend/src/DataSources/JsonMiner/Models/JsonTable.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/src/Libs/Nel.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/JsonMiner/JsonGeneratorTest.elm
  frontend/tests/DataSources/JsonMiner/Models/JsonTableTest.elm
  frontend/tests/DataSources/SqlMiner/MysqlGeneratorTest.elm
  frontend/tests/DataSources/SqlMiner/PostgreSqlGeneratorTest.elm
  frontend/tests/Models/Project/ColumnTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/FindPathTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/postgres.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/schema.ts
Due: libs-database-types, libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, gateway

Use pro plan for Heroku while they can't buy it
  backend/lib/azimutt/organizations.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add options to add all missing relations and view relations with different types
  frontend/package-lock.json
  frontend/package.json
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/src/DataSources/DbMiner/QueryPostgreSQL.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/VirtualRelation.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle polymorphic relations
  frontend/src/Libs/List.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/Libs/Nel.elm
  frontend/src/Libs/String.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/Services/Analysis/MissingRelations.elm
  frontend/tests/Libs/StringTest.elm
  frontend/tests/Services/Analysis/MissingRelationsTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Publish CLI with new gateway
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
Due: cli
