Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

ts-test:
  name: TypeScript test
  language: system
  entry: npm run ts:test
  pass_filenames: false

ts-lint:
  name: TypeScript lint
  language: system
  entry: npm run ts:lint
  pass_filenames: false

cli-test:
  name: CLI test
  language: system
  entry: npm run cli:test
  pass_filenames: false

Use inputs_for for organization
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add env variables to skip email validation and onboarding
  backend/config/runtime.exs
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_email_confirm_banner.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

onboarding plan style
  backend/lib/azimutt_web/templates/partials/_plans-onboarding.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
Due: none

Add env variable to force email domain
  backend/config/runtime.exs
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix checkbox multi
  backend/lib/azimutt_web/templates/user_onboarding/_checkbox_multi.html.heex
Due: none

Rework on wording
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/components/step.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/partials/_plans_onboarding.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/_background_grid.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

some rewording
  backend/lib/azimutt_web/templates/user_onboarding/about_you.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/before_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/welcome.html.heex
  backend/lib/azimutt_web/views/user_onboarding_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Split questions in 3 and refactor controller
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_profile.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/partials/_plans_onboarding.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/discovered_azimutt.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/explore_or_design.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/keep_in_touch.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/previous_solutions.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/role.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/solo_or_team.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add tracking & remove contact_email on organizations
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/organization/edit.html.heex
  backend/lib/azimutt_web/templates/organization/new.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
  backend/lib/azimutt_web/views/api/organization_view.ex
  backend/priv/repo/migrations/20230412184510_add_user_profiles.exs
  backend/priv/repo/migrations/20230412190524_remove_profile_data_from_users.exs
  backend/priv/repo/seeds.exs
  backend/test/azimutt/organizations_test.exs
  backend/test/support/fixtures/organizations_fixtures.ex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Models/Organization.elm
  frontend/src/Services/Backend.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/organization.test.ts
  frontend/ts-src/types/organization.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

fix login redirect
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  frontend/ts-src/services/backend.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

fix sitemap
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
Due: none

fix blog post
  backend/priv/static/blog/2022-03-28-how-to-choose-your-entity-relationship-diagram/how-to-choose-your-entity-relationship-diagram.md
Due: none

add more doc
  backend/config/README.md
Due: none

fix elm template
  backend/lib/azimutt_web/templates/layout/elm.html.heex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
Due: none

Add S3_REGION
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

Add project log
  backend/lib/azimutt/projects/project.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/lib/azimutt/projects/project.ex
Due: mix-test, mix-lint, mix-build, mix-format

Log file url
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/views/api/project_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

remove uploads folder
  backend/lib/azimutt/projects/project_file.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix logs
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt_web/views/api/project_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix email notifier error
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add logs for get_user_personal_organization
  backend/config/runtime.exs
  backend/lib/azimutt/accounts.ex
Due: mix-test, mix-lint, mix-build, mix-format

Fix email error
  backend/lib/azimutt/accounts/user_notifier.ex
Due: mix-test, mix-lint, mix-build, mix-format

more logs
  backend/lib/azimutt/accounts.ex
Due: mix-test, mix-lint, mix-build, mix-format

remove ssl
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

fix /home redirect
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

remove auth & tls
  backend/config/runtime.exs
  backend/lib/azimutt/accounts/user_notifier.ex
Due: mix-test, mix-lint, mix-build, mix-format

parse smtp port
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

cleanup
  backend/.gitignore
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt_web/views/api/project_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

minor improvements
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/templates/user_onboarding/keep_in_touch.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

More fixes for auth
  backend/.gitignore
  backend/config/README.md
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt/utils/markdown.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/keep_in_touch.html.heex
  backend/mix.exs
  backend/mix.lock
  backend/test/azimutt/services/stripe_srv_test.exs
  frontend/src/Conf.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/window.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

More fixes for auth (#195)
  backend/.gitignore
  backend/config/README.md
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt/utils/markdown.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_onboarding_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/keep_in_touch.html.heex
  backend/mix.exs
  backend/mix.lock
  backend/test/azimutt/services/stripe_srv_test.exs
  frontend/src/Conf.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/window.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

fixes
  backend/config/README.md
  frontend/ts-src/services/backend.ts
Due: ts-test, ts-lint

Rework admin dashboard
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/_interesting_users.html.heex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/empty.html.heex
  backend/lib/azimutt_web/templates/layout/live.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Improve dashboard
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/_interesting_users.html.heex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add github & slack links on home page
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

make a change
  backend/lib/azimutt_web/templates/user_session/new.html.heex
Due: none

fix /home
  backend/lib/azimutt/accounts.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add organization default plan config
  backend/config/README.md
  backend/config/runtime.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Path conditions:
  mix-test: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-format: any of: \.exs*$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  ts-test: any of: frontend/.*\.ts*$
  ts-lint: any of: frontend/.*\.ts*$
  cli-test: any of: cli/.*\.ts*$
