Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Improve SQL parser
  frontend/src/DataSources/SqlMiner/Parsers/CreateTable.elm
  frontend/src/Models/Project/ColumnType.elm
  frontend/tests/DataSources/SqlMiner/Parsers/CreateTableTest.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Improve tracking
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix group function
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: none

Add PostHog groups integration (#236)
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/project_token_controller.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

🤮
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/project_token_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

🤦‍♂️
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Better group props
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
  backend/lib/azimutt_web/views/website_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

update vars and version
  .env.example
  Dockerfile
  docker-compose.yml
Due: none

add draft doc
  INSTALLATION.md
Due: none

add draft doc
  Dockerfile
  INSTALLATION.md
Due: none

Reformat install doc
  INSTALL.md
  INSTALLATION.md
  backend/config/README.md
  backend/config/runtime.exs
Due: mix-format, mix-lint, mix-test

rollback version changes
  Dockerfile
Due: none

Reformat .env.example
  .env.example
  INSTALL.md
Due: none

add gateway url
  .env.example
  INSTALL.md
Due: none

feat: add install documentation (#240)
  .env.example
  Dockerfile
  INSTALL.md
  backend/config/README.md
  backend/config/runtime.exs
  docker-compose.yml
Due: mix-format, mix-lint, mix-test

Fix install doc
  INSTALL.md
Due: none

Fix install doc titles
  INSTALL.md
Due: none

Fix preview
  gateway/package.json
Due: none

add digital ocean conf
  gateway/.do/app.yaml
Due: none

change app url vars
  gateway/.do/app.yaml
Due: none

remove domain for the moment
  gateway/.do/app.yaml
Due: none

move file
  gateway/sepcs.yaml
Due: none

update conf and /
  gateway/sepcs.yaml
  gateway/src/routes/index.ts
Due: gateway

Add /gateway
  frontend/ts-src/services/backend.ts
  gateway/sepcs.yaml
Due: frontend-build, frontend-test

feat: Deploy Gateway (#241)
  frontend/ts-src/services/backend.ts
  gateway/package.json
  gateway/sepcs.yaml
  gateway/src/routes/index.ts
Due: frontend-build, frontend-test, gateway

Improve SQL parser for SQL Server specific syntax
  frontend/src/DataSources/SqlMiner/Parsers/CreateTable.elm
  frontend/tests/DataSources/SqlMiner/Parsers/CreateTableTest.elm
  libs/utils/src/object.ts
Due: libs-utils, elm-test, elm-lint, elm-build, elm-format

Bootstrap cockpit integration
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add boot check
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add startup check
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Refactor events api
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Fix postgres connector
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
Due: libs-database-types, libs-connector-postgres, gateway, cli

Improve connection settings for PostgreSQL connector (#245)
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
Due: libs-database-types, libs-connector-postgres, gateway, cli

Fix gateway serialization for schema types
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/schemas.ts
  gateway/src/version.ts
Due: gateway, cli

Add user details
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add dev mode
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add Cockpit integration (#243)
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

fix
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Several fixes & life improvements
  .env.example
  INSTALL.md
  backend/config/runtime.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/templates/user_session/_auth_kind_separator.html.heex
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/JsonSource.elm
  frontend/src/Services/PrismaSource.elm
  frontend/src/Services/SqlSource.elm
  frontend/src/Track.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  gateway/Dockerfile
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/helpers.test.ts
  libs/utils/src/error.ts
  libs/utils/src/index.ts
  libs/utils/src/validations.ts
  libs/utils/tests/error.test.ts
Due: libs-utils, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test
