Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-aml, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-serde-aml: any of: libs/serde-aml/.*\.ts*$
  libs-serde-dbml: any of: libs/serde-dbml/.*\.ts*$
  libs-serde-prisma: any of: libs/serde-prisma/.*\.ts*$
  libs-serde-sql: any of: libs/serde-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Postgres: convert binary data to string
  libs/connector-postgres/src/postgres.test.ts
  libs/connector-postgres/src/query.test.ts
  libs/connector-postgres/src/query.ts
  libs/models/src/database.ts
Due: libs-models, libs-connector-postgres

Improve MySQL connector
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/DataSources/DbMiner/DbTypes.elm
  frontend/src/DataSources/DbMiner/QueryMySQL.elm
  frontend/src/DataSources/DbMiner/QueryOracle.elm
  frontend/src/DataSources/DbMiner/QueryPostgreSQL.elm
  frontend/src/Models/Project/RowPrimaryKey.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/Models/QueryResult.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryOracleTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  libs/connector-mysql/README.md
  libs/connector-mysql/src/connect.test.ts
  libs/connector-mysql/src/helpers.ts
  libs/connector-mysql/src/mysql.test.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/query.ts
  libs/connector-mysql/src/stats.test.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-oracle/README.md
  libs/connector-oracle/src/query.ts
  libs/models/src/interfaces/connector.ts
Due: libs-models, libs-connector-mysql, libs-connector-oracle, elm-format, elm-build, elm-lint, elm-test

Improve MariaDB connector
  frontend/src/Components/Organisms/Details.elm
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryMariaDB.elm
  frontend/tests/DataSources/DbMiner/QueryMariaDBTest.elm
  libs/connector-mariadb/README.md
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/connect.test.ts
  libs/connector-mariadb/src/connect.ts
  libs/connector-mariadb/src/helpers.ts
  libs/connector-mariadb/src/mariadb.test.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/query.test.ts
  libs/connector-mariadb/src/query.ts
  libs/connector-mariadb/src/stats.test.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mysql/README.md
  libs/connector-mysql/package.json
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/mysql.test.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/query.ts
  libs/connector-oracle/package.json
  libs/connector-oracle/src/connect.ts
  libs/connector-oracle/src/query.ts
  libs/connector-postgres/src/connect.ts
  libs/models/src/interfaces/connector.ts
Due: libs-models, libs-connector-mariadb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, elm-format, elm-build, elm-lint, elm-test

Small fixes
  libs/connector-mariadb/src/helpers.test.ts
  libs/connector-mariadb/src/helpers.ts
  libs/connector-mariadb/src/stats.test.ts
  libs/connector-mysql/src/helpers.test.ts
  libs/connector-mysql/src/helpers.ts
Due: libs-connector-mariadb, libs-connector-mysql

Add PostgreSQL doc
  libs/connector-mariadb/README.md
  libs/connector-mysql/README.md
  libs/connector-oracle/README.md
  libs/connector-postgres/README.md
  libs/connector-postgres/src/query.ts
  libs/models/src/interfaces/connector.ts
Due: libs-models, libs-connector-postgres

Improve & align connector tests
  libs/connector-mariadb/README.md
  libs/connector-mariadb/src/connect.test.ts
  libs/connector-mariadb/src/mariadb.test.ts
  libs/connector-mariadb/src/query.test.ts
  libs/connector-mariadb/src/stats.test.ts
  libs/connector-mysql/README.md
  libs/connector-mysql/src/connect.test.ts
  libs/connector-mysql/src/mysql.test.ts
  libs/connector-mysql/src/query.test.ts
  libs/connector-mysql/src/stats.test.ts
  libs/connector-oracle/README.md
  libs/connector-oracle/src/connect.test.ts
  libs/connector-oracle/src/history.test.ts
  libs/connector-oracle/src/integration.test.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/query.test.ts
  libs/connector-oracle/src/stats.test.ts
  libs/connector-postgres/README.md
  libs/connector-postgres/src/connect.test.ts
  libs/connector-postgres/src/history.test.ts
  libs/connector-postgres/src/integration.test.ts
  libs/connector-postgres/src/postgres.test.ts
  libs/connector-postgres/src/stats.test.ts
  libs/connector-sqlserver/README.md
  libs/connector-sqlserver/src/connect.test.ts
  libs/connector-sqlserver/src/query.test.ts
  libs/connector-sqlserver/src/sqlserver.test.ts
  libs/connector-sqlserver/src/stats.test.ts
  libs/models/src/interfaces/connector.ts
Due: libs-models, libs-connector-mariadb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-sqlserver

Improve SQL Server connector
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryMariaDB.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/Models/QueryResult.elm
  frontend/tests/DataSources/DbMiner/QueryMariaDBTest.elm
  frontend/tests/DataSources/DbMiner/QuerySQLServerTest.elm
  libs/connector-mariadb/src/query.test.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/query.test.ts
  libs/connector-oracle/src/query.test.ts
  libs/connector-postgres/src/query.test.ts
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/helpers.test.ts
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/query.test.ts
  libs/connector-sqlserver/src/query.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
Due: libs-models, libs-connector-mariadb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-sqlserver, elm-format, elm-build, elm-lint, elm-test

Improve MongoDB connector
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QueryMongoDB.elm
  frontend/src/Models/Project/ColumnType.elm
  frontend/tests/DataSources/DbMiner/QueryMongoDBTest.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
  libs/connector-mariadb/README.md
  libs/connector-mongodb/README.md
  libs/connector-mongodb/src/connect.test.ts
  libs/connector-mongodb/src/helpers.test.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.test.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/src/parser.test.ts
  libs/connector-mongodb/src/parser.ts
  libs/connector-mongodb/src/query.test.ts
  libs/connector-mongodb/src/query.ts
  libs/connector-sqlserver/README.md
Due: libs-connector-mongodb, elm-format, elm-build, elm-lint, elm-test

code review
  backend/config/config.exs
  libs/connector-mariadb/src/connect.ts
  libs/connector-mongodb/src/query.ts
  libs/connector-mysql/README.md
  libs/connector-postgres/src/history.test.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
Due: libs-models, libs-connector-mariadb, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test

Publish libs
  backend/mix.lock
  cli/html-report/package.json
  cli/package.json
  desktop/package.json
  frontend/package.json
  gateway/package-lock.json
  gateway/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: none

publish gateway & cli
  cli/html-report/package.json
  cli/package.json
  cli/src/version.ts
  desktop/package.json
  frontend/package.json
  gateway/.eslintignore
  gateway/.eslintrc.cjs
  gateway/.npmignore
  gateway/eslint.config.mjs
  gateway/package-lock.json
  gateway/package.json
  gateway/src/schemas.ts
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-snowflake/package.json
  libs/models/src/legacy/legacyQuery.ts
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  pnpm-lock.yaml
Due: libs-models, gateway, cli

fix linter
  cli/html-report/src/components/layout/AppBar/AppBar.tsx
  cli/html-report/src/components/report/ReportStats/ReportStats.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/components/ui/command.tsx
Due: none

fix desktop linter
  desktop/src/main/index.ts
  desktop/src/preload.ts
  desktop/webpack.plugins.ts
Due: none

Fix sentry #5685740037
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/templates/user_onboarding/about_your_company.html.heex
Due: mix-format, mix-build, mix-lint, mix-test

Initial commit with design
  demos/ecommerce-usrv/README.md
  demos/ecommerce-usrv/design.md
  demos/ecommerce-usrv/script_1_referential_sqlserver.sql
  demos/ecommerce-usrv/script_2_identity_mariadb.sql
  frontend/src/Models/Project/ColumnType.elm
  frontend/src/Models/Project/ProjectSettings.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  libs/connector-mariadb/src/index.ts
Due: libs-connector-mariadb, elm-format, elm-build, elm-lint, elm-test

Add Inventory source
  demos/ecommerce-usrv/README.md
  demos/ecommerce-usrv/design.md
  demos/ecommerce-usrv/script_1_referential_sqlserver.sql
  demos/ecommerce-usrv/script_2_identity_mariadb.sql
  demos/ecommerce-usrv/script_3_inventory_oracle.sql
  libs/connector-oracle/src/index.ts
  libs/connector-oracle/src/oracle.ts
  libs/connector-oracle/src/query.test.ts
  libs/connector-oracle/src/query.ts
  libs/models/src/databaseUrl.test.ts
  libs/models/src/databaseUrl.ts
Due: libs-models, libs-connector-oracle

Fix libs
  backend/mix.lock
Due: none

Add catalog & shopping domains
  demos/ecommerce/README.md
  demos/ecommerce/design.md
  demos/ecommerce/script_1_referential_sqlserver.sql
  demos/ecommerce/script_2_identity_mariadb.sql
  demos/ecommerce/script_3_inventory_oracle.sql
  demos/ecommerce/script_4_catalog_postgres.sql
  demos/ecommerce/script_5_shopping_postgres.sql
Due: none

Add Billing
  demos/ecommerce/README.md
  demos/ecommerce/design.md
  demos/ecommerce/script_6_billing_sqlserver.sql
Due: none

Add Shipping
  demos/ecommerce/README.md
  demos/ecommerce/design.md
  demos/ecommerce/script_7_shipping_mongo.sql
  libs/connector-mongodb/src/mongodb.ts
Due: libs-connector-mongodb

Add Crm
  demos/ecommerce/README.md
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_01_referential_sqlserver.sql
  demos/ecommerce/source_02_identity_mariadb.sql
  demos/ecommerce/source_03_inventory_oracle.sql
  demos/ecommerce/source_04_catalog_postgres.sql
  demos/ecommerce/source_05_shopping_postgres.sql
  demos/ecommerce/source_06_billing_sqlserver.sql
  demos/ecommerce/source_07_shipping_mongo.sql
  demos/ecommerce/source_08_crm_mysql.sql
  libs/connector-mysql/src/index.ts
Due: libs-connector-mysql

Add Analytics
  demos/ecommerce/README.md
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_09_analytics_mongo.sql
  demos/ecommerce/source_10_additional_relations.md
Due: none

Better README
  demos/ecommerce/README.md
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_10_additional_relations.md
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
Due: elm-format, elm-build, elm-lint, elm-test

Comments & better data on Referential and Identity
  demos/ecommerce/README.md
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_01_referential_sqlserver.sql
  demos/ecommerce/source_02_identity_mariadb.sql
  libs/connector-sqlserver/src/sqlserver.test.ts
  libs/connector-sqlserver/src/sqlserver.ts
Due: libs-connector-sqlserver

feat: add Kubernetes deployment support for Azimutt
  .gitignore
  README.md
  charts/azimutt/.helmignore
  charts/azimutt/Chart.yaml
  charts/azimutt/README.md
  charts/azimutt/README.md.gotmpl
  charts/azimutt/templates/_helpers.tpl
  charts/azimutt/templates/deployment.yaml
  charts/azimutt/templates/hpa.yaml
  charts/azimutt/templates/service.yaml
  charts/azimutt/templates/serviceaccount.yaml
  charts/azimutt/values.yaml
Due: none

feat: enhance Helm chart for Azimutt with extended configuration options
  .gitignore
  charts/azimutt/.helmignore
  charts/azimutt/Chart.yaml
  charts/azimutt/README.md
  charts/azimutt/README.md.gotmpl
  charts/azimutt/values.yaml
Due: none

feat: add Kubernetes deployment support for Azimutt (#321)
  .gitignore
  README.md
  charts/azimutt/.helmignore
  charts/azimutt/Chart.yaml
  charts/azimutt/README.md
  charts/azimutt/README.md.gotmpl
  charts/azimutt/templates/_helpers.tpl
  charts/azimutt/templates/deployment.yaml
  charts/azimutt/templates/hpa.yaml
  charts/azimutt/templates/service.yaml
  charts/azimutt/templates/serviceaccount.yaml
  charts/azimutt/values.yaml
Due: none

Update Dockerfile to use variables for versioning. Update docker-compose.yml to use environment variables for Platform variable. Added Platform variable to .env.example.
  .env.example
  Dockerfile
  docker-compose.yml
Due: none

version bump for pnpm
  Dockerfile
Due: none

Add db comments
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_01_referential_sqlserver.sql
  demos/ecommerce/source_02_identity_mariadb.sql
  demos/ecommerce/source_03_inventory_oracle.sql
  demos/ecommerce/source_04_catalog_postgres.sql
  demos/ecommerce/source_05_shopping_postgres.sql
  demos/ecommerce/source_06_billing_sqlserver.sql
  demos/ecommerce/source_08_crm_mysql.sql
  demos/ecommerce/source_09_analytics_mongo.sql
Due: none

Better data on Inventory, Catalog, Shopping, Billing and Shipping
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_03_inventory_oracle.sql
  demos/ecommerce/source_04_catalog_postgres.sql
  demos/ecommerce/source_05_shopping_postgres.sql
  demos/ecommerce/source_06_billing_sqlserver.sql
  demos/ecommerce/source_07_shipping_mongo.sql
  demos/ecommerce/source_09_analytics_mongo.sql
  frontend/src/Components/Organisms/TableRow.elm
Due: elm-format, elm-build, elm-lint, elm-test

Improve CRM data
  demos/ecommerce/source_03_inventory_oracle.sql
  demos/ecommerce/source_08_crm_mysql.sql
Due: none

Code review
  demos/ecommerce/README.md
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_01_referential_sqlserver.sql
  demos/ecommerce/source_03_inventory_oracle.sql
  demos/ecommerce/source_07_shipping_mongo.sql
  demos/ecommerce/source_09_analytics_mongo.sql
Due: none

publish libs
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  pnpm-lock.yaml
Due: cli

Update screenshots
  README.md
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/images/screenshots/azimutt-ecommerce.png
  backend/priv/static/images/screenshots/azimutt-gospeak.png
  demos/ecommerce/README.md
Due: none

Better management of whitespaces
  libs/serde-aml/src/aml.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/docs.test.ts
  libs/serde-aml/src/index.ts
  libs/serde-aml/src/parser.test.ts
  libs/serde-aml/src/parser.ts
Due: libs-serde-aml
