Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

ts-test:
  name: TypeScript test
  language: system
  entry: npm run ts:test
  pass_filenames: false

ts-lint:
  name: TypeScript lint
  language: system
  entry: npm run ts:lint
  pass_filenames: false

Add plan on admin organization page
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Delete Caddyfile
  Caddyfile
Due: none

save 1
  Dockerfile
  backend/config/config.exs
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/mix.exs
  backend/rel/overlays/bin/migrate
  backend/rel/overlays/bin/migrate.bat
  backend/rel/overlays/bin/server
  backend/rel/overlays/bin/server.bat
  docker-compose.yml
Due: mix-test, mix-lint, mix-build, mix-format

save 2
  Dockerfile
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

fix assets.deploy after lib
  Dockerfile
Due: none

add args and env
  Dockerfile
Due: none

Put correct host to allow auth
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/lib/azimutt/application.ex
  backend/lib/azimutt_web/admin/email/email_controller.ex
  backend/lib/azimutt_web/templates/error/401.html.heex
  backend/lib/azimutt_web/templates/error/403.html.heex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/error/410.html.heex
  backend/lib/azimutt_web/templates/error/500.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add fly configuration
  .dockerignore
  Dockerfile
  fly.toml
Due: none

add addon uri var
  Dockerfile
Due: none

fix arg
  Dockerfile
Due: none

change DATABASE_URL
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

change DATABASE_URL
  Dockerfile
  docker-compose.yml
  fly.toml
Due: none

fix docker-compose like before
  docker-compose.yml
Due: none

improve env variables for emails
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

Rename team plan to pro plan
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/staging.exs
  backend/config/test.exs
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/admin/email/email_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/_is_private_members_section.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/website/_heroku_addon.html.heex
  backend/lib/azimutt_web/templates/website/_pricing.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  frontend/src/Services/Lenses.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Allow 5 memos in free plan
  backend/config/config.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/website/_pricing.html.heex
  frontend/src/Conf.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

show current project in dropdown
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
Due: elm-test, elm-lint, elm-build, elm-format

Rename team plan to pro plan (#172)
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/staging.exs
  backend/config/test.exs
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/admin/email/email_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/_is_private_members_section.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/website/_heroku_addon.html.heex
  backend/lib/azimutt_web/templates/website/_pricing.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Allow to hide public site and hide Stripe when not configured
  backend/config/runtime.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/components/header.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/lib/azimutt_web/views/organization_member_view.ex
  backend/priv/repo/migrations/20230126103538_allow_null_on_stripe_orga_and_event_user.exs
  backend/test/azimutt/services/stripe_srv_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Make user optional in events
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/show.html.heex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  frontend/src/Track.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

fix
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

Adapt Azimutt for on-premise (#173)
  backend/config/runtime.exs
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/show.html.heex
  backend/lib/azimutt_web/components/header.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/lib/azimutt_web/views/organization_member_view.ex
  backend/priv/repo/migrations/20230126103538_allow_null_on_stripe_orga_and_event_user.exs
  backend/test/azimutt/services/stripe_srv_test.exs
  frontend/src/Track.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Add global organization
  backend/config/runtime.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/utils/uuid.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/config/config.exs
  backend/lib/azimutt_web/components/brand.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add global organization configuration (#174)
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/utils/uuid.ex
  backend/lib/azimutt_web/components/brand.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-test, mix-lint, mix-build, mix-format

blog: heroku addon
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/azimutt-heroku.png
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/azimutt-installed-on-heroku.png
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/azimutt-listed-on-heroku.png
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/gospeak-on-azimutt.png
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/integrate-azimutt-with-heroku-addon.md
Due: none

Add blog cards
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/blog/_post_card.html.heex
  backend/lib/azimutt_web/templates/blog/cards.html.heex
  backend/lib/azimutt_web/templates/blog/index.html.heex
  backend/lib/azimutt_web/templates/blog/show.html.heex
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/templates/gallery/show.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add elm and nodejs in docker
  Dockerfile
  fly.toml
  frontend/package.json
Due: none

update deps and add docker command for elm in package json
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: none

update deps
  frontend/package-lock.json
  package-lock.json
Due: none

small fix
  backend/lib/azimutt_web/templates/blog/show.html.heex
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/integrate-azimutt-with-heroku-addon.md
Due: none

fix
  backend/lib/azimutt_web/templates/blog/cards.html.heex
Due: none

Add 2022 review
  backend/priv/static/blog/2023-01-31-review-of-2022/2022-2023-home.png
  backend/priv/static/blog/2023-01-31-review-of-2022/2022-2023-import.png
  backend/priv/static/blog/2023-01-31-review-of-2022/2022-2023-layout.png
  backend/priv/static/blog/2023-01-31-review-of-2022/2023-new-year.jpg
  backend/priv/static/blog/2023-01-31-review-of-2022/coding.jpg
  backend/priv/static/blog/2023-01-31-review-of-2022/review-of-2022.md
Due: none

blog: 2022 review (#176)
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/blog/_post_card.html.heex
  backend/lib/azimutt_web/templates/blog/cards.html.heex
  backend/lib/azimutt_web/templates/blog/index.html.heex
  backend/lib/azimutt_web/templates/blog/show.html.heex
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/templates/gallery/show.html.heex
  backend/priv/static/blog/2023-01-27-integrate-azimutt-with-heroku-addon/integrate-azimutt-with-heroku-addon.md
  backend/priv/static/blog/2023-01-31-review-of-2022/2022-2023-home.png
  backend/priv/static/blog/2023-01-31-review-of-2022/2022-2023-import.png
  backend/priv/static/blog/2023-01-31-review-of-2022/2022-2023-layout.png
  backend/priv/static/blog/2023-01-31-review-of-2022/2023-new-year.jpg
  backend/priv/static/blog/2023-01-31-review-of-2022/coding.jpg
  backend/priv/static/blog/2023-01-31-review-of-2022/review-of-2022.md
Due: mix-test, mix-lint, mix-build, mix-format

Bootstrap Azimutt CLI
  cli/.gitignore
  cli/README.md
  cli/jest.config.js
  cli/package-lock.json
  cli/package.json
  cli/src/export/index.ts
  cli/src/export/mongodb.ts
  cli/src/index.ts
  cli/src/utils/database.ts
  cli/src/utils/file.ts
  cli/src/utils/logger.ts
  cli/src/utils/number.ts
  cli/src/utils/object.ts
  cli/src/utils/promise.ts
  cli/tests/utils/database.test.ts
  cli/tests/utils/object.test.ts
  cli/tsconfig.json
Due: ts-test, ts-lint

Add PostgreSQL support to CLI
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/export/index.ts
  cli/src/export/mongodb.ts
  cli/src/export/postgres.ts
  cli/src/index.ts
  cli/src/utils/array.ts
  cli/src/utils/database.ts
  cli/tests/utils/array.test.ts
  cli/tests/utils/database.test.ts
Due: ts-test, ts-lint

Improve schema inference
  cli/src/export/infer.ts
  cli/src/export/mongodb.ts
  cli/src/export/postgres.ts
  cli/src/utils/array.ts
  cli/src/utils/object.ts
  cli/tests/export/infer.test.ts
  cli/tests/utils/object.test.ts
Due: ts-test, ts-lint

add column flatten
  cli/src/export/infer.ts
  cli/src/export/mongodb.ts
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Add Couchbase support in CLI
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/export/couchbase.ts
  cli/src/export/index.ts
  cli/src/export/mongodb.ts
  cli/src/index.ts
  cli/src/utils/database.ts
  cli/tests/utils/database.test.ts
  cli/tsconfig.json
Due: ts-test, ts-lint

Path conditions:
  mix-test: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-format: any of: \.exs*$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  ts-test: any of: \.ts*$
  ts-lint: any of: \.ts*$
