Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

AML: add entity & begin types
  libs/serde-aml/src/parser.ts
  libs/serde-aml/tests/parser.test.ts
Due: none

Fix url parsing with empty password
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/README.md
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/common/query.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/src/any.ts
  libs/utils/src/object.ts
  libs/utils/tests/object.test.ts
Due: libs-utils, libs-database-types, libs-connector-postgres, gateway, cli

tmp
  libs/database-model/src/database.ts
  libs/serde-aml/src/parser.ts
  libs/serde-dbml/tests/dbml.test.ts
  libs/serde-sql/src/chevrotain/ast.ts
  libs/serde-sql/tests/chevrotain/parser.test.ts
Due: none

Fix postgres empty password
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/connect.ts
Due: libs-connector-postgres, gateway, cli

tmp
  libs/database-model/src/databaseDiff.ts
  libs/database-model/src/databaseUrl.ts
  libs/database-model/src/index.ts
  libs/database-model/src/inferRelations.ts
  libs/database-model/src/inferSchema.ts
  libs/database-model/src/project.ts
  libs/database-model/tests/databaseUrl.test.ts
  libs/serde-sql/src/generator.ts
Due: none

Add pagination
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/tests/connect.test.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/connector-sqlserver/tests/stats.test.ts
Due: none

tmp
  libs/connector-sqlserver/src/connect.ts
Due: none

Block account creation
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add reCAPTCHA
  .env.example
  INSTALL.md
  backend/config/runtime.exs
  backend/lib/azimutt/services/recaptcha_srv.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/templates/user_session/_submit_button.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Fix SQL Server connector performance
  libs/connector-sqlserver/src/common/types.ts
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/tests/connect.test.ts
  libs/connector-sqlserver/tests/constants.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/connector-sqlserver/tests/stats.test.ts
Due: none

Update Postgres connector with logs
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/common/types.ts
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/connector-postgres/tests/constants.ts
  libs/connector-postgres/tests/integration.test.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/connector.ts
  libs/database-types/src/index.ts
  libs/database-types/src/inferSchema.ts
  libs/database-types/tests/connector.test.ts
  libs/database-types/tests/inferSchema.test.ts
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/src/object.ts
  libs/utils/tests/object.test.ts
Due: libs-utils, libs-database-types, libs-connector-postgres

Update SQL Server connector with logs
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/connect.ts
  libs/connector-sqlserver/src/index.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/tests/constants.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
Due: none

Finish lib updates
  cli/package-lock.json
  cli/package.json
  cli/src/export.ts
  cli/src/index.ts
  cli/src/version.ts
  desktop/package.json
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/version.ts
  libs/json-infer-schema/.gitignore
  libs/json-infer-schema/.npmignore
  libs/json-infer-schema/README.md
  libs/json-infer-schema/jest.config.js
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/json-infer-schema/src/index.ts
  libs/json-infer-schema/tests/index.test.ts
  libs/json-infer-schema/tsconfig.json
Due: libs-json-infer-schema, gateway, cli

Last cleanup
  .pre-commit-config.yaml
  libs/README.md
  libs/connector-couchbase/README.md
  libs/connector-mongodb/README.md
  package.json
Due: none

Final adjustements
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-postgres/src/common/query.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/src/common/query.ts
  libs/database-types/src/connector.ts
Due: libs-database-types, libs-connector-postgres

typos
  libs/connector-couchbase/README.md
  libs/connector-mariadb/README.md
  libs/connector-mongodb/README.md
  libs/connector-mysql/README.md
  libs/connector-postgres/README.md
  libs/connector-snowflake/README.md
  libs/connector-sqlserver/README.md
Due: none

Small improvements
  cli/README.md
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/connector.ts
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/src/array.ts
  libs/utils/src/error.ts
  libs/utils/src/index.ts
  libs/utils/src/json.ts
  libs/utils/src/number.ts
  libs/utils/src/object.ts
  libs/utils/src/promise.ts
  libs/utils/src/string.ts
  libs/utils/src/validation.ts
  libs/utils/src/validations.ts
  libs/utils/tests/array.test.ts
  libs/utils/tests/error.test.ts
  libs/utils/tests/number.test.ts
  libs/utils/tests/object.test.ts
  libs/utils/tests/string.test.ts
  libs/utils/tests/validation.test.ts
Due: libs-utils, libs-database-types

Add stats to database model
  libs/database-model/src/database.ts
  libs/database-model/src/project.ts
  libs/serde-sql/.gitignore
Due: none

Improve AML spec
  libs/database-model/src/database.ts
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/comment.md
  libs/serde-aml/docs/database.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/namespace.md
  libs/serde-aml/docs/note.md
  libs/serde-aml/docs/properties.md
Due: none

oops
  libs/serde-aml/docs/documentation.md
  libs/serde-aml/docs/entity-attribute.md
  libs/serde-aml/docs/identifier.md
  libs/serde-aml/tests/doc.test.ts
Due: none

Improve AML spec
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/comment.md
  libs/serde-aml/docs/documentation.md
  libs/serde-aml/docs/entity-attribute.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/identifier.md
  libs/serde-aml/docs/migration.md
  libs/serde-aml/docs/namespace.md
  libs/serde-aml/docs/properties.md
  libs/serde-aml/docs/relation.md
  libs/serde-aml/docs/type.md
  libs/serde-aml/tests/doc.test.ts
Due: none

Improve AML doc tests
  docs/aml/README.md
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/migration.md
  libs/serde-aml/package-lock.json
  libs/serde-aml/package.json
  libs/serde-aml/tests/doc.test.ts
  libs/serde-aml/tests/docs.test.ts
  libs/utils/src/string.ts
  libs/utils/tests/string.test.ts
Due: libs-utils

Improve README for AMLv2
  libs/connector-mongodb/src/mongodb.ts
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/comment.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/relation.md
  libs/serde-aml/tests/aml.test.ts
  libs/serde-aml/tests/docs.test.ts
Due: libs-connector-mongodb

Rename columns to attributes
  libs/database-model/src/common.ts
  libs/database-model/src/database.ts
  libs/database-model/src/databaseDiff.ts
  libs/database-model/src/databaseUtils.ts
  libs/database-model/src/index.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/src/interfaces/serde.ts
  libs/database-model/src/project.ts
  libs/database-model/tests/database.test.ts
  libs/database-model/tests/databaseUtils.test.ts
  libs/database-model/tests/interfaces/serde.test.ts
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/index.ts
  libs/serde-aml/src/parser.ts
  libs/serde-aml/src/utils.ts
  libs/serde-aml/tests/aml.test.ts
  libs/serde-aml/tests/docs.test.ts
  libs/serde-aml/tests/parser.test.ts
  libs/serde-aml/tests/resources/complex.json
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-dbml/src/dbml.ts
  libs/serde-dbml/src/dbmlExport.ts
  libs/serde-dbml/src/dbmlImport.ts
  libs/serde-dbml/src/extra.ts
  libs/serde-dbml/src/index.ts
  libs/serde-dbml/src/utils.ts
  libs/serde-dbml/tests/dbml.test.ts
  libs/serde-dbml/tests/resources/complex.json
  libs/serde-sql/src/chevrotain/ast.ts
  libs/serde-sql/src/chevrotain/formatter.ts
  libs/serde-sql/src/chevrotain/index.ts
  libs/serde-sql/src/chevrotain/parser.ts
  libs/serde-sql/src/index.ts
  libs/serde-sql/src/sql.ts
  libs/serde-sql/src/statements/select.ts
  libs/serde-sql/tests/chevrotain/parser.test.ts
Due: none

Use new model in Postgres connector
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres2.ts
  libs/database-model/src/interfaces/serde.ts
  libs/utils/src/index.ts
  libs/utils/src/result.ts
  libs/utils/tests/result.test.ts
Due: libs-utils, libs-connector-postgres

Fix AML doc typos
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/comment.md
  libs/serde-aml/docs/documentation.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/identifier.md
  libs/serde-aml/docs/migration.md
  libs/serde-aml/docs/namespace.md
  libs/serde-aml/docs/properties.md
  libs/serde-aml/docs/relation.md
  libs/serde-aml/docs/type.md
Due: none

Better Postgres connector queries
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres2.ts
  libs/connector-postgres/tests/constants.ts
  libs/database-model/package-lock.json
  libs/database-model/package.json
  libs/database-model/src/interfaces/connector.ts
Due: libs-connector-postgres

oubli
  libs/connector-postgres/tests/postgres2.test.ts
Due: libs-connector-postgres

Fetch table & column comments
  libs/connector-postgres/src/postgres2.ts
  libs/connector-postgres/tests/postgres2.test.ts
  libs/database-model/src/databaseUrl.ts
  libs/database-types/src/url.ts
Due: libs-database-types, libs-connector-postgres

Add postgres data fetching
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres2.ts
  libs/connector-postgres/tests/postgres2.test.ts
  libs/database-model/src/index.ts
  libs/database-model/src/inferSchema.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/tests/inferSchema.test.ts
  libs/database-types/src/inferSchema.ts
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
  libs/utils/src/object.ts
Due: libs-utils, libs-database-types, libs-connector-postgres

Postgres: fetch indexes
  gateway/package-lock.json
  gateway/package.json
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/postgres2.ts
  libs/database-model/src/database.ts
Due: libs-connector-postgres

Postgres: fetch constraints & relations
  libs/connector-postgres/src/postgres2.ts
  libs/database-model/src/database.ts
Due: libs-connector-postgres

Postgres add types & db infos
  libs/connector-postgres/src/postgres2.ts
  libs/connector-postgres/tests/postgres2.test.ts
Due: libs-connector-postgres

Adapt postgres connector
  libs/connector-postgres/src/common/query.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/database-model/src/interfaces/connector.ts
Due: libs-connector-postgres

Init BigQuery connector
  libs/connector-bigquery/.gitignore
  libs/connector-bigquery/.npmignore
  libs/connector-bigquery/README.md
  libs/connector-bigquery/jest.config.js
  libs/connector-bigquery/package-lock.json
  libs/connector-bigquery/package.json
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-bigquery/src/connect.ts
  libs/connector-bigquery/src/index.ts
  libs/connector-bigquery/tests/bigquery.test.ts
  libs/connector-bigquery/tests/connect.test.ts
  libs/connector-bigquery/tests/constants.ts
  libs/connector-bigquery/tsconfig.json
Due: none

Add legacy database
  libs/connector-postgres/src/postgres2.ts
  libs/database-model/src/index.ts
  libs/database-model/src/legacy/legacyDatabase.ts
  libs/database-model/tests/legacy/legacyDatabase.test.ts
  libs/serde-aml/src/parser.ts
  libs/serde-sql/src/chevrotain/parser.ts
Due: libs-connector-postgres

Migrate MySQL connector
  libs/connector-mysql/package-lock.json
  libs/connector-mysql/package.json
  libs/connector-mysql/src/common/query.ts
  libs/connector-mysql/src/common/types.ts
  libs/connector-mysql/src/connect.ts
  libs/connector-mysql/src/index.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/connect.test.ts
  libs/connector-mysql/tests/constants.ts
  libs/connector-mysql/tests/mysql.test.ts
  libs/connector-mysql/tests/stats.test.ts
  libs/connector-postgres/tests/connect.test.ts
  libs/connector-postgres/tests/integration.test.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/src/legacy/legacyDatabase.ts
Due: libs-connector-postgres

Migrate Postgres connector
  libs/connector-mysql/src/helpers.ts
  libs/connector-mysql/src/stats.ts
  libs/connector-mysql/tests/helpers.test.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/common/types.ts
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/postgres2.ts
  libs/connector-postgres/src/stats.ts
  libs/connector-postgres/tests/helpers.test.ts
  libs/connector-postgres/tests/integration.test.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/connector-postgres/tests/postgres2.test.ts
  libs/connector-postgres/tests/query.test.ts
  libs/connector-postgres/tests/stats.test.ts
  libs/database-model/src/common.ts
  libs/database-model/tests/database.test.ts
Due: libs-connector-postgres
