Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Read previous reports
  cli/src/analyze.ts
  cli/src/index.ts
  cli/src/utils/file.ts
  libs/models/src/constants.ts
  libs/models/src/index.ts
Due: cli

Improve pg connector & add vacuum rule
  libs/connector-postgres/src/postgres.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/entityNoIndex.ts
  libs/models/src/analyze/rules/entityNotClean.test.ts
  libs/models/src/analyze/rules/entityNotClean.ts
  libs/models/src/analyze/rules/queryExpensive.ts
  libs/models/src/analyze/rules/queryHighVariation.ts
  libs/models/src/analyze/rules/queryTooSlow.ts
  libs/models/src/database.ts
Due: libs-connector-postgres

Fix postgres connector on not populated views
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/src/postgres.test.ts
  libs/connector-postgres/src/postgres.ts
Due: libs-connector-postgres

Add entity too many indexes rule
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/entityTooManyIndexes.test.ts
  libs/models/src/analyze/rules/entityTooManyIndexes.ts
  libs/models/src/helpers/sql.test.ts
  libs/models/src/helpers/sql.ts
Due: none

Add too heavy indexes rule
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/NamingConsistency.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableWithoutIndex.elm
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/attributeNameInconsistent.test.ts
  libs/models/src/analyze/rules/attributeNameInconsistent.ts
  libs/models/src/analyze/rules/entityIndexNone.test.ts
  libs/models/src/analyze/rules/entityIndexNone.ts
  libs/models/src/analyze/rules/entityIndexTooHeavy.test.ts
  libs/models/src/analyze/rules/entityIndexTooHeavy.ts
  libs/models/src/analyze/rules/entityIndexTooMany.test.ts
  libs/models/src/analyze/rules/entityIndexTooMany.ts
  libs/models/src/analyze/rules/entityNameInconsistent.test.ts
  libs/models/src/analyze/rules/entityNameInconsistent.ts
  libs/models/src/analyze/rules/entityNotClean.test.ts
  libs/models/src/analyze/rules/entityNotClean.ts
  libs/models/src/analyze/rules/queryExpensive.ts
  libs/models/src/analyze/rules/queryHighVariation.ts
  libs/models/src/analyze/rules/queryTooSlow.ts
Due: elm-test, elm-lint, elm-build, elm-format

Add entity/attr empty rules
  cli/src/analyze.ts
  libs/connector-postgres/src/postgres.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/attributeEmpty.test.ts
  libs/models/src/analyze/rules/attributeEmpty.ts
  libs/models/src/analyze/rules/entityEmpty.test.ts
  libs/models/src/analyze/rules/entityEmpty.ts
  libs/models/src/databaseUtils.ts
Due: libs-connector-postgres, cli

Add options for db
  cli/src/analyze.ts
  cli/src/explore.ts
  cli/src/gateway.ts
  cli/src/index.ts
  gateway/src/routes/index.ts
  libs/models/src/analyze/index.ts
  libs/models/src/interfaces/connector.ts
Due: gateway, cli

Code review
  cli/src/analyze.ts
  libs/models/src/analyze/rules/attributeEmpty.ts
  libs/models/src/analyze/rules/entityNotClean.ts
  libs/models/src/analyze/rules/entityTooLarge.test.ts
  libs/models/src/databaseUtils.ts
  libs/utils/src/email.ts
  libs/utils/src/string.ts
Due: libs-utils, cli

Add unused table rule
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/entityUnused.test.ts
  libs/models/src/analyze/rules/entityUnused.ts
  libs/models/src/helpers/date.ts
Due: none

Add unused index rule
  cli/src/analyze.ts
  libs/connector-postgres/src/postgres.ts
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/entityUnused.test.ts
  libs/models/src/analyze/rules/entityUnused.ts
  libs/models/src/analyze/rules/indexUnused.test.ts
  libs/models/src/analyze/rules/indexUnused.ts
  libs/models/src/analyze/rules/queryDegrading.test.ts
  libs/models/src/analyze/rules/queryDegrading.ts
  libs/models/src/database.ts
  libs/models/src/helpers/date.ts
Due: libs-connector-postgres, cli

Add fast growing entity rule
  cli/src/analyze.ts
  frontend/src/Libs/Models/Bytes.elm
  frontend/tests/Libs/Models/BytesTest.elm
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/analyze/rules/entityGrowFast.test.ts
  libs/models/src/analyze/rules/entityGrowFast.ts
  libs/models/src/analyze/rules/queryDegrading.ts
  libs/models/src/helpers/bytes.test.ts
  libs/models/src/helpers/bytes.ts
  libs/utils/src/number.test.ts
  libs/utils/src/number.ts
Due: libs-utils, elm-test, elm-lint, elm-build, elm-format, cli

Add fast growing index rule
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/indexGrowFast.test.ts
  libs/models/src/analyze/rules/indexGrowFast.ts
  libs/models/src/analyze/rules/queryDegrading.test.ts
Due: none

code review
  cli/src/index.ts
  libs/models/src/analyze/rules/entityGrowFast.test.ts
  libs/models/src/analyze/rules/entityGrowFast.ts
  libs/models/src/analyze/rules/entityIndexTooHeavy.ts
  libs/models/src/analyze/rules/entityNotClean.test.ts
  libs/models/src/analyze/rules/entityNotClean.ts
  libs/models/src/analyze/rules/entityUnused.test.ts
  libs/models/src/analyze/rules/entityUnused.ts
  libs/models/src/analyze/rules/indexGrowFast.test.ts
  libs/models/src/analyze/rules/indexGrowFast.ts
  libs/models/src/analyze/rules/indexUnused.test.ts
  libs/models/src/analyze/rules/indexUnused.ts
  libs/models/src/analyze/rules/primaryKeyNotBusiness.ts
  libs/models/src/analyze/rules/queryDegrading.test.ts
  libs/models/src/analyze/rules/queryDegrading.ts
  libs/models/src/analyze/rules/queryExpensive.test.ts
  libs/models/src/analyze/rules/queryExpensive.ts
  libs/models/src/analyze/rules/queryHighVariation.test.ts
  libs/models/src/analyze/rules/queryHighVariation.ts
  libs/models/src/analyze/rules/queryTooSlow.ts
  libs/models/src/common.ts
  libs/models/src/helpers/date.ts
  libs/models/src/helpers/duration.test.ts
  libs/models/src/helpers/duration.ts
  libs/models/src/helpers/sql.ts
  libs/models/src/helpers/time.test.ts
Due: cli

publish libs
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/models/package-lock.json
  libs/models/package.json
  libs/utils/package-lock.json
  libs/utils/package.json
Due: gateway, cli

Add database diff in CLI
  cli/package-lock.json
  cli/package.json
  cli/src/clustering.ts
  cli/src/diff.ts
  cli/src/index.ts
  cli/src/utils/file.ts
  cli/src/version.ts
  libs/models/package-lock.json
  libs/models/package.json
  libs/models/src/analyze/index.ts
  libs/models/src/analyze/rules/attributeTypeBad.test.ts
  libs/models/src/analyze/rules/attributeTypeBad.ts
  libs/models/src/database.ts
  libs/models/src/databaseDiff.test.ts
  libs/models/src/databaseDiff.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/index.ts
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/src/array.test.ts
  libs/utils/src/array.ts
  libs/utils/src/object.test.ts
  libs/utils/src/object.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils, cli

Small fix
  libs/models/src/analyze/rules/attributeTypeBad.ts
Due: none

Typos on READMEs
  gateway/README.md
  libs/connector-bigquery/README.md
  libs/connector-couchbase/README.md
  libs/connector-mariadb/README.md
  libs/connector-mongodb/README.md
  libs/connector-mysql/README.md
  libs/connector-postgres/README.md
  libs/connector-snowflake/README.md
  libs/connector-sqlserver/README.md
  libs/models/README.md
  libs/serde-aml/README.md
  libs/serde-dbml/README.md
  libs/serde-prisma/README.md
  libs/serde-sql/README.md
  libs/utils/README.md
  package.json
Due: none

update setup
  .github/workflows/push.yml
  pnpm-lock.yaml
Due: none

test
  .github/workflows/push.yml
  package.json
Due: none

instal pnpm
  .github/workflows/push.yml
Due: none

fix pnpm
  .github/workflows/push.yml
Due: none

fix pnpm version
  .github/workflows/push.yml
Due: none

remove scripts from package.json
  cli/package.json
  gateway/package.json
Due: none

Fix Stripe repetitive free trial
  .pre-commit-config.yaml
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/services/billing_srv.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  libs/models/src/analyze/index.ts
Due: mix-format, mix-lint, mix-test, mix-build

Improve AMLv2 spec
  cli/src/analyze.ts
  cli/src/index.ts
  frontend/src/PagesComponents/New/Views.elm
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/properties.md
Due: elm-test, elm-lint, elm-build, elm-format, cli

Source .env.example
  backend/package.json
Due: none

Add env variable to gh workflow
  .github/workflows/push.yml
  backend/package.json
Due: none

Elixir already setup
  .github/workflows/push.yml
Due: none

Fix browser-extension lint
  browser-extension/tsconfig.json
Due: none

Fix desktop lint
  backend/priv/repo/seeds.exs
  desktop/src/main/bridge.ts
  desktop/src/main/index.ts
  desktop/src/preload.ts
Due: mix-format, mix-lint, mix-test

Move build before lint
  .github/workflows/push.yml
Due: none

Add env in install
  .github/workflows/push.yml
Due: none

Remove desktop from build
  desktop/package.json
  desktop/tsconfig.json
  desktop/webpack.main.config.ts
  gateway/.env.example
  package.json
  pnpm-lock.yaml
Due: none

Add webpack as dev dep in desktop
  desktop/package.json
  pnpm-lock.yaml
Due: none

Test gallery samples
  backend/test/azimutt/gallery_test.exs
Due: mix-format, mix-lint, mix-test
