Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Skip test
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/tests/integration.test.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format

Fix npm version in docker build
  Dockerfile
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
Due: elm-test, elm-lint, elm-build, elm-format

Show missing tables in layout
  frontend/src/Libs/String.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/tests/Libs/StringTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Suggest to add relations from the diagram
  frontend/src/Components/Molecules/Dropdown.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/SuggestedRelation.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/Services/Analysis/MissingRelations.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/FindPathTest.elm
  frontend/tests/Services/Analysis/MissingRelationsTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Fix delete project with private tokens
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/projects.ex
Due: mix-format, mix-lint, mix-test, mix-build

fix gateway dockerfile to use apt and libc6
  gateway/Dockerfile
Due: none

fix
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/endpoint.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Add some warnings
  .env.example
  INSTALL.md
  backend/.credo.exs
  backend/config/config.exs
  backend/config/runtime.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/utils/markdown.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/error/_error_page.html.heex
  backend/lib/azimutt_web/templates/gallery/index.html.heex
  backend/lib/azimutt_web/templates/layout/_hello_comment.html.heex
  backend/lib/azimutt_web/templates/layout/_instance_message.html.heex
  backend/lib/azimutt_web/templates/layout/root_organization.html.heex
  backend/lib/azimutt_web/templates/layout/root_user_settings.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/community.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/feature-support.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/views/layout_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

Improve gateway choice
  frontend/src/Services/SourceLogs.elm
  frontend/ts-src/services/backend.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Create user auth tokens & source read apis
  backend/.credo.exs
  backend/.formatter.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user_auth_token.ex
  backend/lib/azimutt/accounts/user_token.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/lib/azimutt_web/views/api/source_view.ex
  backend/lib/azimutt_web/views/user_settings_view.ex
  backend/priv/repo/migrations/20231110120742_create_user_auth_tokens.exs
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt/blog/article_test.exs
  backend/test/azimutt/organizations_test.exs
  backend/test/azimutt/services/twitter_srv_test.exs
  backend/test/azimutt_web/controllers/organization_invitation_controller_test.exs
  frontend/src/Services/Analysis/MissingRelations.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Allow to delete a source
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/projects/project_file.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/test/azimutt/organizations_test.exs
  backend/test/azimutt/services/twitter_srv_test.exs
  backend/test/azimutt_web/controllers/organization_invitation_controller_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

Allow to edit a source
  backend/lib/azimutt/utils/mapx.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/controllers/api/fallback_controller.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/utils/ctx_params.ex
  backend/lib/azimutt_web/utils/project_schema.ex
  backend/lib/azimutt_web/views/error_view.ex
  backend/mix.exs
  backend/test/azimutt/utils/mapx_test.exs
  backend/test/azimutt/utils/result_test.exs
  frontend/ts-src/types/project.ts
Due: mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

Allow to create a source
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/utils/project_schema.ex
Due: mix-format, mix-lint, mix-test, mix-build

Remove lines in origin
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/src/Libs/Models.elm
  frontend/src/Libs/Models/FileLineIndex.elm
  frontend/src/Models/Project/Origin.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdOrigin.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/Fuzzers.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Remove origin from source types
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/src/Models/Project/CustomType.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdCustomType.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Last fixes
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd/TableWithOrigin.elm
  frontend/src/Services/Lenses.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

More tolerant with cockpit
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Experiment getting commit hash
  Dockerfile
  backend/config/config.exs
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

try 2
  Dockerfile
Due: none

try 3
  Dockerfile
Due: none

Revert commit hash experiments
  Dockerfile
  backend/config/config.exs
Due: mix-format, mix-lint, mix-test

Improve inference of relations
  frontend/src/Services/Analysis/MissingRelations.elm
  frontend/tests/Services/Analysis/MissingRelationsTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Small fixes
  cli/README.md
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/ts-src/services/backend.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Compute user streak
  backend/assets/tailwind.config.js
  backend/config/config.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/partials/_activity_feed.html.heex
  backend/lib/azimutt_web/templates/partials/_streak.html.heex
  backend/lib/azimutt_web/templates/partials/_streak_step.html.heex
  backend/lib/azimutt_web/views/api/organization_view.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/test/azimutt/projects_test.exs
  frontend/src/Conf.elm
  frontend/src/Models/Plan.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

fix
  backend/lib/azimutt_web/controllers/api/project_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add BlackFriday promo messages
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Implement start checklist
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt/services/onboarding_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/start_checklist_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/partials/_start_checklist.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/test/azimutt/accounts/user_test.exs
  frontend/src/Components/Molecules/Editor.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/Track.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

small improvements
  backend/lib/azimutt/services/onboarding_srv.ex
  backend/lib/azimutt_web/templates/partials/_start_checklist.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

minor fix
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add getting started list for user onboaring (#266)
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user/data.ex
  backend/lib/azimutt/services/onboarding_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/start_checklist_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/partials/_start_checklist.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/test/azimutt/accounts/user_test.exs
  frontend/src/Components/Molecules/Editor.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Track.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Refactor BlackFriday code
  backend/lib/azimutt/services/blackfriday_srv.ex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
  backend/lib/azimutt_web/templates/partials/_blackfriday_card.html.heex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Allow IPv4 addresses
  .env.example
  INSTALL.md
  backend/config/runtime.exs
Due: mix-format, mix-lint, mix-test

Add JSON Schema for JSON Source next to the input
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/Services/JsonSource.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix getting started list
  backend/lib/azimutt/services/onboarding_srv.ex
  backend/lib/azimutt_web/templates/layout/_organization_right_bar.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Track unhandled stripe events
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/start_checklist_controller.ex
  frontend/src/Components/Molecules/Editor.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Add copyToClipboard on exports
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Libs/Remote.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/utils/utils.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test
