Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

code review 2
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
Due: elm-test, elm-lint, elm-build, elm-format

Refactor Extra data
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Extra.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Utils.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
Due: elm-test, elm-lint, elm-build, elm-format

last fixes
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Improve README screenshot
  README.md
  docs/_assets/azimutt-screenshot-gospeak.png
  docs/_assets/azimutt.png
  docs/_assets/roadmap.png
Due: none

Boostrap APIs for metadata
  backend/lib/azimutt/utils/mapx.ex
  backend/lib/azimutt_web/controllers/api/gallery_controller.ex
  backend/lib/azimutt_web/controllers/api/metadata_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/utils/project_schema.ex
  backend/lib/azimutt_web/views/api/metadata_view.ex
  backend/test/azimutt/utils/mapx_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

Implement update for whole metadata
  backend/lib/azimutt_web/controllers/api/metadata_controller.ex
  backend/lib/azimutt_web/router.ex
Due: mix-format, mix-lint, mix-test, mix-build

refactor
  backend/lib/azimutt_web/controllers/api/metadata_controller.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/utils/json_schema.ex
  backend/lib/azimutt_web/utils/project_schema.ex
Due: mix-format, mix-lint, mix-test, mix-build

refacto2
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/api/metadata_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/utils/swagger_common.ex
  backend/lib/azimutt_web/views/api/metadata_view.ex
Due: mix-format, mix-lint, mix-test, mix-build

Improve swagger
  backend/lib/azimutt/accounts/user_auth_token.ex
  backend/lib/azimutt_web/controllers/api/gallery_controller.ex
  backend/lib/azimutt_web/controllers/api/metadata_controller.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/api/user_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/utils/project_schema.ex
  backend/lib/azimutt_web/utils/swagger_common.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add APIs for metadata & improve swagger (#273)
  backend/lib/azimutt/accounts/user_auth_token.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/utils/mapx.ex
  backend/lib/azimutt_web/controllers/api/gallery_controller.ex
  backend/lib/azimutt_web/controllers/api/metadata_controller.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/source_controller.ex
  backend/lib/azimutt_web/controllers/api/user_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/utils/json_schema.ex
  backend/lib/azimutt_web/utils/project_schema.ex
  backend/lib/azimutt_web/utils/swagger_common.ex
  backend/lib/azimutt_web/views/api/metadata_view.ex
  backend/test/azimutt/utils/mapx_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

TMP: delete account
  backend/lib/azimutt_web/controllers/user_settings_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_settings_left_bar.html.heex
  backend/lib/azimutt_web/templates/user_settings/auth.html.heex
  backend/lib/azimutt_web/templates/user_settings/show.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Add troubleshooting tests
  libs/connector-mongodb/src/connect.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/connect.test.ts
  libs/connector-mysql/tests/connect.test.ts
  libs/connector-sqlserver/tests/connect.test.ts
Due: libs-connector-mongodb

Improve SQL Server connexion
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-couchbase/README.md
  libs/connector-mariadb/README.md
  libs/connector-mongodb/README.md
  libs/connector-mysql/README.md
  libs/connector-postgres/README.md
  libs/connector-sqlserver/README.md
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/connect.ts
  libs/database-types/README.md
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
  libs/json-infer-schema/README.md
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/parser-prisma/README.md
  libs/parser-sql/README.md
  libs/shared/README.md
  libs/utils/README.md
Due: libs-database-types, gateway, cli

Improve gateway sample config
  gateway/.env.example
Due: none

Add explore action in CLI
  cli/README.md
  cli/jest.config.js
  cli/package-lock.json
  cli/package.json
  cli/src/explore.ts
  cli/src/export.ts
  cli/src/gateway.ts
  cli/src/index.ts
  cli/src/version.ts
  cli/tsconfig.json
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
Due: elm-test, elm-lint, elm-build, elm-format, cli

Fresh install fixes
  .tool-versions
  README.md
  backend/lib/azimutt/services/onboarding_srv.ex
  backend/lib/azimutt_web/controllers/start_checklist_controller.ex
  backend/lib/azimutt_web/templates/partials/_start_checklist.html.heex
  backend/lib/azimutt_web/views/api/metadata_view.ex
  package-lock.json
  package.json
Due: mix-format, mix-lint, mix-test, mix-build

Improve pg connector error handling
  libs/connector-postgres/src/connect.ts
  libs/connector-postgres/tests/connect.test.ts
Due: libs-connector-postgres

Add kind and class suffix for polymorphic relations
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  frontend/src/Libs/Ned.elm
  frontend/src/Libs/String.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Services/Analysis/MissingRelations.elm
  frontend/tests/Libs/StringTest.elm
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/tests/postgres.test.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format, gateway, cli

Add alternative text to table row relations
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/DataSources/DbMiner/DbTypes.elm
  frontend/src/DataSources/DbMiner/QueryPostgreSQL.elm
  frontend/src/Libs/List.elm
  frontend/src/Libs/String.elm
  frontend/src/Models/Project/RowPrimaryKey.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/tests/DataSources/DbMiner/QueryMySQLTest.elm
  frontend/tests/DataSources/DbMiner/QueryPostgreSQLTest.elm
  frontend/tests/Libs/ListTest.elm
  libs/connector-postgres/src/connect.ts
Due: libs-connector-postgres, elm-test, elm-lint, elm-build, elm-format

fix typo readme
  README.md
Due: none

Add snowflare url parsing & small fixes
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/explore.ts
  cli/src/version.ts
  desktop/.gitignore
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/connect.ts
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types, libs-connector-postgres, gateway, cli

fix typo readme (#276)
  README.md
Due: none

Bootstrap snowflake connector
  backend/priv/static/elm/assets/logos/snowflake.png
  cli/README.md
  frontend/src/Services/DatabaseSource.elm
  libs/connector-snowflake/.gitignore
  libs/connector-snowflake/.npmignore
  libs/connector-snowflake/README.md
  libs/connector-snowflake/jest.config.js
  libs/connector-snowflake/package-lock.json
  libs/connector-snowflake/package.json
  libs/connector-snowflake/src/common/index.ts
  libs/connector-snowflake/src/common/query.ts
  libs/connector-snowflake/src/common/types.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-snowflake/src/helpers.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/src/stats.ts
  libs/connector-snowflake/tests/connect.test.ts
  libs/connector-snowflake/tests/constants.ts
  libs/connector-snowflake/tests/helpers.test.ts
  libs/connector-snowflake/tests/query.test.ts
  libs/connector-snowflake/tests/snowflake.test.ts
  libs/connector-snowflake/tests/stats.test.ts
  libs/connector-snowflake/tsconfig.json
Due: elm-test, elm-lint, elm-build, elm-format

fix
  libs/connector-snowflake/package.json
  libs/connector-snowflake/src/common/query.ts
Due: none

Query Snowflake schema
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/tests/snowflake.test.ts
Due: none

Extract pk & fk
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/tests/snowflake.test.ts
Due: none

review
  cli/README.md
  frontend/src/Services/DatabaseSource.elm
  libs/connector-snowflake/README.md
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/tests/connect.test.ts
  libs/connector-snowflake/tests/query.test.ts
  libs/connector-snowflake/tests/snowflake.test.ts
  libs/connector-snowflake/tests/stats.test.ts
Due: elm-test, elm-lint, elm-build, elm-format

publish libs
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  cli/src/version.ts
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QuerySnowflake.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/tests/DataSources/DbMiner/QuerySnowflakeTest.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
  gateway/src/version.ts
  libs/connector-snowflake/.gitignore
  libs/connector-snowflake/package-lock.json
  libs/connector-snowflake/src/common/query.ts
  libs/connector-snowflake/src/common/types.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/stats.ts
  libs/connector-snowflake/tests/query.test.ts
  libs/connector-snowflake/tests/stats.test.ts
  libs/database-types/.gitignore
Due: elm-test, elm-lint, elm-build, elm-format, gateway, cli

improve doc
  frontend/src/DataSources/DbMiner/DbQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Create Snowflake connector (#277)
  backend/priv/static/elm/assets/logos/snowflake.png
  cli/README.md
  cli/package.json
  cli/src/index.ts
  cli/src/version.ts
  frontend/src/DataSources/DbMiner/DbQuery.elm
  frontend/src/DataSources/DbMiner/QuerySnowflake.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/tests/DataSources/DbMiner/QuerySnowflakeTest.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
  gateway/src/version.ts
  libs/connector-snowflake/.gitignore
  libs/connector-snowflake/.npmignore
  libs/connector-snowflake/README.md
  libs/connector-snowflake/jest.config.js
  libs/connector-snowflake/package-lock.json
  libs/connector-snowflake/package.json
  libs/connector-snowflake/src/common/index.ts
  libs/connector-snowflake/src/common/query.ts
  libs/connector-snowflake/src/common/types.ts
  libs/connector-snowflake/src/connect.ts
  libs/connector-snowflake/src/helpers.ts
  libs/connector-snowflake/src/index.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-snowflake/src/stats.ts
  libs/connector-snowflake/tests/connect.test.ts
  libs/connector-snowflake/tests/constants.ts
  libs/connector-snowflake/tests/helpers.test.ts
  libs/connector-snowflake/tests/query.test.ts
  libs/connector-snowflake/tests/snowflake.test.ts
  libs/connector-snowflake/tests/stats.test.ts
  libs/connector-snowflake/tsconfig.json
Due: elm-test, elm-lint, elm-build, elm-format, gateway, cli

improve .gitignore
  cli/.gitignore
  cli/package-lock.json
  cli/package.json
  cli/tsconfig.json
  gateway/.gitignore
  libs/connector-couchbase/.gitignore
  libs/connector-mariadb/.gitignore
  libs/connector-mongodb/.gitignore
  libs/connector-mysql/.gitignore
  libs/connector-postgres/.gitignore
  libs/connector-sqlserver/.gitignore
  libs/json-infer-schema/.gitignore
  libs/parser-prisma/.gitignore
  libs/parser-sql/.gitignore
  libs/shared/.gitignore
  libs/utils/.gitignore
Due: none

Add base model & dbml serde
  libs/database-model/.gitignore
  libs/database-model/.npmignore
  libs/database-model/README.md
  libs/database-model/jest.config.js
  libs/database-model/package-lock.json
  libs/database-model/package.json
  libs/database-model/src/database.ts
  libs/database-model/src/databaseUrl.ts
  libs/database-model/src/index.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/src/interfaces/serde.ts
  libs/database-model/tests/database.test.ts
  libs/database-model/tests/databaseUrl.test.ts
  libs/database-model/tsconfig.json
  libs/serde-dbml/.gitignore
  libs/serde-dbml/.npmignore
  libs/serde-dbml/README.md
  libs/serde-dbml/jest.config.js
  libs/serde-dbml/package-lock.json
  libs/serde-dbml/package.json
  libs/serde-dbml/src/dbml.ts
  libs/serde-dbml/src/dbmlExport.ts
  libs/serde-dbml/src/dbmlImport.ts
  libs/serde-dbml/src/extensions.ts
  libs/serde-dbml/src/index.ts
  libs/serde-dbml/src/jsonDatabase.ts
  libs/serde-dbml/src/utils.ts
  libs/serde-dbml/tests/dbml.test.ts
  libs/serde-dbml/tests/resources/complex.dbml
  libs/serde-dbml/tests/resources/complex.generated.dbml
  libs/serde-dbml/tests/resources/complex.json
  libs/serde-dbml/tsconfig.json
  libs/utils/src/any.ts
  libs/utils/src/object.ts
Due: libs-utils

Chris feedback
  libs/database-model/src/common.ts
  libs/database-model/src/database.ts
  libs/database-model/src/databaseUrl.ts
  libs/database-model/src/index.ts
  libs/database-model/src/interfaces/connector.ts
  libs/database-model/tests/database.test.ts
  libs/serde-dbml/src/dbmlExport.ts
  libs/serde-dbml/src/dbmlImport.ts
  libs/serde-dbml/src/extra.ts
  libs/serde-dbml/tests/dbml.test.ts
  libs/serde-dbml/tests/resources/complex.json
Due: none

Init SQL serde
  libs/database-model/src/database.ts
  libs/serde-sql/.gitignore
  libs/serde-sql/.npmignore
  libs/serde-sql/README.md
  libs/serde-sql/jest.config.js
  libs/serde-sql/package-lock.json
  libs/serde-sql/package.json
  libs/serde-sql/src/chevrotain/ast.ts
  libs/serde-sql/src/chevrotain/formatter.ts
  libs/serde-sql/src/chevrotain/index.ts
  libs/serde-sql/src/chevrotain/parser.ts
  libs/serde-sql/src/generator.ts
  libs/serde-sql/src/index.ts
  libs/serde-sql/src/sql.ts
  libs/serde-sql/src/sqlExport.ts
  libs/serde-sql/src/sqlImport.ts
  libs/serde-sql/src/statements/comment.ts
  libs/serde-sql/src/statements/createIndex.ts
  libs/serde-sql/src/statements/createMaterializedView.ts
  libs/serde-sql/src/statements/createSchema.ts
  libs/serde-sql/src/statements/createTable.ts
  libs/serde-sql/src/statements/createTableAs.ts
  libs/serde-sql/src/statements/createType.ts
  libs/serde-sql/src/statements/createView.ts
  libs/serde-sql/src/statements/delete.ts
  libs/serde-sql/src/statements/grant.ts
  libs/serde-sql/src/statements/index.ts
  libs/serde-sql/src/statements/insert.ts
  libs/serde-sql/src/statements/rollback.ts
  libs/serde-sql/src/statements/select.ts
  libs/serde-sql/src/statements/selectInto.ts
  libs/serde-sql/src/statements/truncate.ts
  libs/serde-sql/src/statements/update.ts
  libs/serde-sql/src/statements/value.ts
  libs/serde-sql/tests/chevrotain/formatter.test.ts
  libs/serde-sql/tests/chevrotain/parser.test.ts
  libs/serde-sql/tests/postgres.test.ts
  libs/serde-sql/tests/sql.test.ts
  libs/serde-sql/tests/statements/index.test.ts
  libs/serde-sql/tsconfig.json
Due: none

fix
  libs/serde-sql/src/chevrotain/parser.ts
  libs/serde-sql/tests/sql.test.ts
Due: none

Init AML serde
  libs/serde-aml/.gitignore
  libs/serde-aml/.npmignore
  libs/serde-aml/README.md
  libs/serde-aml/docs/README.md
  libs/serde-aml/docs/comment.md
  libs/serde-aml/docs/database.md
  libs/serde-aml/docs/entity.md
  libs/serde-aml/docs/namespace.md
  libs/serde-aml/docs/note.md
  libs/serde-aml/docs/properties.md
  libs/serde-aml/docs/relation.md
  libs/serde-aml/docs/type.md
  libs/serde-aml/jest.config.js
  libs/serde-aml/package-lock.json
  libs/serde-aml/package.json
  libs/serde-aml/src/aml.ts
  libs/serde-aml/src/index.ts
  libs/serde-aml/src/parser.ts
  libs/serde-aml/tests/aml.test.ts
  libs/serde-aml/tests/parser.test.ts
  libs/serde-aml/tests/resources/complex.aml
  libs/serde-aml/tests/resources/complex.json
  libs/serde-aml/tsconfig.json
  libs/serde-sql/src/chevrotain/parser.ts
Due: none

AML: improve column & add relation
  libs/serde-aml/package-lock.json
  libs/serde-aml/package.json
  libs/serde-aml/src/parser.ts
  libs/serde-aml/src/utils.ts
  libs/serde-aml/tests/parser.test.ts
Due: none

AML: finalize column & add namespace
  libs/serde-aml/src/parser.ts
  libs/serde-aml/tests/parser.test.ts
Due: none

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
