Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint, cli-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli-test
      name: 'CLI test'
      language: system
      entry: npm run cli:test
      pass_filenames: false
      files: cli/.*\.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

quick fix
  backend/lib/azimutt/tracking.ex
Due: mix-test, mix-lint, mix-build, mix-format

Refactor env variables to prepare dockerization
  .github/workflows/push.yml
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/services/bento_srv.ex
  backend/lib/azimutt/services/github_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/components/landing_page.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/error/401.html.heex
  backend/lib/azimutt_web/templates/error/403.html.heex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/error/410.html.heex
  backend/lib/azimutt_web/templates/error/500.html.heex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/lib/azimutt_web/views/website_view.ex
  frontend/package-lock.json
  frontend/package.json
Due: mix-test, mix-lint, mix-build, mix-format

remove duplicate email config
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

update frontend libs
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

update backend libs
  backend/mix.lock
  package.json
Due: none

Refactor env variables
  backend/config/dev.exs
  backend/config/runtime.exs
  backend/config/test.exs
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/endpoint.ex
Due: mix-test, mix-lint, mix-build, mix-format

Refactor env variables
  backend/config/config.exs
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/runtime.exs
  backend/config/staging.exs
  backend/config/test.exs
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/endpoint.ex
Due: mix-test, mix-lint, mix-build, mix-format

load json project
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/Services/ProjectSource.elm
Due: elm-test, elm-lint, elm-build, elm-format

open new project page on main page load
  frontend/src/Main.elm
Due: elm-test, elm-lint, elm-build, elm-format

export project
  frontend/src/PagesComponents/Organization_/Project_/Updates/Project.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix bento integration
  backend/config/runtime.exs
  backend/lib/azimutt/services/bento_srv.ex
  backend/lib/azimutt/tracking.ex
Due: mix-test, mix-lint, mix-build, mix-format

register screen
  .pre-commit-config.yaml
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/priv/static/images/inscription_showcase.png
Due: none

Add plan to subscription events
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Generate SQL
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  frontend/src/DataSources/SqlMiner/PostgreSqlGenerator.elm
  frontend/src/Libs/String.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
  frontend/tests/DataSources/SqlMiner/PostgreSqlGeneratorTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add azimutt_id to user_created
  backend/lib/azimutt/tracking.ex
Due: mix-test, mix-lint, mix-build, mix-format

Generate AML
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  frontend/src/DataSources/AmlMiner/AmlParser.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
  frontend/tests/DataSources/AmlMiner/AmlParserTest.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/SqlMiner/PostgreSqlGeneratorTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

More complex tests
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/tests/DataSources/ConversionTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

register screen
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/login.html.heex
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/test/azimutt_web/controllers/user_session_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

change design
  backend/lib/azimutt_web/templates/partials/_login_register_right_section.html.heex
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/edit.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/new.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
Due: none

add github stars button
  backend/lib/azimutt_web/templates/partials/_login_register_right_section.html.heex
Due: none

Add ExportDialog
  frontend/src/Components/Book.elm
  frontend/src/Components/Molecules/Radio.elm
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonGenerator.elm
  frontend/src/DataSources/JsonMiner/JsonSchema.elm
  frontend/src/DataSources/JsonMiner/Models/JsonRelation.elm
  frontend/src/DataSources/JsonMiner/Models/JsonTable.elm
  frontend/src/DataSources/JsonMiner/Models/JsonType.elm
  frontend/src/DataSources/SqlMiner/PostgreSqlGenerator.elm
  frontend/src/Libs/Remote.elm
  frontend/src/Models/Project/Schema.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ExportDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/Services/Lenses.elm
  frontend/tailwind.config.js
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/JsonMiner/JsonGeneratorTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

update github var in render blueprint
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  render.yaml
Due: none

fix typo
  render.yaml
Due: none

change minio port to 8080
  render.yaml
Due: none

Allow to download full project from export
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add pro plan limitation
  backend/config/config.exs
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/services/bento_srv.ex
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Conf.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ExportDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

add extract in feature list
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: none

rewording
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: none

add openAI service
  backend/config/runtime.exs
  backend/lib/azimutt/services/openai_srv.ex
Due: mix-test, mix-lint, mix-build, mix-format

Improve SQL generation + add MySQL
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/DataSources/SqlMiner/MysqlGenerator.elm
  frontend/src/DataSources/SqlMiner/SqlGenerator.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/SqlMiner/MysqlGeneratorTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add suggest PR
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/tests/DataSources/ConversionTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Make auth methods optional & refactor auth UI
  backend/config/runtime.exs
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/edit.html.heex
  backend/lib/azimutt_web/templates/user_reset_password/new.html.heex
  backend/lib/azimutt_web/templates/user_session/_auth_kind_separator.html.heex
  backend/lib/azimutt_web/templates/user_session/_github_button.html.heex
  backend/lib/azimutt_web/templates/user_session/_input_text.html.heex
  backend/lib/azimutt_web/templates/user_session/_right_section.html.heex
  backend/lib/azimutt_web/templates/user_session/_social_login_section.html.heex
  backend/lib/azimutt_web/templates/user_session/_submit_button.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: mix-test, mix-lint, mix-format

Make the email confirmation work
  backend/assets/css/app.css
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/accounts/user_notifier.ex
  backend/lib/azimutt/accounts/user_token.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_reset_password_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/user_confirmation/edit.html.heex
  backend/lib/azimutt_web/templates/user_confirmation/new.html.heex
  backend/lib/azimutt_web/templates/user_registration/new.html.heex
  backend/lib/azimutt_web/templates/user_session/_submit_button.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/test/azimutt_web/controllers/user_auth_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add show table button on details sidebar
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix storage in private navigation
  backend/lib/azimutt_web/controllers/elm_controller.ex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/ts-src/services/storage.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Show 'draft limit' when project is not saved
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Libs/Models/Uuid.elm
  frontend/src/Models/Organization.elm
  frontend/src/Models/OrganizationId.elm
  frontend/src/Models/Project/ProjectId.elm
  frontend/src/Models/ProjectRef.elm
  frontend/src/Models/UrlInfos.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ExportDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Project.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

Rename pro_plan_limit to plan_limit
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

Refactor tracking
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Pages/NotFound.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Help.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/Services/AmlSource.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/JsonSource.elm
  frontend/src/Services/SqlSource.elm
  frontend/src/Track.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix dashboard
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format
