Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Test gallery samples 2
  backend/test/azimutt/gallery_test.exs
Due: mix-format, mix-lint, mix-test

Fix docker build
  Dockerfile
  README.md
  frontend/package.json
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/serde-aml/README.md
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  libs/utils/package.json
  package.json
Due: none

Build docker image on ready to review
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
Due: none

Fix pnpm version in Docker
  Dockerfile
Due: none

Rework public pricing page
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/partials/_feature-comparison-desktop.html.heex
  backend/lib/azimutt_web/templates/partials/_feature-comparison-mobile.html.heex
  backend/lib/azimutt_web/templates/partials/_plans-3tier-dark.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_features_desktop.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_features_label.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_features_mobile.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_features_value.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_plan_dark.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_plan_light.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Fix gateway
  .github/workflows/docker-build.yml
  .github/workflows/push.yml
  Dockerfile
  frontend/package.json
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  gateway/specs.yaml
  gateway/src/routes/index.ts
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  libs/utils/package.json
  package.json
  pnpm-lock.yaml
Due: gateway

Use new plans constants and limits
  backend/assets/tailwind.config.js
  backend/config/config.exs
  backend/lib/azimutt.ex
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/index.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_features_value.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
  frontend/src/Conf.elm
  frontend/src/Models/Plan.elm
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Fix gateway
  gateway/package.json
  gateway/src/services/tracking.ts
  pnpm-lock.yaml
Due: gateway

Fix gateway 3
  gateway/package-lock.json
  gateway/package.json
Due: none

Fix gateway 4
  gateway/package.json
Due: none

ui: setup shadcn-ui
  cli/html-report/app/globals.css
  cli/html-report/components.json
  cli/html-report/package-lock.json
  cli/html-report/package.json
  cli/html-report/postcss.config.js
  cli/html-report/src/App.tsx
  cli/html-report/src/components/ui/button.tsx
  cli/html-report/src/lib/utils.ts
  cli/html-report/src/main.tsx
  cli/html-report/tailwind.config.js
  cli/html-report/tsconfig.json
  cli/html-report/vite.config.ts
Due: cli

wip: layout & sidebar
  cli/html-report/src/App.tsx
  cli/html-report/src/components/layout/MainLayout.tsx
  cli/html-report/src/components/layout/Sidebar/Sidebar.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/vite.config.ts
Due: cli

ui: report sidebar
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/components/ui/badge.tsx
Due: none

chore: setup vite
  cli/.npmignore
  cli/html-report/.eslintrc.cjs
  cli/html-report/.gitignore
  cli/html-report/README.md
  cli/html-report/index.html
  cli/html-report/package-lock.json
  cli/html-report/package.json
  cli/html-report/src/App.tsx
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/main.tsx
  cli/html-report/src/vite-env.d.ts
  cli/html-report/tsconfig.json
  cli/html-report/tsconfig.node.json
  cli/html-report/vite.config.ts
  cli/src/analyze.ts
Due: cli

chore: dev data
  cli/html-report/src/constants/report.constants.ts
Due: cli

chore: report context
  cli/html-report/src/App.tsx
  cli/html-report/src/context/ReportContext.tsx
Due: none

chore: resource
  cli/.gitignore
  cli/.npmignore
  cli/html-report/report.html
  cli/html-report/vite.config.ts
  cli/src/analyze.ts
Due: cli

wip: static report
  cli/src/analyze.ts
  cli/src/report.html
  cli/src/utils/file.ts
  cli/src/utils/html.ts
Due: cli

wip: html report
  cli/src/analyze.ts
  cli/src/utils/html.ts
Due: cli

doc: readme
  cli/html-report/README.md
Due: none

chore: setup tests
  cli/html-report/package.json
  cli/html-report/setup-vitest.ts
  cli/html-report/src/components/layout/Sidebar/Sidebar.test.tsx
  cli/html-report/tsconfig.json
  cli/html-report/vite.config.ts
  pnpm-lock.yaml
Due: cli

ui: MainLayout tests
  cli/html-report/src/App.tsx
  cli/html-report/src/components/layout/MainLayout/MainLayout.test.tsx
  cli/html-report/src/components/layout/MainLayout/MainLayout.tsx
Due: none

test: ReportSidebar
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/context/ReportContext.tsx
Due: none

ui: report sidebar item
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebarItem.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebarItem.tsx
Due: none

chore: replace vitest with jest
  cli/html-report/jest.config.ts
  cli/html-report/package.json
  cli/html-report/setup-test.ts
  cli/html-report/setup-vitest.ts
  cli/html-report/src/components/layout/MainLayout/MainLayout.test.tsx
  cli/html-report/src/components/layout/Sidebar/Sidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/constants/env.constants.ts
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/test/__ mocks __/fileMock.js
  cli/html-report/tsconfig.json
  cli/html-report/vite.config.ts
  pnpm-lock.yaml
Due: cli

fix: tests
  cli/jest.config.js
Due: none

chore: types
  cli/html-report/package.json
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/context/ReportContext.tsx
  cli/src/analyze.ts
  libs/models/src/analyze/rule.ts
  pnpm-lock.yaml
Due: cli

ui: rules in sidebar
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/constants/report.constants.ts
  cli/html-report/src/context/ReportContext.tsx
  cli/src/analyze.ts
  cli/src/report.html
  libs/models/src/analyze/rule.ts
  pnpm-lock.yaml
Due: cli

ui: menu
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebarItem.tsx
Due: none

conf: workspace
  cli/html-report/package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

wip: rules & violations list
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationList.test.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/components/ui/card.tsx
  cli/html-report/src/constants/report.constants.ts
Due: cli

feat: filter
  cli/html-report/src/App.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.test.tsx
  cli/html-report/src/components/report/ReportSidebar/ReportSidebar.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationList.test.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/context/ReportContext.tsx
  cli/html-report/src/hooks/useReport.test.tsx
  cli/html-report/src/hooks/useReport.tsx
Due: none

chore: improve filter
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/hooks/useReport.test.tsx
  cli/html-report/src/hooks/useReport.tsx
Due: none

chore: lint
  cli/html-report/.eslintrc.cjs
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/hooks/useReport.tsx
Due: none

chore: html option
  cli/src/analyze.ts
  cli/src/index.ts
Due: cli

ui: rules & violations
  cli/html-report/src/components/report/ReportSidebar/ReportSidebarItem.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/constants/report.constants.ts
Due: cli

feat: more
  cli/html-report/src/components/report/ViolationsList/ViolationListItem.test.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsList.tsx
  cli/html-report/src/components/report/ViolationsList/ViolationsListItem.tsx
Due: none

ui: scroll
  cli/html-report/src/components/layout/MainLayout/MainLayout.tsx
  cli/html-report/src/components/layout/Sidebar/Sidebar.tsx
  pnpm-lock.yaml
Due: none

Use new plans on onboarding
  backend/assets/tailwind.config.js
  backend/lib/azimutt.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/partials/_plans_onboarding.html.heex
  backend/lib/azimutt_web/templates/user_onboarding/plan.html.heex
  backend/lib/azimutt_web/templates/website/pricing.html.heex
Due: mix-format, mix-lint, mix-test, mix-build
