Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-aml, libs-parser-dbml, libs-parser-prisma, libs-parser-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-aml: any of: libs/aml/.*\.ts*$
  libs-parser-dbml: any of: libs/parser-dbml/.*\.ts*$
  libs-parser-prisma: any of: libs/parser-prisma/.*\.ts*$
  libs-parser-sql: any of: libs/parser-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$

Fix attributeValueToString for invalid Date
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  libs/models/package.json
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/legacy/legacyDatabase.ts
  pnpm-lock.yaml
Due: libs-models, cli

Remove histograms from projects
  frontend/src/Models/Project/ColumnDbStats.elm
  libs/utils/src/array.test.ts
  libs/utils/src/array.ts
  libs/utils/src/object.ts
Due: libs-utils, elm-format, elm-build, elm-lint, elm-test

Add link to Azimutt Inspector
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Handle Chrome Private Network Access (PNA)
  .tool-versions
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/server.ts
Due: gateway, cli

Fix Dockerfile
  Dockerfile
Due: none

Build natively on arm64 (Apple Silicon, Asahi)
  Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: none

Use --no-install-recommends in builder apt step
  Dockerfile
Due: none

feat: reduce attribution events to first-touch anonymous from real sources
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-format, mix-build, mix-lint, mix-test

chore: add events table maintenance script (vacuum + insert-based autovacuum)
  backend/priv/repo/maintenance/events-maintenance.sql
Due: none

fix: stop /admin timing out on the events table aggregates
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/priv/repo/migrations/20260620095503_add_events_created_at_created_by_index.exs
Due: mix-format, mix-build, mix-lint, mix-test

fix: stop /admin timing out on the events table aggregates
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/priv/repo/migrations/20260620095503_add_events_created_at_created_by_index.exs
Due: mix-format, mix-build, mix-lint, mix-test
