Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, cli

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: libs-utils
      name: 'Libs/Utils'
      language: system
      entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/utils/.*\.ts*$

    - id: libs-database-types
      name: 'Libs/Database types'
      language: system
      entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/database-types/.*\.ts*$

    - id: libs-shared
      name: 'Libs/Shared'
      language: system
      entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/shared/.*\.ts*$

    - id: libs-json-infer-schema
      name: 'Libs/Json infer schema'
      language: system
      entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/json-infer-schema/.*\.ts*$

    - id: libs-connector-couchbase
      name: 'Libs/Couchbase connector'
      language: system
      entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/connector-couchbase/.*\.ts*$

    - id: libs-connector-mongodb
      name: 'Libs/MongoDB connector'
      language: system
      entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/connector-mongodb/.*\.ts*$

    - id: libs-connector-postgres
      name: 'Libs/PostgreSQL connector'
      language: system
      entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/connector-postgres/.*\.ts*$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: frontend-build
      name: 'Frontend TS build'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: frontend-test
      name: 'Frontend TS test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli
      name: 'CLI'
      language: system
      entry: bash -c 'cd cli && exec npm run build && exec npm test'
      pass_filenames: false
      files: cli/.*\.ts*$

    # No test or build for browser-extension
    # No test or build for desktop

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

Edit groups
  frontend/src/Components/Organisms/Relation.elm
  frontend/src/Libs/Html/Events.elm
  frontend/src/Libs/List.elm
  frontend/src/Libs/Tailwind.elm
  frontend/src/Models/Project/Group.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/GroupContextMenu.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Track.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Refactor events
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Html/Events.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add actions to add/remove tables to groups
  frontend/src/Libs/List.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/GroupContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add hotkey & erd menu item
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add table groups (#212)
  frontend/src/Components/Organisms/Relation.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Conf.elm
  frontend/src/Libs/Html/Events.elm
  frontend/src/Libs/List.elm
  frontend/src/Libs/Models/Position.elm
  frontend/src/Libs/Models/Size.elm
  frontend/src/Libs/Tailwind.elm
  frontend/src/Models/Area.elm
  frontend/src/Models/Position.elm
  frontend/src/Models/Project/Group.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Size.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/GroupContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Track.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Add query pane and query database
  backend/lib/azimutt/analyzer.ex
  backend/lib/azimutt/analyzer/mysql.ex
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/query_results.ex
  desktop/src/main/bridge.ts
  desktop/src/preload.ts
  desktop/src/renderer/index.ts
  frontend/src/Conf.elm
  frontend/src/Models/DatabaseQueryResults.elm
  frontend/src/Models/JsValue.elm
  frontend/src/Models/Project/SourceId.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/QueryPane.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/tests/mongodb.test.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/tests/postgres.test.ts
  libs/database-types/src/connector.ts
  libs/database-types/src/schema.ts
  libs/shared/src/index.ts
Due: libs-database-types, libs-shared, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Improve results style
  frontend/src/PagesComponents/Organization_/Project_/Components/QueryPane.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle loading and error states
  backend/lib/azimutt_web/controllers/api/fallback_controller.ex
  frontend/src/PagesComponents/Organization_/Project_/Components/QueryPane.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Better handle table/column stats errors
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/Models/Project/ColumnStats.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

minor fixes
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
Due: elm-test, elm-lint, elm-build, elm-format

Avoid duplicate column name
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/query_results.ex
  frontend/src/Models/DatabaseQueryResults.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/QueryPane.elm
  libs/connector-couchbase/src/index.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-postgres/src/index.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-postgres/src/query.ts
  libs/database-types/src/connector.ts
Due: libs-database-types, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

fix notes
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/project.ts
Due: frontend-build, frontend-test

fix2 🤦
  frontend/ts-src/types/project.ts
Due: frontend-build, frontend-test

Better design
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Models/Project/Comment.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/QueryPane.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix AML generation
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Limit group use for pro users
  backend/config/config.exs
  backend/lib/azimutt/organizations/organization_plan.ex
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Conf.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Fix fit-to-screen with selected tables when groups
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/GroupContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format

Group default layout defined by tables
  frontend/src/Models/Project/Group.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add QueryPane in elm book
  frontend/src/Components/Book.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/NotFound.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Models/Project/SourceId.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
Due: elm-test, elm-lint, elm-build, elm-format

Allow full-screen for query pane
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/ts-src/index.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Add document mode & default query on table/column details
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Models/JsValue.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

Show column notes on table details
  frontend/src/Components/Atoms/Icon.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
Due: elm-test, elm-lint, elm-build, elm-format

Allow to edit source name
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

last fixes
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/analyzer/query_results.ex
  frontend/src/Components/Organisms/Details.elm
  libs/connector-postgres/src/stats.ts
Due: libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Add table/column queries for mongo/couchbase
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Services/DatabaseQueries.elm
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-mongodb/src/mongodb.ts
Due: libs-connector-couchbase, libs-connector-mongodb, elm-test, elm-lint, elm-build, elm-format

improve scroll
  frontend/src/Components/Slices/QueryPane.elm
Due: elm-test, elm-lint, elm-build, elm-format

Improve sql parser
  frontend/src/DataSources/SqlMiner/Parsers/AlterTable.elm
  frontend/src/DataSources/SqlMiner/Parsers/CreateTable.elm
  frontend/src/DataSources/SqlMiner/SqlParser.elm
  frontend/tests/DataSources/SqlMiner/Parsers/AlterTableTest.elm
  frontend/tests/DataSources/SqlMiner/Parsers/CreateTableTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Install fastify boilerplate
  cli/package-lock.json
  desktop/package-lock.json
  gateway/.eslintignore
  gateway/.eslintrc.cjs
  gateway/.github/workflows/CI.yml
  gateway/.gitignore
  gateway/.nvmrc
  gateway/.prettierrc.js
  gateway/Dockerfile
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  gateway/src/index.ts
  gateway/src/plugins/config.ts
  gateway/src/routes/index.ts
  gateway/src/server.ts
  gateway/tests/routes/index.test.ts
  gateway/tests/server.test.ts
  gateway/tsconfig.json
Due: none

Add extract schema
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  gateway/src/server.ts
  gateway/src/services/connector.ts
  libs/database-types/src/schema.ts
  libs/utils/src/logger.ts
Due: libs-utils, libs-database-types

Add db query
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
Due: none

update libs
  gateway/package-lock.json
  gateway/package.json
  gateway/src/schemas.ts
Due: none

Add stats endpoints
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  libs/connector-postgres/src/stats.ts
Due: libs-connector-postgres

Cleanup
  .pre-commit-config.yaml
  gateway/package.json
  gateway/src/index.ts
  gateway/src/plugins/config.ts
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  gateway/src/server.ts
  gateway/src/services/connector.ts
  gateway/tests/routes/index.test.ts
  gateway/tests/server.test.ts
Due: none

Align Elixir & Node
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt_web/controllers/api/analyzer_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/views/api/analyzer_view.ex
  frontend/ts-src/services/backend.ts
  gateway/.github/workflows/CI.yml
  gateway/README.md
  gateway/src/routes/index.ts
Due: mix-format, mix-lint, mix-test, mix-build, frontend-build, frontend-test

mixx
  gateway/.env.example
Due: none

Use gateway in dev mode
  backend/config/runtime.exs
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/window.ts
  frontend/ts-src/utils/http.ts
  gateway/.env.example
  gateway/package-lock.json
  gateway/package.json
  gateway/src/plugins/config.ts
  gateway/src/routes/index.ts
  gateway/src/server.ts
  package.json
Due: mix-format, mix-lint, mix-test, frontend-build, frontend-test

Add pg-native to connector-postgres as it was not found when packaging in electron
  desktop/forge.config.ts
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/bridge.ts
  libs/connector-mongodb/package-lock.json
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
Due: none

Handle mixed collections on couchbase
  cli/src/export.ts
  cli/src/index.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-couchbase/src/index.ts
  libs/connector-couchbase/tests/couchbase.test.ts
  libs/database-types/src/connector.ts
Due: libs-database-types, libs-connector-couchbase, cli

Handle mixed collections on mongodb
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-mongodb/src/index.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mongodb/tests/mongodb.test.ts
Due: libs-connector-couchbase, libs-connector-mongodb
