Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-aml, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: libs/utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-models:
  name: libs/models
  language: system
  entry: bash -c 'cd libs/models && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-bigquery:
  name: libs/connector-bigquery
  language: system
  entry: bash -c 'cd libs/connector-bigquery && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: libs/connector-couchbase
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mariadb:
  name: libs/connector-mariadb
  language: system
  entry: bash -c 'cd libs/connector-mariadb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: libs/connector-mongodb
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mysql:
  name: libs/connector-mysql
  language: system
  entry: bash -c 'cd libs/connector-mysql && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-oracle:
  name: libs/connector-oracle
  language: system
  entry: bash -c 'cd libs/connector-oracle && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: libs/connector-postgres
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-snowflake:
  name: libs/connector-snowflake
  language: system
  entry: bash -c 'cd libs/connector-snowflake && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-sqlserver:
  name: libs/connector-sqlserver
  language: system
  entry: bash -c 'cd libs/connector-sqlserver && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-aml:
  name: libs/serde-aml
  language: system
  entry: bash -c 'cd libs/serde-aml && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-dbml:
  name: libs/serde-dbml
  language: system
  entry: bash -c 'cd libs/serde-dbml && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-prisma:
  name: libs/serde-prisma
  language: system
  entry: bash -c 'cd libs/serde-prisma && exec npm run build && exec npm test'
  pass_filenames: false

libs-serde-sql:
  name: libs/serde-sql
  language: system
  entry: bash -c 'cd libs/serde-sql && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted && exec mix format'

mix-build:
  name: Elixir build
  language: system
  entry: bash -c 'cd backend && exec mix compile --force'
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: bash -c 'cd backend && exec mix credo --strict'
  pass_filenames: false

debug 3
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/router.ex
Due: mix-format, mix-build, mix-lint, mix-test

Remove Elm AML parser
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/AmlMiner/AmlParser.elm
  frontend/src/Libs/Nel.elm
  frontend/src/Models/ParserError.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/Project/Check.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Project/PrimaryKey.elm
  frontend/src/Models/Project/ProjectSettings.elm
  frontend/src/Models/Project/Relation.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/TableProps.elm
  frontend/src/Models/Project/Unique.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/Ports.elm
  frontend/src/Services/Lenses.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/DataSources/AmlMiner/AmlParserTest.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/interfaces/serde.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Generate AML & JSON exports from JS
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  frontend/src/DataSources/JsonMiner/JsonGenerator.elm
  frontend/src/Models/Dialect.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ExportDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/tests/DataSources/AmlMiner/AmlGeneratorTest.elm
  frontend/tests/DataSources/ConversionTest.elm
  frontend/tests/DataSources/JsonMiner/JsonGeneratorTest.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/basics.ts
  frontend/ts-src/types/ports.ts
  libs/aml/src/aml.test.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/legacy/legacyDatabase.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test, frontend-build, frontend-test

Improve AML generation
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
Due: none

Create convert command in CLI
  backend/assets/package-lock.json
  cli/README.md
  cli/package.json
  cli/src/convert.ts
  cli/src/index.ts
  libs/aml/jest.config.cjs
  libs/aml/package.json
  libs/aml/src/aml.ts
  libs/aml/src/index.ts
  libs/aml/tsconfig.json
  pnpm-lock.yaml
Due: cli

Add indentation warning
  libs/aml/src/aml.ts
  libs/aml/src/ast.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/errors.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
Due: none

Fix doc snippets
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_10_additional_relations.md
  docs/aml/README.md
  libs/aml/README.md
  libs/aml/docs/README.md
  libs/aml/docs/entity.md
  libs/aml/src/ast.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
Due: none

Fix AML warnings
  demos/ecommerce/source_00_design.md
  demos/ecommerce/source_10_additional_relations.md
  libs/aml/README.md
  libs/aml/docs/migration.md
  libs/aml/src/docs.test.ts
Due: none

Create converter pages
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/website/_converter-description.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/convert.html.heex
  backend/lib/azimutt_web/templates/website/converter.html.heex
  backend/lib/azimutt_web/templates/website/converters.html.heex
  backend/priv/static/images/converters/aml.jpg
  backend/priv/static/images/converters/dbml.jpg
  backend/priv/static/images/converters/json.jpg
  backend/priv/static/images/converters/mariadb.jpg
  backend/priv/static/images/converters/mermaid.jpg
  backend/priv/static/images/converters/mongodb.jpg
  backend/priv/static/images/converters/mysql.jpg
  backend/priv/static/images/converters/oracle.jpg
  backend/priv/static/images/converters/postgresql.jpg
  backend/priv/static/images/converters/prisma.jpg
  backend/priv/static/images/converters/quicksql.jpg
  backend/priv/static/images/converters/sqlserver.jpg
  backend/priv/static/images/screenshots/aml2.png
  cli/src/convert.ts
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/extensions/monaco.types.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
Due: libs-models, mix-format, mix-build, mix-lint, mix-test, cli

fix
  libs/models/src/databaseUtils.test.ts
Due: libs-models

Handle AML properties
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/convert.html.heex
  cli/src/convert.ts
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/index.ts
  libs/connector-bigquery/src/bigquery.ts
  libs/connector-couchbase/src/couchbase.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mongodb/src/mongodb.ts
  libs/connector-mysql/src/mysql.ts
  libs/connector-oracle/src/oracle.ts
  libs/connector-postgres/src/postgres.ts
  libs/connector-snowflake/src/snowflake.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/models/resources/azimutt.json
  libs/models/resources/metabase.json
  libs/models/src/common.ts
  libs/models/src/database.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/serde-dbml/src/dbmlImport.ts
  libs/serde-prisma/src/prisma.ts
  libs/serde-sql/src/sqlImport.ts
  libs/utils/src/result.test.ts
  libs/utils/src/result.ts
Due: libs-utils, libs-models, libs-connector-bigquery, libs-connector-couchbase, libs-connector-mariadb, libs-connector-mongodb, libs-connector-mysql, libs-connector-oracle, libs-connector-postgres, libs-connector-snowflake, libs-connector-sqlserver, libs-serde-dbml, libs-serde-prisma, libs-serde-sql, cli

fix
  libs/aml/src/aml.ts
  libs/models/src/common.ts
  libs/models/src/databaseUtils.test.ts
Due: libs-models

fix2
  backend/lib/azimutt_web/controllers/website_controller.ex
  libs/aml/src/aml.test.ts
Due: mix-format, mix-build, mix-lint, mix-test

fix3
  libs/serde-dbml/resources/complex.json
  libs/serde-dbml/src/dbml.test.ts
  libs/serde-prisma/src/prisma.test.ts
Due: libs-serde-dbml, libs-serde-prisma

Improve AML doc
  README.md
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/convert.html.heex
  backend/lib/azimutt_web/templates/website/feature-aml.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/priv/static/blog/2022-09-01-changelog-2022-08/changelog-2022-08.md
  backend/priv/static/blog/2022-10-17-azimutt-v2/azimutt-v2.md
  docs/README.md
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/Services/AmlSource.elm
  libs/aml/README.md
  libs/aml/docs/README.md
  libs/aml/docs/comment.md
  libs/aml/docs/documentation.md
  libs/aml/docs/entity.md
  libs/aml/docs/identifier.md
  libs/aml/docs/logo-white.png
  libs/aml/docs/logo.png
  libs/aml/docs/migration.md
  libs/aml/docs/namespace.md
  libs/aml/docs/properties.md
  libs/aml/docs/relation.md
  libs/aml/docs/type.md
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/parser.ts
  libs/models/src/database.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test

Improve AML doc
  backend/lib/azimutt_web/templates/website/index.html.heex
  libs/aml/README.md
  libs/aml/docs/README.md
  libs/aml/docs/comment.md
  libs/aml/docs/identifier.md
  libs/aml/docs/migration.md
  libs/aml/docs/namespace.md
  libs/aml/docs/properties.md
  libs/aml/src/parser.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/index.ts
  libs/models/src/interfaces/serde.ts
  libs/models/src/parserResult.test.ts
  libs/models/src/parserResult.ts
Due: libs-models

Docker build
  Dockerfile
Due: none

Add Open in Azimutt button
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/templates/layout/_organization_left_bar.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list_empty.html.heex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/lib/azimutt_web/templates/website/aml.html.heex
  backend/lib/azimutt_web/templates/website/convert.html.heex
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Conf.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/PagesComponents/Create/Init.elm
  frontend/src/PagesComponents/Create/Models.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Source.elm
  frontend/src/Services/AmlSource.elm
Due: mix-format, mix-build, mix-lint, mix-test, elm-format, elm-build, elm-lint, elm-test

Server AML schema
  backend/lib/azimutt_web/controllers/api/main_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/priv/static/aml_schema.json
  libs/models/src/database.test.ts
  libs/models/src/database.ts
Due: libs-models, mix-format, mix-build, mix-lint, mix-test

Improve edge cases
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/database.ts
Due: libs-models

Improve AML gen
  libs/aml/docs/comment.md
  libs/aml/docs/documentation.md
  libs/aml/docs/entity.md
  libs/aml/docs/type.md
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/docs.test.ts
  libs/models/src/database.ts
Due: libs-models

Make all snippets aligned with generation
  demos/ecommerce/source_00_design.md
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/parser.ts
Due: none

Add rollup to DBML parser
  docs/aml/README.md
  libs/aml/docs/README.md
  libs/aml/docs/assets/e-commerce-using-aml.png
  libs/aml/src/index.ts
  libs/parser-dbml/package.json
  libs/parser-dbml/rollup.config.ts
  libs/parser-dbml/src/dbml.test.ts
  libs/parser-dbml/src/dbml.ts
  libs/parser-dbml/src/dbmlImport.ts
  libs/parser-dbml/src/index.ts
  libs/parser-dbml/tsconfig.json
  pnpm-lock.yaml
Due: none

Add rollup to SQL parser
  libs/parser-dbml/jest.config.cjs
  libs/parser-sql/jest.config.cjs
  libs/parser-sql/package.json
  libs/parser-sql/rollup.config.ts
  libs/parser-sql/src/index.ts
  libs/parser-sql/src/sql.test.ts
  libs/parser-sql/src/sql.ts
  libs/parser-sql/tsconfig.json
  pnpm-lock.yaml
Due: none

Add rollup to Prisma parser
  libs/aml/.gitignore
  libs/parser-dbml/.gitignore
  libs/parser-dbml/resources/complex.json
  libs/parser-dbml/src/dbml.test.ts
  libs/parser-prisma/.gitignore
  libs/parser-prisma/jest.config.cjs
  libs/parser-prisma/package.json
  libs/parser-prisma/rollup.config.ts
  libs/parser-prisma/src/index.ts
  libs/parser-prisma/src/prisma.test.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tsconfig.json
  libs/parser-sql/.gitignore
  libs/parser-sql/src/sql.test.ts
  libs/parser-sql/src/sql.ts
  libs/parser-sql/src/sqlImport.ts
  pnpm-lock.yaml
Due: none

Generate PostgreSQL
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/_converter-description.html.heex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/parser-sql/src/postgresGenerator.test.ts
  libs/parser-sql/src/postgresGenerator.ts
  libs/parser-sql/src/sql.ts
Due: mix-format, mix-build, mix-lint, mix-test

code review
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/priv/static/images/converters/postgres.jpg
  libs/aml/docs/migration.md
  libs/aml/docs/namespace.md
  libs/aml/docs/v1/README.md
  libs/aml/resources/complex.json
  libs/aml/src/aml.ts
  libs/aml/src/ast.ts
  libs/aml/src/docs.test.ts
Due: none

Create Mermaid generator
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/aml/src/aml.test.ts
  libs/aml/src/index.ts
  libs/aml/src/mermaidGenerator.test.ts
  libs/aml/src/mermaidGenerator.ts
  libs/models/src/database.ts
  libs/parser-sql/resources/complex.json
  libs/parser-sql/resources/complex.sql
  libs/parser-sql/src/postgresGenerator.test.ts
  libs/parser-sql/src/postgresGenerator.ts
Due: libs-models, mix-format, mix-build, mix-lint, mix-test

Create Markdown generator
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/_converter-description.html.heex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/priv/static/images/converters/markdown.jpg
  libs/aml/resources/complex.md
  libs/aml/resources/complex.mmd
  libs/aml/src/index.ts
  libs/aml/src/markdownGenerator.test.ts
  libs/aml/src/markdownGenerator.ts
  libs/aml/src/mermaidGenerator.test.ts
  libs/aml/src/mermaidGenerator.ts
  libs/parser-sql/src/postgresGenerator.ts
Due: mix-format, mix-build, mix-lint, mix-test

fix
  libs/aml/resources/complex.md
  libs/aml/src/markdownGenerator.test.ts
  libs/utils/src/string.test.ts
  libs/utils/src/string.ts
Due: libs-utils

Update complex schema in AML lib
  libs/aml/README.md
  libs/aml/resources/complex.aml
  libs/aml/resources/complex.json
  libs/aml/resources/complex.md
  libs/aml/resources/complex.mmd
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/markdownGenerator.test.ts
  libs/aml/src/mermaidGenerator.test.ts
  libs/models/src/database.test.ts
  libs/parser-dbml/src/dbml.test.ts
  libs/parser-prisma/src/prisma.test.ts
Due: libs-models

Improve complex test
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/aml/docs/entity.md
  libs/aml/resources/README.md
  libs/aml/resources/complex.aml
  libs/aml/resources/complex.json
  libs/aml/resources/complex.md
  libs/aml/resources/complex.mmd
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/resources/full.md
  libs/aml/resources/full.mmd
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/markdownGenerator.test.ts
  libs/aml/src/markdownGenerator.ts
  libs/aml/src/mermaidGenerator.test.ts
  libs/aml/src/mermaidGenerator.ts
  libs/models/src/database.ts
  libs/parser-sql/resources/complex.json
  libs/parser-sql/resources/complex.sql
  libs/parser-sql/resources/full.postgres.sql
  libs/parser-sql/src/postgresGenerator.test.ts
  libs/parser-sql/src/postgresGenerator.ts
Due: libs-models

fix
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/resources/full.md
  libs/aml/resources/full.mmd
  libs/aml/src/aml.test.ts
  libs/aml/src/markdownGenerator.ts
  libs/parser-sql/resources/full.postgres.sql
Due: none

Improve demo doc
  demos/ecommerce/README.md
  demos/ecommerce/source_01_referential_sqlserver.sql
  demos/ecommerce/source_02_identity_mariadb.sql
  demos/ecommerce/source_03_inventory_oracle.sql
  demos/ecommerce/source_04_catalog_postgres.sql
  demos/ecommerce/source_05_shopping_postgres.sql
  demos/ecommerce/source_06_billing_sqlserver.sql
  demos/ecommerce/source_07_shipping_mongo.sql
  demos/ecommerce/source_08_crm_mysql.sql
  demos/ecommerce/source_09_analytics_mongo.sql
  libs/aml/resources/README.md
Due: none

Refactor ParserError structure
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  cli/src/convert.ts
  frontend/src/Models/ParserError.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  libs/aml/src/aml.test.ts
  libs/aml/src/ast.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/errors.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/parser.test.ts
  libs/aml/src/parser.ts
  libs/models/src/databaseUtils.test.ts
  libs/models/src/databaseUtils.ts
  libs/models/src/parserResult.ts
  libs/parser-dbml/src/dbml.test.ts
  libs/parser-dbml/src/dbml.ts
  libs/parser-prisma/src/prisma.test.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-sql/src/chevrotain/parser.test.ts
  libs/parser-sql/src/chevrotain/parser.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test, cli

Improve gen AMLv1
  backend/lib/azimutt.ex
  backend/lib/azimutt_web/templates/website/_converter-description.html.heex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  backend/priv/static/images/converters/amlv1.jpg
  libs/aml/resources/full.aml
  libs/aml/resources/full.json
  libs/aml/resources/full.legacy.aml
  libs/aml/resources/full.md
  libs/aml/src/aml.test.ts
  libs/aml/src/aml.ts
  libs/aml/src/parser.ts
  libs/models/src/parserResult.ts
  libs/parser-sql/resources/full.postgres.sql
  libs/utils/src/object.ts
Due: libs-utils, libs-models, mix-format, mix-build, mix-lint, mix-test

Improve syntax highlight
  libs/aml/src/aml.test.ts
  libs/aml/src/extensions/monaco.ts
Due: none

Refactor AML generator
  backend/assets/js/aml.hljs.ts
  backend/lib/azimutt_web/templates/layout/_website_navbar.html.heex
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  libs/aml/resources/full.json
  libs/aml/src/aml.ts
  libs/aml/src/amlAst.ts
  libs/aml/src/amlBuilder.ts
  libs/aml/src/amlGenerator.test.ts
  libs/aml/src/amlGenerator.ts
  libs/aml/src/amlParser.test.ts
  libs/aml/src/amlParser.ts
  libs/aml/src/docs.test.ts
  libs/aml/src/errors.ts
  libs/aml/src/extensions/monaco.ts
  libs/aml/src/index.ts
  libs/models/src/database.ts
Due: libs-models, elm-format, elm-build, elm-lint, elm-test

Improve Monaco auto-complete
  backend/lib/azimutt_web/templates/website/_converter-editors-script.html.heex
  libs/aml/src/extensions/monaco.test.ts
  libs/aml/src/extensions/monaco.ts
Due: none

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-models: any of: libs/models/.*\.ts*$
  libs-connector-bigquery: any of: libs/connector-bigquery/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mariadb: any of: libs/connector-mariadb/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-mysql: any of: libs/connector-mysql/.*\.ts*$
  libs-connector-oracle: any of: libs/connector-oracle/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  libs-connector-snowflake: any of: libs/connector-snowflake/.*\.ts*$
  libs-connector-sqlserver: any of: libs/connector-sqlserver/.*\.ts*$
  libs-serde-aml: any of: libs/serde-aml/.*\.ts*$
  libs-serde-dbml: any of: libs/serde-dbml/.*\.ts*$
  libs-serde-prisma: any of: libs/serde-prisma/.*\.ts*$
  libs-serde-sql: any of: libs/serde-sql/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  elm-format: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-test: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
