Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: \.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: \.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

logs for blog
  backend/lib/azimutt/blog.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix credo
  backend/lib/azimutt/blog.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix blog
  backend/lib/azimutt/blog.ex
  backend/lib/azimutt/blog/article.ex
Due: mix-test, mix-lint, mix-build, mix-format

create stripe customer with new organizations
  backend/config/runtime.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/services/stripe.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/organization/new.html.heex
  backend/lib/azimutt_web/views/api/organization_view.ex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/priv/repo/migrations/20220903194509_init_database.exs
  backend/priv/repo/seeds.exs
  backend/test/azimutt/services/stripe_test.exs
  backend/test/azimutt/utils/result_test.exs
  backend/test/support/fixtures/organizations_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

improve markup
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization/_billing_section.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  docs/_assets/azimutt-roadmap.png
Due: mix-test, mix-lint, mix-build, mix-format

merge commit
  backend/config/config.exs
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_plan_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_subscribe.heex
Due: mix-test, mix-lint, mix-build, mix-format

fix merge
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

wip: remove org members
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_billing_section.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

get subscriptions functions
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

push avant loic
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

allow to remove orga members
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

remove useless methods
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/test/azimutt/organizations_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

add stripe subscription form
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_plan_controller.ex
  backend/lib/azimutt_web/templates/organization/_subscribe.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

allow to leave orga
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

rename tables
  backend/lib/azimutt/accounts/user_token.ex
  backend/lib/azimutt/organizations/organization_member.ex
  backend/lib/azimutt_web/controllers/user_plan_controller.ex
  backend/priv/repo/migrations/20220903194509_init_database.exs
Due: mix-test, mix-lint, mix-build, mix-format

add stripe webhook
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_plan_controller.ex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

better stripe callbacks
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/controllers/billing_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/new.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/user_plan/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add update quantity
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix macOs key
  frontend/ts-src/index.ts
Due: ts-test, ts-lint

fix save shortcut for mac
  frontend/src/Libs/Models/Hotkey.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/ports.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

move biling_controller actions into organization_billing_controller
  backend/lib/azimutt_web/controllers/billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/router.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix project save
  frontend/ts-src/services/backend.ts
Due: ts-test, ts-lint

safer invitation process
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization_invitation/new.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/test/azimutt_web/controllers/organization_invitation_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

create organization plan
  backend/config/config.exs
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/organizations/organization_member.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/organization_member_controller.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/form.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  backend/lib/azimutt_web/templates/organization_member/_is_private_members_section.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  backend/lib/azimutt_web/templates/project/new.html.heex
  backend/lib/azimutt_web/views/api/organization_view.ex
  backend/lib/azimutt_web/views/layout_view.ex
  backend/lib/azimutt_web/views/user_plan_view.ex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  frontend/ts-src/types/organization.ts
  frontend/ts-src/utils/constants.test.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

some markup improvements
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/project/new.html.heex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

fix pricing
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/page/index.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

improve project save with diff & patch
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

sql parser: improve alter table: more space flexibility + handle the 'with check'
  src/DataSources/SqlMiner/Parsers/AlterTable.elm
  src/DataSources/SqlMiner/Utils/Helpers.elm
  tests/DataSources/SqlMiner/Parsers/AlterTableTest.elm
  tests/DataSources/SqlMiner/Parsers/CreateTableTest.elm
  tests/DataSources/SqlMiner/Utils/HelpersTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

add unsaved indicator
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/FindPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Services/Lenses.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

sql parser: improve alter table: more space flexibility + handle the 'with check'
  frontend/src/DataSources/SqlMiner/Parsers/AlterTable.elm
  frontend/src/DataSources/SqlMiner/Utils/Helpers.elm
  frontend/tests/DataSources/SqlMiner/Parsers/AlterTableTest.elm
  frontend/tests/DataSources/SqlMiner/Parsers/CreateTableTest.elm
  frontend/tests/DataSources/SqlMiner/Utils/HelpersTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

allow to create a project without login
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/page/index.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Libs/Url.elm
  frontend/src/Pages/NotFound.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSaveDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Project.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Ports.elm
  frontend/src/Services/Backend.elm
  frontend/src/Shared.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

update github_link
  backend/config/config.exs
Due: mix-test, mix-lint, mix-format

add editor limitation in layouts
  backend/config/config.exs
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel_menu.html.heex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
  frontend/src/Components/Book.elm
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Conf.elm
  frontend/src/Models/Organization.elm
  frontend/src/Models/Plan.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Helpers.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Drag.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Layout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/CreateLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ErdContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/PagesComponents/Projects/View.elm
  frontend/src/Services/Backend.elm
  frontend/src/Services/Lenses.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add color limitation
  frontend/src/Components/Book.elm
  frontend/src/Components/Organisms/ColorPicker.elm
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Conf.elm
  frontend/src/Pages/Embed.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Confirm.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Modals.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Prompt.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

add migrate to clever deploy
  package.json
Due: none

add analysis limitation
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Models/Project/Check.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/Comment.elm
  frontend/src/Models/Project/CustomType.elm
  frontend/src/Models/Project/Index.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Project/PrimaryKey.elm
  frontend/src/Models/Project/Relation.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/TableProps.elm
  frontend/src/Models/Project/Unique.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix embed & fullscreen
  frontend/src/Libs/Url.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/Sharing.elm
  frontend/src/Ports.elm
  frontend/src/Services/Backend.elm
  frontend/ts-src/index.ts
  frontend/ts-src/types/ports.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

improve project list + save edit date
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/test/azimutt/projects_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

improve blog
  backend/lib/azimutt_web/templates/blog/_blog_description.html.heex
  backend/lib/azimutt_web/templates/blog/_blog_footer.html.heex
  backend/lib/azimutt_web/templates/blog/index.html.heex
  backend/lib/azimutt_web/templates/blog/show.html.heex
  backend/priv/static/blog/2022-03-21-embed-your-database-diagram-anywhere/embed-your-database-diagram-anywhere.md
  backend/priv/static/blog/2022-08-02-changelog-2022-07/changelog-2022-07.md
  backend/priv/static/blog/2022-09-05-explore-postgresql-internals/explore-postgresql-internals.md
  backend/priv/static/blog/2022-10-04-changelog-2022-09/changelog-2022-09.md
Due: none

fix tmp project not found
  frontend/src/Conf.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/Pages/Last.elm
  frontend/src/PagesComponents/Create/Models.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Models.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/PagesComponents/Projects/View.elm
Due: elm-test, elm-lint, elm-build, elm-format
