Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

PostHog groups
  backend/lib/azimutt/services/posthog_srv.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Improve sql server table & columns schema connector
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
Due: none

Fix SQL Server stats
  frontend/src/Services/DatabaseQueries.elm
  libs/connector-sqlserver/src/helpers.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/src/stats.ts
  libs/connector-sqlserver/tests/stats.test.ts
Due: elm-test, elm-lint, elm-build, elm-format

Extract SQL Server pk & fk
  libs/connector-mysql/src/mysql.ts
  libs/connector-sqlserver/src/sqlserver.ts
  libs/database-types/src/url.ts
Due: libs-database-types

extract check constraints
  libs/connector-sqlserver/src/sqlserver.ts
  libs/utils/src/index.ts
  libs/utils/src/number.ts
  libs/utils/src/string.ts
  libs/utils/tests/string.test.ts
Due: libs-utils

extract unique & index constraints
  libs/connector-sqlserver/src/sqlserver.ts
Due: none

handle json columns
  libs/connector-sqlserver/src/sqlserver.ts
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/utils/src/index.ts
  libs/utils/src/json.ts
  libs/utils/tests/json.test.ts
Due: libs-utils

improve sql server url parsing
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types

Publish npm libs
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  gateway/src/schemas.ts
  gateway/src/services/connector.ts
  gateway/src/version.ts
  libs/connector-couchbase/README.md
  libs/connector-mongodb/README.md
  libs/connector-mysql/README.md
  libs/connector-postgres/README.md
  libs/connector-sqlserver/README.md
  libs/connector-sqlserver/package-lock.json
  libs/connector-sqlserver/package.json
  libs/connector-sqlserver/src/sqlserver.ts
  libs/database-types/README.md
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/json-infer-schema/README.md
  libs/json-infer-schema/package-lock.json
  libs/json-infer-schema/package.json
  libs/shared/README.md
  libs/utils/README.md
  libs/utils/package-lock.json
  libs/utils/package.json
Due: gateway, cli

Last adjustements
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/src/Services/DatabaseSource.elm
  libs/connector-couchbase/README.md
  libs/connector-postgres/README.md
  libs/connector-sqlserver/src/connect.ts
Due: elm-test, elm-lint, elm-build, elm-format

Bootstrap prisma parser
  libs/parser-prisma/.gitignore
  libs/parser-prisma/.npmignore
  libs/parser-prisma/README.md
  libs/parser-prisma/jest.config.js
  libs/parser-prisma/package-lock.json
  libs/parser-prisma/package.json
  libs/parser-prisma/src/index.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
  libs/parser-prisma/tests/resources/schema1.prisma
  libs/parser-prisma/tsconfig.json
Due: none

Initial implementation
  libs/database-types/src/schema.ts
  libs/parser-prisma/package-lock.json
  libs/parser-prisma/package.json
  libs/parser-prisma/src/index.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
  libs/parser-prisma/tests/resources/schema1.prisma
Due: libs-database-types

Define parser interface
  libs/database-types/src/parser.ts
  libs/parser-prisma/src/index.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
Due: libs-database-types

Bootstrap UI for Prisma
  frontend/src/Components/Atoms/Icons.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/Tuple.elm
  frontend/src/Libs/Tuple3.elm
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/Models/SourceInfo.elm
  frontend/src/PagesComponents/Create/Init.elm
  frontend/src/PagesComponents/Create/Models.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/PagesComponents/New/Models.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/PrismaSource.elm
  frontend/src/Track.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Handle Prisma comments correctly
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
Due: none

Include Enums as Types
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
Due: none

Handle more prisma attributes
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
  libs/utils/src/array.ts
  libs/utils/tests/array.test.ts
Due: libs-utils

Publish parser-prisma
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/index.ts
  libs/database-types/src/parser.ts
  libs/parser-prisma/package-lock.json
  libs/parser-prisma/package.json
  libs/parser-prisma/src/index.ts
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/src/object.ts
  libs/utils/tests/object.test.ts
Due: libs-utils, libs-database-types

Parse prisma schema from UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Pages/Embed.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/EmbedSourceParsingDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/EmbedKind.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/src/Services/JsonSource.elm
  frontend/src/Services/PrismaSource.elm
  frontend/src/Services/SourceLogs.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Minor adjustements
  backend/priv/static/elm/samples/basic.prisma
  frontend/src/PagesComponents/Organization_/Project_/Components/EmbedSourceParsingDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/EmbedKind.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix prisma relations with alias
  backend/priv/static/elm/samples/basic.prisma
  frontend/package-lock.json
  frontend/package.json
  libs/parser-prisma/package-lock.json
  libs/parser-prisma/package.json
  libs/parser-prisma/src/prisma.ts
  libs/parser-prisma/tests/prisma.test.ts
Due: none

Last fix
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
Due: elm-test, elm-lint, elm-build, elm-format

Review
  libs/parser-prisma/README.md
  libs/parser-prisma/package.json
Due: none

fix last project
  backend/lib/azimutt/tracking.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add MariaDB url parsing
  libs/database-types/package-lock.json
  libs/database-types/package.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types

Bootstrap MariaDB connector
  libs/connector-mariadb/.gitignore
  libs/connector-mariadb/.npmignore
  libs/connector-mariadb/README.md
  libs/connector-mariadb/jest.config.js
  libs/connector-mariadb/package-lock.json
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/common/index.ts
  libs/connector-mariadb/src/common/query.ts
  libs/connector-mariadb/src/common/types.ts
  libs/connector-mariadb/src/connect.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mariadb/tests/constants.ts
  libs/connector-mariadb/tests/mariadb.test.ts
  libs/connector-mariadb/tests/stats.test.ts
  libs/connector-mariadb/tsconfig.json
Due: none

publish mariadb connector
  libs/connector-mariadb/package-lock.json
  libs/connector-mariadb/package.json
Due: none

Publish new CLI version with MariaDB
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/services/connector.ts
Due: gateway, cli

Add pre-commit
  .pre-commit-config.yaml
Due: none

Integrate MariaDB in frontend
  cli/README.md
  cli/src/gateway.ts
  cli/src/index.ts
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/DatabaseSource.elm
  gateway/src/index.ts
  gateway/src/services/connector.ts
  libs/README.md
  libs/database-types/src/url.ts
Due: libs-database-types, elm-test, elm-lint, elm-build, elm-format, gateway, cli

Add MariaDB connector (#234)
  .pre-commit-config.yaml
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/gateway.ts
  cli/src/index.ts
  cli/src/version.ts
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Libs/Models/DatabaseUrl.elm
  frontend/src/Services/DatabaseQueries.elm
  frontend/src/Services/DatabaseSource.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/index.ts
  gateway/src/services/connector.ts
  libs/README.md
  libs/connector-mariadb/.gitignore
  libs/connector-mariadb/.npmignore
  libs/connector-mariadb/README.md
  libs/connector-mariadb/jest.config.js
  libs/connector-mariadb/package-lock.json
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/common/index.ts
  libs/connector-mariadb/src/common/query.ts
  libs/connector-mariadb/src/common/types.ts
  libs/connector-mariadb/src/connect.ts
  libs/connector-mariadb/src/index.ts
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mariadb/src/stats.ts
  libs/connector-mariadb/tests/constants.ts
  libs/connector-mariadb/tests/mariadb.test.ts
  libs/connector-mariadb/tests/stats.test.ts
  libs/connector-mariadb/tsconfig.json
  libs/database-types/src/url.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types, elm-test, elm-lint, elm-build, elm-format, gateway, cli

Add sql server test
  libs/connector-sqlserver/tests/sqlserver.test.ts
  libs/database-types/tests/url.test.ts
Due: libs-database-types

Update CLI version
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  gateway/package-lock.json
  gateway/package.json
  gateway/src/version.ts
Due: gateway, cli

setup groups
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/api/project_token_controller.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/organization_invitation_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Disable input masking
  backend/lib/azimutt_web/templates/layout/_scripts.html.heex
Due: none

Fix issue 4111996470
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Fix issue 4177952032
  frontend/src/Components/Slices/QueryPane.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix issue 3878098092
  frontend/ts-src/index.ts
Due: frontend-build, frontend-test

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
