Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

doc: config vars
  README.md
  app.json
  heroku-postdeploy.sh
Due: none

feat: oracle connector
  libs/connector-oracle/.gitignore
  libs/connector-oracle/.npmignore
  libs/connector-oracle/README.md
  libs/connector-oracle/jest.config.js
  libs/connector-oracle/package.json
  libs/connector-oracle/src/connect.test.ts
  libs/connector-oracle/src/connect.ts
  libs/connector-oracle/src/constants.test.ts
  libs/connector-oracle/src/helpers.test.ts
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/history.test.ts
  libs/connector-oracle/src/history.ts
  libs/connector-oracle/src/index.ts
  libs/connector-oracle/src/integration.test.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
  libs/connector-oracle/src/query.ts
  libs/connector-oracle/src/stats.test.ts
  libs/connector-oracle/src/stats.ts
  libs/connector-oracle/tsconfig.json
  libs/models/src/databaseUrl.ts
  pnpm-lock.yaml
Due: none

chore: gateway oracle connector
  gateway/package.json
  gateway/src/services/connector.ts
  pnpm-lock.yaml
Due: gateway

fix: analyze
  libs/connector-oracle/src/oracle.ts
Due: none

fix: user
  libs/connector-oracle/src/connect.ts
Due: none

feat: add heroku deploy button (#309)
  README.md
  app.json
  heroku.yml
Due: none

doc: readme
  libs/connector-oracle/README.md
Due: none

Improve save project modal
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  libs/models/src/legacy/legacyProject.ts
Due: elm-test, elm-lint, elm-build, elm-format

feat: create oracle connector (#310)
  gateway/package.json
  gateway/src/services/connector.ts
  libs/connector-oracle/.gitignore
  libs/connector-oracle/.npmignore
  libs/connector-oracle/README.md
  libs/connector-oracle/jest.config.js
  libs/connector-oracle/package.json
  libs/connector-oracle/src/connect.test.ts
  libs/connector-oracle/src/connect.ts
  libs/connector-oracle/src/constants.test.ts
  libs/connector-oracle/src/helpers.test.ts
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/history.test.ts
  libs/connector-oracle/src/history.ts
  libs/connector-oracle/src/index.ts
  libs/connector-oracle/src/integration.test.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
  libs/connector-oracle/src/query.ts
  libs/connector-oracle/src/stats.test.ts
  libs/connector-oracle/src/stats.ts
  libs/connector-oracle/tsconfig.json
  libs/models/src/databaseUrl.ts
  pnpm-lock.yaml
Due: gateway

Reformat
  app.json
  cli/.gitignore
  cli/.npmignore
  cli/html-report/README.md
  cli/html-report/app/globals.css
  cli/html-report/components.json
  cli/html-report/report.html
  cli/html-report/src/components/report/ReportStats/ReportStatsGrid.tsx
  cli/html-report/tailwind.config.js
  cli/src/analyze.ts
  cli/src/utils/file.ts
  gateway/package.json
  gateway/src/services/connector.ts
  gateway/src/services/tracking.ts
  heroku.yml
  libs/connector-oracle/README.md
  libs/connector-oracle/src/connect.test.ts
  libs/connector-oracle/src/connect.ts
  libs/connector-oracle/src/helpers.test.ts
  libs/connector-oracle/src/helpers.ts
  libs/connector-oracle/src/history.test.ts
  libs/connector-oracle/src/history.ts
  libs/connector-oracle/src/index.ts
  libs/connector-oracle/src/integration.test.ts
  libs/connector-oracle/src/oracle.test.ts
  libs/connector-oracle/src/oracle.ts
  libs/connector-oracle/src/query.ts
  libs/connector-oracle/src/stats.test.ts
  libs/connector-oracle/src/stats.ts
  libs/models/src/analyze/rule.ts
  libs/models/src/databaseUrl.test.ts
  libs/models/src/databaseUrl.ts
  pnpm-lock.yaml
Due: gateway, cli

Refactor organization plan
  backend/lib/azimutt.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization/data.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt/projects.ex
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Conf.elm
  frontend/src/Models/Feature.elm
  frontend/src/Models/Organization.elm
  frontend/src/Models/Plan.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissing.elm
  frontend/src/Track.elm
  frontend/tests/TestHelpers/OrganizationFuzzers.elm
  libs/models/src/legacy/legacyProject.test.ts
  libs/models/src/legacy/legacyProject.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Refactor plan checks
  backend/lib/azimutt.ex
  frontend/src/Components/Book.elm
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
  frontend/src/Models/Feature.elm
  frontend/src/Models/Organization.elm
  frontend/src/Models/ProjectRef.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ExportDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Groups.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/NewLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexDuplicated.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/IndexOnForeignKeys.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/NamingConsistency.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/PrimaryKeyMissing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/RelationMissing.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableTooBig.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/TableWithoutIndex.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
  frontend/src/Services/Backend.elm
  package.json
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format

Adapt streak
  backend/lib/azimutt.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt/stripe_handler.ex
  backend/lib/azimutt_web/templates/partials/_streak.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Last fixes
  INSTALL.md
  backend/lib/azimutt.ex
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization/data.ex
  backend/lib/azimutt/organizations/organization_plan.ex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
  backend/lib/azimutt_web/templates/organization/subscribe.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Fix
  backend/lib/azimutt/organizations.ex
Due: mix-format, mix-lint, mix-test, mix-build

Fix
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/controllers/subscribe_controller.ex
  backend/lib/azimutt_web/templates/organization/billing.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Fix 2
  backend/lib/azimutt/services/stripe_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

remove .env.example changes
  .env.example
Due: none

coderabbitai fix
  Dockerfile
Due: none

Fix free plan limit on anonymous
  frontend/src/Components/Slices/PlanDialog.elm
  frontend/src/Models/Feature.elm
  frontend/src/Models/Organization.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix CLI export
  backend/mix.lock
  browser-extension/package.json
  cli/README.md
  cli/html-report/package.json
  cli/package.json
  cli/src/export.ts
  cli/src/version.ts
  desktop/package.json
  frontend/elm.json
  frontend/package.json
  frontend/review/elm.json
  frontend/ts-src/services/backend.ts
  gateway/README.md
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/version.ts
  libs/connector-bigquery/package.json
  libs/connector-couchbase/package.json
  libs/connector-mariadb/package.json
  libs/connector-mongodb/package.json
  libs/connector-mysql/package.json
  libs/connector-oracle/package.json
  libs/connector-postgres/package.json
  libs/connector-snowflake/package.json
  libs/connector-sqlserver/package.json
  libs/models/package.json
  libs/serde-aml/package.json
  libs/serde-dbml/package.json
  libs/serde-prisma/package.json
  libs/serde-sql/package.json
  libs/utils/package.json
  pnpm-lock.yaml
Due: frontend-build, frontend-test, gateway, cli

Fix BigInt error on MariaDB
  cli/README.md
  cli/package.json
  gateway/README.md
  gateway/package.json
  integration/compose.yaml
  libs/connector-couchbase/README.md
  libs/connector-mariadb/README.md
  libs/connector-mariadb/package.json
  libs/connector-mariadb/src/mariadb.ts
  libs/connector-mongodb/README.md
  libs/connector-mysql/README.md
  libs/connector-oracle/README.md
  libs/connector-postgres/README.md
  libs/connector-snowflake/README.md
  libs/connector-sqlserver/README.md
  libs/models/README.md
  libs/serde-aml/README.md
  libs/serde-dbml/README.md
  libs/serde-prisma/README.md
  libs/serde-sql/README.md
  libs/utils/README.md
  pnpm-lock.yaml
Due: none

Fix elixir linter
  backend/lib/azimutt/accounts/user_auth_token.ex
  backend/lib/azimutt/application.ex
  backend/lib/azimutt/services/twitter_srv.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt/utils/slugme.ex
  backend/lib/azimutt/utils/uuid.ex
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/test/azimutt/services/twitter_srv_test.exs
  backend/test/azimutt/utils/result_test.exs
Due: mix-format, mix-lint, mix-test, mix-build

Fix dbml dependency
  libs/serde-dbml/package.json
  pnpm-lock.yaml
Due: none

Fix gateway deps
  cli/README.md
  cli/package.json
  cli/src/version.ts
  frontend/src/Models/Organization.elm
  gateway/README.md
  gateway/package-lock.json
  gateway/package.json
  libs/connector-bigquery/README.md
  libs/connector-couchbase/README.md
  libs/connector-mariadb/README.md
  libs/connector-mariadb/package.json
  libs/connector-mongodb/README.md
  libs/connector-mysql/README.md
  libs/connector-oracle/README.md
  libs/connector-postgres/README.md
  libs/connector-snowflake/README.md
  libs/connector-sqlserver/README.md
  libs/models/README.md
  libs/serde-aml/README.md
  libs/serde-dbml/README.md
  libs/serde-prisma/README.md
  libs/serde-sql/README.md
  libs/utils/README.md
  pnpm-lock.yaml
Due: elm-test, elm-lint, elm-build, elm-format, cli

Add anchors to pricing page
  backend/lib/azimutt_web/templates/partials/_pricing_features_desktop.html.heex
  backend/lib/azimutt_web/templates/partials/_pricing_features_mobile.html.heex
Due: none

Allow database source to not keep url
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/LlmGenerateSqlBody.elm
  frontend/src/Libs/Json/Decode.elm
  frontend/src/Libs/Maybe.elm
  frontend/src/Libs/Models/DatabaseKind.elm
  frontend/src/Models/DbSource.elm
  frontend/src/Models/OpenAIModel.elm
  frontend/src/Models/Project/DatabaseUrlStorage.elm
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/Models/SourceInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/SchemaAnalysis/InconsistentTypeOnRelations.elm
  frontend/src/Services/DatabaseSource.elm
  libs/models/src/legacy/legacyProject.ts
Due: elm-test, elm-lint, elm-build, elm-format

Update UI to adapt with new sources
  frontend/src/Libs/List.elm
  frontend/src/Models/Project/DatabaseUrlStorage.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/Models/SourceInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/src/Services/AmlSource.elm
  frontend/src/Services/DatabaseSource.elm
  frontend/src/Services/JsonSource.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/PrismaSource.elm
  frontend/src/Services/SqlSource.elm
  frontend/ts-src/services/backend.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Store and remove urls from projects
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/indexeddb.ts
  frontend/ts-src/services/storage/inmemory.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/utils/crypto.test.ts
  frontend/ts-src/utils/crypto.ts
  libs/models/src/index.ts
  libs/models/src/legacy/legacyProject.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Crypt urls everywhere
  frontend/src/Models/DbSource.elm
  frontend/src/Models/DbSourceInfo.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/utils/crypto.test.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Delete db urls on delete source
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/ProjectSettings.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Fix PostgreSQL history query
  cli/package.json
  cli/src/analyze.ts
  cli/src/version.ts
  gateway/package.json
  libs/connector-postgres/package.json
  libs/connector-postgres/src/helpers.ts
  libs/connector-postgres/src/history.ts
  libs/connector-postgres/src/postgres.ts
  libs/models/package.json
  pnpm-lock.yaml
Due: libs-connector-postgres, cli

add changed files
  Dockerfile
  INSTALL.md
Due: none

Handle missing url in db sources in UI
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/LlmGenerateSqlBody.elm
  frontend/src/Models/DbSource.elm
  frontend/src/Models/DbSourceInfo.elm
  frontend/src/Models/Project/DatabaseUrlStorage.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/Models/SourceInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/SourceUpdateDialog.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ProjectSettings.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Keep correct source names
  backend/priv/static/blog/2024-07-15-safe-database-url/safe-database-url.md
  frontend/src/Models/SourceInfo.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Services/JsonSource.elm
  frontend/src/Services/PrismaSource.elm
  frontend/src/Services/SqlSource.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add data sources in gateway
  cli/src/explore.ts
  cli/src/gateway.ts
  cli/src/index.ts
  gateway/src/index.ts
  gateway/src/plugins/config.ts
  gateway/src/routes/index.test.ts
  gateway/src/routes/index.ts
  gateway/src/schemas.ts
  gateway/src/server.ts
Due: gateway, cli

Review fixes
  backend/priv/static/blog/2024-07-15-safe-database-url/safe-database-url.md
  backend/test/azimutt/services/stripe_srv_test.exs
  frontend/src/Components/Organisms/Details.elm
  gateway/src/routes/index.ts
Due: mix-format, mix-lint, mix-test, elm-test, elm-lint, elm-build, elm-format, gateway

Allow custom gateway on enterprise plan
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt_web/templates/layout/root_elm.html.heex
  backend/lib/azimutt_web/templates/organization/edit.html.heex
  frontend/src/Components/Slices/DataExplorer.elm
  gateway/src/routes/index.ts
Due: mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, gateway

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
