Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: libs-utils, libs-database-types, libs-shared, libs-json-infer-schema, libs-connector-couchbase, libs-connector-mongodb, libs-connector-postgres, mix-format, mix-lint, mix-test, mix-build, elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test, gateway, cli

libs-utils:
  name: Libs/Utils
  language: system
  entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
  pass_filenames: false

libs-database-types:
  name: Libs/Database types
  language: system
  entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
  pass_filenames: false

libs-shared:
  name: Libs/Shared
  language: system
  entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
  pass_filenames: false

libs-json-infer-schema:
  name: Libs/Json infer schema
  language: system
  entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-couchbase:
  name: Libs/Couchbase connector
  language: system
  entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-mongodb:
  name: Libs/MongoDB connector
  language: system
  entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
  pass_filenames: false

libs-connector-postgres:
  name: Libs/PostgreSQL connector
  language: system
  entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

frontend-build:
  name: Frontend TS build
  language: system
  entry: npm run ts:lint
  pass_filenames: false

frontend-test:
  name: Frontend TS test
  language: system
  entry: npm run ts:test
  pass_filenames: false

gateway:
  name: Gateway
  language: system
  entry: bash -c 'cd gateway && exec npm run lint && exec npm run check:types && exec npm test'
  pass_filenames: false

cli:
  name: CLI
  language: system
  entry: bash -c 'cd cli && exec npm run build && exec npm test'
  pass_filenames: false

Add Clever Cloud branding
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/templates/clever_cloud/index.html.heex
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/heroku/index.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/priv/static/images/clever_cloud_footer.svg
  backend/priv/static/images/clever_cloud_illustration.svg
  backend/priv/static/images/clever_cloud_logo_white.webp
  backend/priv/static/images/heroku_footer.svg
  backend/priv/static/images/heroku_illustration.svg
  backend/priv/static/images/heroku_logo_white.svg
Due: mix-format, mix-lint, mix-test, mix-build

Remove auth error
  backend/config/runtime.exs
Due: mix-format, mix-lint, mix-test

Add comments
  backend/lib/azimutt/clever_cloud.ex
  backend/lib/azimutt/heroku.ex
Due: mix-format, mix-lint, mix-test, mix-build

Fix
  backend/config/config.exs
  backend/lib/azimutt_web/templates/clever_cloud/show.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
Due: mix-format, mix-lint, mix-test

Add logs for CC
  backend/lib/azimutt_web/controllers/api/clever_cloud_controller.ex
  backend/lib/azimutt_web/controllers/clever_cloud_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

More logs
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add ping
  backend/lib/azimutt/services/cockpit_srv.ex
Due: mix-format, mix-lint, mix-test, mix-build

Improve dashboard period
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add column refs in postgres queries
  libs/connector-postgres/src/common/query.ts
  libs/connector-postgres/src/common/types.ts
  libs/connector-postgres/tests/query.test.ts
  libs/utils/src/array.ts
Due: libs-utils, libs-connector-postgres

Bootstrap JS SQL parser
  libs/parser-sql/.gitignore
  libs/parser-sql/.npmignore
  libs/parser-sql/README.md
  libs/parser-sql/jest.config.js
  libs/parser-sql/package-lock.json
  libs/parser-sql/package.json
  libs/parser-sql/src/command.ts
  libs/parser-sql/src/index.ts
  libs/parser-sql/src/select.ts
  libs/parser-sql/tests/select.test.ts
  libs/parser-sql/tsconfig.json
Due: none

Better cockpit integration
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt_web/templates/organization/show.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Remove plausible
  backend/lib/azimutt_web/templates/layout/_head_seo.html.heex
Due: none

Update cockpit events
  backend/lib/azimutt/services/cockpit_srv.ex
  backend/lib/azimutt_web/templates/organization/show.html.heex
Due: mix-format, mix-lint, mix-test, mix-build

Fix Sentry 4330159465
  backend/lib/azimutt_web/controllers/api/organization_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Add returning users stats
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
Due: mix-format, mix-lint, mix-test, mix-build

Bootstrap data explorer
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Components/Book.elm
  frontend/src/Components/Molecules/Pagination.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/Models/DatabaseQueryResults.elm
  frontend/src/Models/JsValue.elm
  frontend/src/Models/Project/ColumnType.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Services/QueryBuilderTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Design Query Cards
  frontend/src/Components/Molecules/ContextMenu.elm
  frontend/src/Components/Molecules/Dropdown.elm
  frontend/src/Components/Organisms/ColorPicker.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/GroupContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/MemoContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/TableContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Title.elm
Due: elm-test, elm-lint, elm-build, elm-format

Show query & expand JSON in results
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/Models/JsValue.elm
  frontend/src/Services/QueryBuilder.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add query editor for data explorer
  frontend/src/Components/Atoms/Input.elm
  frontend/src/Components/Book.elm
  frontend/src/Components/Molecules/Dropdown.elm
  frontend/src/Components/Molecules/FormLabel.elm
  frontend/src/Components/Molecules/InputText.elm
  frontend/src/Components/Molecules/Modal.elm
  frontend/src/Components/Molecules/Popover.elm
  frontend/src/Components/Molecules/Radio.elm
  frontend/src/Components/Molecules/Select.elm
  frontend/src/Components/Molecules/Slideover.elm
  frontend/src/Components/Molecules/Toast.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/Navbar.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/ExportDialogBody.elm
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Components/Slices/ProjectSaveDialogBody.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle sources
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Implement visual editor
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Libs/Models/Uuid.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/Models/Project/SourceId.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Services/QueryBuilderTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Implement slide over for data explorer row details
  frontend/src/Components/Book.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
Due: elm-test, elm-lint, elm-build, elm-format

Bootstrap data explorer row details
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Libs/List.elm
  frontend/src/Models/JsValue.elm
  frontend/tailwind.config.js
Due: elm-test, elm-lint, elm-build, elm-format

Add button to open a row
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Open row from data explorer
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Libs/List.elm
  frontend/src/Models/JsValue.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

Show query on results
  frontend/src/Components/Slices/DataExplorerQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle cancel & remove queries
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
Due: elm-test, elm-lint, elm-build, elm-format

Integrate Data Explorer into Azimutt
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
  frontend/src/Services/Lenses.elm
Due: elm-test, elm-lint, elm-build, elm-format

Allow to run db queries from data explorer
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Models/DatabaseQueryResults.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Improve db query ports
  frontend/src/Components/Molecules/Pagination.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerRow.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Libs/Result.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/types/ports.ts
Due: elm-test, elm-lint, elm-build, elm-format, frontend-build, frontend-test

Fix query row identification
  cli/package-lock.json
  cli/package.json
  cli/src/version.ts
  frontend/src/Components/Book.elm
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Models/Project/TableRow.elm
  gateway/package-lock.json
  gateway/package.json
  gateway/src/routes/index.ts
  gateway/src/version.ts
  libs/connector-postgres/package-lock.json
  libs/connector-postgres/package.json
Due: elm-test, elm-lint, elm-build, elm-format, gateway, cli

Query data and load in details side bar
  frontend/src/Components/Book.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Models/DbSource.elm
  frontend/src/Models/DbSourceInfo.elm
  frontend/src/Models/Project/Source.elm
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/Ports.elm
Due: elm-test, elm-lint, elm-build, elm-format

Allow to open details from details
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Libs/List.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
Due: elm-test, elm-lint, elm-build, elm-format

Design TableRow
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Libs/Models/DateTime.elm
  frontend/src/Libs/Set.elm
  frontend/src/Libs/String.elm
  frontend/src/Models/JsValue.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/tests/Libs/Models/DateTimeTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Add search & sort on query results
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Libs/Dict.elm
  frontend/src/Libs/List.elm
  frontend/src/Libs/Order.elm
  frontend/src/Models/JsValue.elm
  frontend/src/Models/QueryResult.elm
  frontend/tests/Libs/ListTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

Show table row in layout
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Libs/Bool.elm
  frontend/src/Libs/Json/Decode.elm
  frontend/src/Models/JsValue.elm
  frontend/src/Models/Project/Layout.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/TableRow.elm
  frontend/src/Services/Lenses.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Libs/Json/FormatsTest.elm
  frontend/tests/Models/JsValueTest.elm
  frontend/tests/Models/Project/ColumnTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Views/ErdTest.elm
  frontend/tests/Services/QueryBuilderTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/Fuzzers.elm
  frontend/tests/TestHelpers/Helpers.elm
  frontend/tests/TestHelpers/JsonTest.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Rename JsValue to DbValue
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorer.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
  frontend/src/Components/Slices/QueryPane.elm
  frontend/src/Models/DbValue.elm
  frontend/src/Models/Project/TableRow.elm
  frontend/src/Models/QueryResult.elm
  frontend/src/Services/QueryBuilder.elm
  frontend/tests/Models/DbValueTest.elm
  frontend/tests/Models/JsValueTest.elm
  frontend/tests/Services/QueryBuilderTest.elm
  frontend/tests/TestHelpers/Fuzzers.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle document mode
  frontend/src/Components/Organisms/TableRow.elm
  frontend/src/Components/Slices/DataExplorerDetails.elm
  frontend/src/Components/Slices/DataExplorerQuery.elm
  frontend/src/Components/Slices/DataExplorerValue.elm
Due: elm-test, elm-lint, elm-build, elm-format

Path conditions:
  libs-utils: any of: libs/utils/.*\.ts*$
  libs-database-types: any of: libs/database-types/.*\.ts*$
  libs-shared: any of: libs/shared/.*\.ts*$
  libs-json-infer-schema: any of: libs/json-infer-schema/.*\.ts*$
  libs-connector-couchbase: any of: libs/connector-couchbase/.*\.ts*$
  libs-connector-mongodb: any of: libs/connector-mongodb/.*\.ts*$
  libs-connector-postgres: any of: libs/connector-postgres/.*\.ts*$
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-test: any of: \.exs*$
  mix-build: any of: \.ex$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  frontend-build: any of: frontend/.*\.ts*$
  frontend-test: any of: frontend/.*\.ts*$
  gateway: any of: gateway/.*\.ts*$
  cli: any of: cli/.*\.ts*$
