Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

mix-test:
  name: Elixir test
  language: system
  entry: npm run ex:test
  pass_filenames: false

mix-lint:
  name: Elixir lint
  language: system
  entry: npm run ex:lint
  pass_filenames: false

mix-build:
  name: Elixir build
  language: system
  entry: npm run ex:build
  pass_filenames: false

mix-format:
  name: Elixir format
  language: system
  entry: bash -c 'cd backend && exec mix format --check-formatted'

elm-test:
  name: Elm test
  language: system
  entry: npm run elm:test
  pass_filenames: false

elm-lint:
  name: Elm lint
  language: system
  entry: npm run elm:lint
  pass_filenames: false

elm-build:
  name: Elm build
  language: system
  entry: npm run elm:build
  pass_filenames: false

elm-format:
  name: Elm format
  language: system
  entry: npm run elm:format
  pass_filenames: false

ts-test:
  name: TypeScript test
  language: system
  entry: npm run ts:test
  pass_filenames: false

ts-lint:
  name: TypeScript lint
  language: system
  entry: npm run ts:lint
  pass_filenames: false

Fix Couchbase
  cli/src/export/couchbase.ts
  cli/src/export/index.ts
  cli/src/export/mongodb.ts
  cli/src/index.ts
  cli/src/utils/error.ts
Due: ts-test, ts-lint

small fixes
  .pre-commit-config.yaml
  cli/src/export/couchbase.ts
  cli/src/export/infer.ts
  cli/tests/export/infer.test.ts
  package.json
Due: ts-test, ts-lint

refacto
  cli/src/export/couchbase.ts
  cli/src/export/index.ts
  cli/src/export/mongodb.ts
  cli/src/export/postgres.ts
Due: ts-test, ts-lint

Introduce nested columns in Json source
  frontend/src/DataSources/AmlMiner/AmlAdapter.elm
  frontend/src/DataSources/DatabaseMiner/DatabaseAdapter.elm
  frontend/src/DataSources/JsonMiner/JsonAdapter.elm
  frontend/src/DataSources/JsonMiner/Models/JsonTable.elm
  frontend/src/DataSources/SqlMiner/SqlAdapter.elm
  frontend/src/Models/Project/Check.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/Comment.elm
  frontend/src/Models/Project/CustomType.elm
  frontend/src/Models/Project/Index.elm
  frontend/src/Models/Project/Origin.elm
  frontend/src/Models/Project/PrimaryKey.elm
  frontend/src/Models/Project/Relation.elm
  frontend/src/Models/Project/Table.elm
  frontend/src/Models/Project/Unique.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/DataSources/AmlMiner/AmlAdapterTest.elm
  frontend/tests/DataSources/JsonMiner/Models/JsonTableTest.elm
  frontend/tests/Models/Project/ColumnTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Updates/FindPathTest.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
Due: elm-test, elm-lint, elm-build, elm-format

Display nested columns in ERD
  cli/README.md
  cli/src/export/index.ts
  cli/src/export/infer.ts
  cli/src/export/postgres.ts
  cli/src/index.ts
  cli/src/utils/object.ts
  cli/tests/export/infer.test.ts
  frontend/src/Components/Atoms/Icons.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/DataSources/JsonMiner/JsonSchema.elm
  frontend/src/Models/Project/Column.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/Models/Project/TableId.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/EditNotes.elm
  frontend/tests/Models/Project/TableIdTest.elm
  frontend/ts-src/types/project.ts
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Use Nel in ColumnPath
  cli/README.md
  cli/src/export/index.ts
  frontend/package-lock.json
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Nel.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumn.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

improve CLI
  cli/src/export/index.ts
  cli/src/index.ts
  cli/src/utils/database.ts
  cli/src/utils/error.ts
Due: ts-test, ts-lint

Display relation on parent column if not opened
  frontend/src/DataSources/AmlMiner/AmlGenerator.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/AmlSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
Due: elm-test, elm-lint, elm-build, elm-format

Handle sort, hide & show columns with nested columns
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Libs/List.elm
  frontend/src/Models/Project/ColumnPath.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/DetailsSidebar.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumnProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdNotes.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdNotesTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableLayout.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTableNotes.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ShowColumns.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Notes.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
  frontend/src/Ports.elm
  frontend/tests/Libs/ListTest.elm
  frontend/tests/PagesComponents/Organization_/Project_/Models/ErdColumnPropsTest.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix move column
  cli/README.md
  cli/src/index.ts
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Libs/Nel.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumnProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Modals/ColumnContextMenu.elm
Due: elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

fix column sort with nested
  frontend/src/Models/ColumnOrder.elm
  frontend/src/Models/Project/Relation.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumnProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdTable.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix show columns with relations
  frontend/src/PagesComponents/Organization_/Project_/Models/ShowColumns.elm
Due: elm-test, elm-lint, elm-build, elm-format

refactor
  frontend/src/PagesComponents/Organization_/Project_/Models/ErdColumnProps.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Relation.elm
Due: elm-test, elm-lint, elm-build, elm-format

prepare cli publication
  cli/.npmignore
  cli/package.json
Due: none

improve cli docs
  cli/README.md
  cli/package.json
  cli/src/index.ts
Due: ts-test, ts-lint

publish to azimutt org
  cli/package.json
  cli/src/export/index.ts
  cli/src/index.ts
Due: ts-test, ts-lint

improve CLI
  cli/README.md
  cli/package-lock.json
  cli/package.json
Due: none

improve cli
  cli/.npmignore
  cli/package-lock.json
  cli/package.json
Due: none

Add blog post
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/cli-logs.jpg
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/couchbase-in-azimutt.png
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/exploring-document-databases-with-azimutt.md
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/json.jpg
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/mongodb-in-azimutt.png
  cli/.npmignore
  cli/src/export/infer.ts
  cli/src/index.ts
Due: ts-test, ts-lint

improve post
  backend/priv/static/blog/2023-02-12-exploring-document-databases-with-azimutt/exploring-document-databases-with-azimutt.md
Due: none

remove legacy projects
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list_empty.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Pages/Create.elm
  frontend/src/Pages/Home_.elm
  frontend/src/Pages/New.elm
  frontend/src/Pages/Organization_/Create.elm
  frontend/src/Pages/Organization_/New.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/Pages/Projects.elm
  frontend/src/PagesComponents/Create/Init.elm
  frontend/src/PagesComponents/Create/Models.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/PagesComponents/New/Models.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Projects/Models.elm
  frontend/src/PagesComponents/Projects/View.elm
  frontend/src/Ports.elm
  frontend/src/Shared.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/api.ts
  frontend/ts-src/services/storage/indexeddb.ts
  frontend/ts-src/services/storage/inmemory.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

Remove ProjectV1
  frontend/src/Storage/ProjectV1.elm
  frontend/src/Storage/ProjectV2.elm
  frontend/tests/Storage/ProjectV1Test.elm
Due: elm-test, elm-lint, elm-build, elm-format

Remove legacy projects (#161)
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization/_project_list.html.heex
  backend/lib/azimutt_web/templates/organization/_project_list_empty.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  frontend/src/Pages/Create.elm
  frontend/src/Pages/Home_.elm
  frontend/src/Pages/New.elm
  frontend/src/Pages/Organization_/Create.elm
  frontend/src/Pages/Organization_/New.elm
  frontend/src/Pages/Organization_/Project_.elm
  frontend/src/Pages/Projects.elm
  frontend/src/PagesComponents/Create/Init.elm
  frontend/src/PagesComponents/Create/Models.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/New/Init.elm
  frontend/src/PagesComponents/New/Models.elm
  frontend/src/PagesComponents/New/Updates.elm
  frontend/src/PagesComponents/New/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Projects/Models.elm
  frontend/src/PagesComponents/Projects/View.elm
  frontend/src/Ports.elm
  frontend/src/Shared.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/src/Storage/ProjectV2.elm
  frontend/tests/Storage/ProjectV1Test.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/elm.ts
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/api.ts
  frontend/ts-src/services/storage/indexeddb.ts
  frontend/ts-src/services/storage/inmemory.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.test.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

init tauri
  desktop-app/.gitignore
  desktop-app/.vscode/extensions.json
  desktop-app/README.md
  desktop-app/index.html
  desktop-app/package-lock.json
  desktop-app/package.json
  desktop-app/src-tauri/.gitignore
  desktop-app/src-tauri/Cargo.toml
  desktop-app/src-tauri/build.rs
  desktop-app/src-tauri/icons/128x128.png
  desktop-app/src-tauri/icons/128x128@2x.png
  desktop-app/src-tauri/icons/32x32.png
  desktop-app/src-tauri/icons/Square107x107Logo.png
  desktop-app/src-tauri/icons/Square142x142Logo.png
  desktop-app/src-tauri/icons/Square150x150Logo.png
  desktop-app/src-tauri/icons/Square284x284Logo.png
  desktop-app/src-tauri/icons/Square30x30Logo.png
  desktop-app/src-tauri/icons/Square310x310Logo.png
  desktop-app/src-tauri/icons/Square44x44Logo.png
  desktop-app/src-tauri/icons/Square71x71Logo.png
  desktop-app/src-tauri/icons/Square89x89Logo.png
  desktop-app/src-tauri/icons/StoreLogo.png
  desktop-app/src-tauri/icons/icon.icns
  desktop-app/src-tauri/icons/icon.ico
  desktop-app/src-tauri/icons/icon.png
  desktop-app/src-tauri/src/main.rs
  desktop-app/src-tauri/tauri.conf.json
  desktop-app/src/assets/tauri.svg
  desktop-app/src/assets/typescript.svg
  desktop-app/src/assets/vite.svg
  desktop-app/src/main.ts
  desktop-app/src/style.css
  desktop-app/tsconfig.json
  desktop-app/vite.config.js
Due: ts-test, ts-lint

load Azimutt in Tauri
  desktop-app/README.md
  desktop-app/index.html
  desktop-app/package-lock.json
  desktop-app/package.json
  desktop-app/src-tauri/Cargo.lock
  desktop-app/src-tauri/Cargo.toml
  desktop-app/src-tauri/tauri.conf.json
  desktop-app/src/assets/tauri.svg
  desktop-app/src/assets/typescript.svg
  desktop-app/src/assets/vite.svg
  desktop-app/src/main.ts
  desktop-app/src/style.css
  desktop-app/tsconfig.json
  package.json
Due: ts-test, ts-lint

Use : as nested column separator
  frontend/src/Models/Project/ColumnPath.elm
Due: elm-test, elm-lint, elm-build, elm-format

add --platform=linux/amd64
  .dockerignore
  Dockerfile
Due: none

Fix indexeddb
  frontend/ts-src/services/storage/indexeddb.ts
Due: ts-test, ts-lint

Improve error reporting
  frontend/ts-src/services/storage.ts
  frontend/ts-src/services/storage/indexeddb.ts
  frontend/ts-src/services/storage/inmemory.ts
  frontend/ts-src/services/storage/localstorage.ts
  frontend/ts-src/utils/zod.ts
Due: ts-test, ts-lint

add github workflow to build image
  .github/workflows/docker.yml
  .github/workflows/push.yml
Due: none

Fix private link access
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/elm_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add Bento
  backend/config/runtime.exs
  backend/lib/azimutt/services/bento_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/user_view.ex
  backend/test/azimutt/services/bento_srv_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

fix
  backend/lib/azimutt/tracking.ex
Due: mix-test, mix-lint, mix-build, mix-format

add dates in dashboard
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

improve S3
  backend/config/prod.exs
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

Add Bento integration (#180)
  backend/config/runtime.exs
  backend/lib/azimutt/services/bento_srv.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/user_view.ex
  backend/test/azimutt/services/bento_srv_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Add TODOs
  backend/config/runtime.exs
Due: mix-test, mix-lint, mix-format

enhance tracking for signup and external link
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_registration_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/test/azimutt_web/controllers/user_auth_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Path conditions:
  mix-test: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-build: any of: \.ex$
  mix-format: any of: \.exs*$
  elm-test: any of: \.elm*$
  elm-lint: any of: \.elm*$
  elm-build: any of: \.elm*$
  elm-format: any of: \.elm*$
  ts-test: any of: \.ts*$
  ts-lint: any of: \.ts*$
