Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: \.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: \.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

Redirect home page to last visited organization
  backend/lib/azimutt/blog/article.ex
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt/utils/markdown.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/templates/gallery/show.html.heex
  backend/test/azimutt/tracking_test.exs
  backend/test/azimutt/utils/result_test.exs
  frontend/src/Models/Project/ColumnType.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add sample banners
  backend/lib/azimutt_web/components/icon.ex
  backend/priv/static/gallery/azimutt.png
  backend/priv/static/gallery/discourse.png
  backend/priv/static/gallery/gitlab.png
  backend/priv/static/gallery/mastodon.png
Due: mix-test, mix-lint, mix-build, mix-format

fix icons
  frontend/src/Components/Atoms/Icon.elm
  frontend/src/PagesComponents/New/Updates.elm
Due: elm-test, elm-lint, elm-build, elm-format

fix: change date comparaison with Date.compare
  backend/lib/azimutt_web/templates/organization_invitation/show.html.heex
Due: none

Allow to unzoom more
  frontend/elm.json
  frontend/src/Conf.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Canvas.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Commands.elm
Due: elm-test, elm-lint, elm-build, elm-format

Diagram search navigate to table if already shown
  frontend/src/Models/Area.elm
  frontend/src/Models/Size.elm
  frontend/src/PagesComponents/Organization_/Project_/Models.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Table.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar/Search.elm
Due: elm-test, elm-lint, elm-build, elm-format

Warn on legacy projects, fix homepage
  backend/lib/azimutt_web/components/landing_page.ex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/priv/static/images/adrian_sieber.jpg
  backend/priv/static/images/jeremy_buget.jpg
  backend/priv/static/images/jordan_temim.jpeg
  backend/priv/static/images/locomote_logo.png
  backend/priv/static/images/manomano_logo.png
  backend/priv/static/images/miguel_coba.jpg
  backend/priv/static/images/nikosv.jpg
  backend/priv/static/images/oliver_searle_barnes.png
  backend/priv/static/images/swile_logo.png
  backend/priv/static/images/tibo.jpg
  frontend/ts-src/index.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

move /last to backend
  backend/lib/azimutt_web/controllers/elm_controller.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  frontend/src/Pages/Last.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add related blog posts
  backend/lib/azimutt/blog.ex
  backend/lib/azimutt_web/controllers/blog_controller.ex
  backend/lib/azimutt_web/controllers/sitemap_controller.ex
  backend/lib/azimutt_web/templates/blog/show.html.heex
  backend/test/azimutt/blog_test.exs
  frontend/ts-src/index.ts
  frontend/ts-src/utils/env.ts
  package.json
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

add more details on tmp customer
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/organizations/organization_member.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/test/azimutt/services/stripe_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

remove /embed from crawlable urls
  backend/priv/static/robots.txt
Due: none

addon boilerplate
  .gitignore
  backend/config/runtime.exs
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/heroku/resource.ex
  backend/lib/azimutt/utils/crypto.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/organization_invitation/show.html.heex
  backend/lib/azimutt_web/views/api/heroku_view.ex
  backend/priv/repo/migrations/20221205110011_create_heroku_resources.exs
  backend/test/azimutt/heroku_test.exs
  backend/test/azimutt/utils/crypto_test.exs
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
  backend/test/support/fixtures/gallery_fixtures.ex
  backend/test/support/fixtures/heroku_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

add heroku sso auth
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/fallback_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/views/heroku_view.ex
  backend/test/azimutt/utils/result_test.exs
  backend/test/azimutt_web/controllers/api/heroku_controller_test.exs
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
  backend/test/support/fixtures/heroku_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

docker backend
  backend/.dockerignore
  backend/Dockerfile
  backend/config/config.exs
  backend/lib/azimutt/application.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/error/404.html.heex
  backend/lib/azimutt_web/templates/layout/_seo.html.heex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/mix.exs
  backend/rel/overlays/bin/migrate
  backend/rel/overlays/bin/migrate.bat
  backend/rel/overlays/bin/server
  backend/rel/overlays/bin/server.bat
  docker-compose.yml
Due: mix-test, mix-lint, mix-build, mix-format

docker backend
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/entrypoint.sh
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

fix release
  backend/Dockerfile.prod
  docker-compose.yml
Due: none

update docker compose
  docker-compose.yml
Due: none

Dockerize backend app (#150)
  backend/Dockerfile.prod
  docker-compose.yml
Due: none

add args
  backend/Dockerfile.prod
Due: none

add local helper for heroku sso
  backend/config/runtime.exs
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/heroku/index.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/priv/repo/seeds.exs
  backend/test/azimutt_web/controllers/api/heroku_controller_test.exs
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

make docker compose use dev env
  backend/Dockerfile.dev
  backend/config/dev.exs
  backend/config/runtime.exs
  docker-compose.yml
Due: mix-test, mix-lint, mix-format

add resource members
  backend/.iex.exs
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/heroku/resource.ex
  backend/lib/azimutt/heroku/resource_member.ex
  backend/lib/azimutt/utils/crypto.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_confirmation_controller.ex
  backend/lib/azimutt_web/controllers/user_oauth_controller.ex
  backend/lib/azimutt_web/controllers/user_reset_password_controller.ex
  backend/lib/azimutt_web/controllers/user_session_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/priv/repo/migrations/20221205110011_create_heroku_resources.exs
  backend/test/azimutt/accounts_test.exs
  backend/test/azimutt/heroku_test.exs
  backend/test/azimutt/utils/crypto_test.exs
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
  backend/test/azimutt_web/controllers/user_confirmation_controller_test.exs
  backend/test/azimutt_web/controllers/user_reset_password_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

imporve heroku helper + log user with sso
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/heroku/index.html.heex
  frontend/src/Services/DatabaseSource.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

allow to create heroku projects
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/heroku/resource.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/controllers/user_dashboard_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/test/azimutt/heroku_test.exs
  frontend/src/Models/HerokuId.elm
  frontend/src/Models/Project/ProjectStorage.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Project.elm
  frontend/src/Ports.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/heroku.ts
  frontend/ts-src/types/ports.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

change icon for heroku projects
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/organization/_project_icon.html.heex
  backend/lib/azimutt_web/views/api/project_view.ex
  frontend/src/Libs/Json/Decode.elm
  frontend/src/Models/HerokuId.elm
  frontend/src/Models/HerokuResource.elm
  frontend/src/Models/Project.elm
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/Services/Backend.elm
  frontend/src/Storage/ProjectV1.elm
  frontend/tests/Libs/Fuzz.elm
  frontend/tests/Storage/ProjectV2Test.elm
  frontend/tests/TestHelpers/ProjectFuzzers.elm
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/heroku.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

use heroku id as table id
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/heroku/resource.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/heroku/index.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/views/api/heroku_view.ex
  backend/lib/azimutt_web/views/api/project_view.ex
  backend/priv/repo/migrations/20221205110011_create_heroku_resources.exs
  backend/priv/repo/seeds.exs
  backend/test/azimutt/heroku_test.exs
  backend/test/azimutt_web/controllers/api/heroku_controller_test.exs
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
  backend/test/support/fixtures/heroku_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix initial project name and project access from heroku sso
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/test/azimutt/projects_test.exs
  frontend/src/PagesComponents/Create/Init.elm
  frontend/src/PagesComponents/Create/Models.elm
  frontend/src/PagesComponents/Create/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Navbar.elm
  frontend/src/Services/Backend.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

delete project when delete a resource
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/heroku.ex
  backend/test/azimutt/heroku_test.exs
  backend/test/support/fixtures/heroku_fixtures.ex
Due: mix-test, mix-lint, mix-build, mix-format

small fixes
  backend/lib/azimutt/projects.ex
  frontend/src/Models/ProjectInfo.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates/Hotkey.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

add plan limitation for heroku add-ons
  backend/lib/azimutt/accounts.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt/utils/crypto.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/organization_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/heroku/error_member_limit_reached.html.heex
  backend/lib/azimutt_web/templates/heroku/error_too_many_members.html.heex
  backend/lib/azimutt_web/templates/layout/_left_panel.html.heex
  backend/lib/azimutt_web/templates/organization_member/_members_section.html.heex
  backend/lib/azimutt_web/templates/user_session/new.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/views/organization_member_view.ex
  backend/test/azimutt/heroku_test.exs
  backend/test/azimutt/utils/crypto_test.exs
  frontend/src/Components/Slices/NewLayoutBody.elm
  frontend/src/Components/Slices/ProPlan.elm
  frontend/src/Models/Organization.elm
  frontend/src/PagesComponents/Organization_/Project_/Models/Erd.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/ts-src/index.ts
  frontend/ts-src/services/backend.ts
  frontend/ts-src/types/project.ts
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

design heroku addon setup page
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/lib/azimutt_web/templates/layout/app.html.heex
  backend/lib/azimutt_web/templates/layout/empty.html.heex
  backend/lib/azimutt_web/views/heroku_view.ex
  backend/priv/static/images/heroku-art.svg
  backend/priv/static/images/heroku-logotype-horizontal-white.svg
  backend/priv/static/images/illustration-cloud.svg
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

small improvements
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/projects.ex
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/templates/heroku/index.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  frontend/ts-src/index.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

store app name in heroku resource
  backend/lib/azimutt.ex
  backend/lib/azimutt/analyzer.ex
  backend/lib/azimutt/analyzer/postgres.ex
  backend/lib/azimutt/blog/article.ex
  backend/lib/azimutt/heroku.ex
  backend/lib/azimutt/heroku/resource.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/utils/mapx.ex
  backend/lib/azimutt/utils/stringx.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
  backend/lib/azimutt_web/templates/heroku/index.html.heex
  backend/lib/azimutt_web/templates/heroku/show.html.heex
  backend/priv/repo/migrations/20221205110011_create_heroku_resources.exs
  backend/test/azimutt/heroku_test.exs
  backend/test/azimutt/utils/string_test.exs
  backend/test/azimutt_web/controllers/heroku_controller_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

fix comments
  backend/lib/azimutt/organizations.ex
  backend/lib/azimutt_web/controllers/api/project_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fix error pages
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/templates/heroku/error_member_limit_reached.html.heex
  backend/lib/azimutt_web/templates/heroku/error_too_many_members.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Heroku Add-on debug logs
  backend/lib/azimutt_web/controllers/api/heroku_controller.ex
  backend/lib/azimutt_web/controllers/heroku_controller.ex
  backend/lib/azimutt_web/controllers/user_auth.ex
Due: mix-test, mix-lint, mix-build, mix-format

remove heroku login pattern matching
  backend/lib/azimutt_web/controllers/heroku_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format
