Repository azimuttapp/azimutt: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format, ts-test, ts-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: ts-test
      name: 'TypeScript test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: \.ts*$

    - id: ts-lint
      name: 'TypeScript lint'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: \.ts*$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer

fix blog post: embed azimutt
  backend/priv/static/blog/2022-03-21-embed-your-database-diagram-anywhere/embed-your-database-diagram-anywhere.md
Due: none

Fix private links on orga with multiple members
  backend/lib/azimutt/projects.ex
Due: mix-test, mix-lint, mix-build, mix-format

Improve project sharing layout
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
Due: elm-test, elm-lint, elm-build, elm-format

Fix size observer on late loading
  frontend/ts-src/index.ts
Due: ts-test, ts-lint

minor fixes
  backend/lib/azimutt/tracking.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/test/azimutt/tracking_test.exs
  frontend/src/Components/Atoms/Markdown.elm
  frontend/src/Components/Organisms/Details.elm
  frontend/src/Components/Organisms/Table.elm
  frontend/src/Models/Project/ColumnType.elm
  frontend/src/PagesComponents/Organization_/Project_/Updates.elm
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
  frontend/tests/Models/Project/ColumnTypeTest.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

blog: memo feature
  backend/lib/azimutt/utils/markdown.ex
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/azimutt-memos-gospeak.png
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/azimutt-memos.png
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/document-your-database-with-memos.md
  frontend/src/PagesComponents/Organization_/Project_/Views/Watermark.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

Improve blog post
  backend/lib/azimutt_web/views/layout_view.ex
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/document-your-database-with-memos.md
  frontend/src/PagesComponents/Organization_/Project_/Views/Erd/Memo.elm
Due: mix-test, mix-lint, mix-build, mix-format, elm-test, elm-lint, elm-build, elm-format

cleanup
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/services/stripe_srv.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_view.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/event/index.html.heex
  backend/lib/azimutt_web/admin/event/show.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/index.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/index.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/project/project_view.ex
  backend/lib/azimutt_web/admin/project/show.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/index.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/admin/user/user_view.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/organization_billing_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_account_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
  backend/lib/azimutt_web/templates/layout/admin_dashboard.html.heex
  backend/test/azimutt/gallery_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

improve details pages
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/event/show.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/project/show.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add graphs
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/templates/layout/admin_dashboard.html.heex
  backend/test/azimutt/admin/dataset_test.exs
  backend/test/azimutt/utils/result_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

stuck with email form :/
  backend/lib/azimutt_web/admin/email/email_controller.ex
  backend/lib/azimutt_web/admin/email/email_view.ex
  backend/lib/azimutt_web/admin/email/new.html.heex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_admin_user_menu.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add pagination
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/utils/intx.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt/utils/stringx.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/event/index.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/index.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/organization_view.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/index.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/project/project_view.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/index.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/admin/user/user_view.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/partials/_pagination.html.heex
  backend/lib/azimutt_web/views/partials_view.ex
  backend/test/azimutt/utils/intx_test.exs
  backend/test/azimutt/utils/page_test.exs
  backend/test/azimutt/utils/string_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

add filters
  backend/lib/azimutt/utils/mapx.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/partials/_page_filter.html.heex
  backend/test/azimutt/utils/mapx_test.exs
  backend/test/azimutt/utils/page_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

add sorts
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/email/email_view.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/partials/_page_filter.html.heex
  backend/lib/azimutt_web/templates/partials/_page_sort.html.heex
  backend/test/azimutt/utils/page_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

add activity chart on users, orgas & projects
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/project/show.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

add more graphs to dashboard
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Improve admin dashboard: sorts + charts (#164)
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/email/email_view.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/project/show.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/show.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/templates/partials/_page_filter.html.heex
  backend/lib/azimutt_web/templates/partials/_page_sort.html.heex
  backend/test/azimutt/utils/page_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

fix admin empty chart error
  backend/lib/azimutt/admin/dataset.ex
Due: mix-test, mix-lint, mix-build, mix-format

Add use cases menu
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

add design use case
  backend/assets/css/app.css
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_content_dots.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/priv/static/images/screenshots/aml.png
Due: none

write pages on explore and analyze
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/priv/static/images/use-cases/data-samples-and-stats.png
  backend/priv/static/images/use-cases/exploration-features-slide.png
Due: none

chore: fix some typos
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
Due: none

write document article
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/document-your-database-with-memos.md
  backend/priv/static/images/screenshots/memos.png
  backend/priv/static/images/screenshots/private-link.png
  backend/priv/static/images/screenshots/sql-comments-and-notes.png
  frontend/ts-src/index.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/utils.ts
Due: ts-test, ts-lint

corrections
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
Due: none

Add use cases in website (#165)
  backend/assets/css/app.css
  backend/lib/azimutt_web/components/icon.ex
  backend/lib/azimutt_web/controllers/website_controller.ex
  backend/lib/azimutt_web/router.ex
  backend/lib/azimutt_web/templates/layout/_user_menu.html.heex
  backend/lib/azimutt_web/templates/sitemap/index.xml.eex
  backend/lib/azimutt_web/templates/website/_content_dots.html.heex
  backend/lib/azimutt_web/templates/website/_footer.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
  backend/lib/azimutt_web/templates/website/use-case-analyze.html.heex
  backend/lib/azimutt_web/templates/website/use-case-design.html.heex
  backend/lib/azimutt_web/templates/website/use-case-document.html.heex
  backend/lib/azimutt_web/templates/website/use-case-explore.html.heex
  backend/priv/static/blog/2023-01-12-document-your-database-with-memos/document-your-database-with-memos.md
  backend/priv/static/images/screenshots/aml.png
  backend/priv/static/images/screenshots/memos.png
  backend/priv/static/images/screenshots/private-link.png
  backend/priv/static/images/screenshots/sql-comments-and-notes.png
  backend/priv/static/images/use-cases/data-samples-and-stats.png
  backend/priv/static/images/use-cases/exploration-features-slide.png
  frontend/ts-src/index.ts
  frontend/ts-src/types/project.ts
  frontend/ts-src/utils/utils.ts
Due: mix-test, mix-lint, mix-build, mix-format, ts-test, ts-lint

Add other events of the day for the user in event detail page
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/event/show.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add invitations to organization detail page
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt_web/admin/organization/_invitations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
Due: mix-test, mix-lint, mix-build, mix-format

Add search
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/test/azimutt/utils/page_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Improve filters
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/project_view.ex
  backend/test/azimutt/utils/result_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

improve charts
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt/utils/enumx.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/test/azimutt/admin/dataset_test.exs
  backend/test/azimutt/utils/enumx_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

improve search
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/templates/partials/_page_search.html.heex
Due: none

Add weekly users
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
Due: mix-test, mix-lint, mix-build, mix-format

fixes
  backend/lib/azimutt_web/templates/partials/_page_search.html.heex
  backend/test/azimutt/admin/dataset_test.exs
Due: mix-test, mix-lint, mix-format

Improve admin (#169)
  backend/lib/azimutt/accounts/user.ex
  backend/lib/azimutt/admin.ex
  backend/lib/azimutt/admin/dataset.ex
  backend/lib/azimutt/organizations/organization.ex
  backend/lib/azimutt/projects/project.ex
  backend/lib/azimutt/tracking/event.ex
  backend/lib/azimutt/utils/enumx.ex
  backend/lib/azimutt/utils/page.ex
  backend/lib/azimutt/utils/result.ex
  backend/lib/azimutt_web/admin/dashboard/dashboard_controller.ex
  backend/lib/azimutt_web/admin/dashboard/index.html.heex
  backend/lib/azimutt_web/admin/event/_events_table.html.heex
  backend/lib/azimutt_web/admin/event/event_controller.ex
  backend/lib/azimutt_web/admin/event/event_view.ex
  backend/lib/azimutt_web/admin/event/show.html.heex
  backend/lib/azimutt_web/admin/organization/_invitations_table.html.heex
  backend/lib/azimutt_web/admin/organization/_organizations_table.html.heex
  backend/lib/azimutt_web/admin/organization/organization_controller.ex
  backend/lib/azimutt_web/admin/organization/show.html.heex
  backend/lib/azimutt_web/admin/project/_projects_table.html.heex
  backend/lib/azimutt_web/admin/project/project_controller.ex
  backend/lib/azimutt_web/admin/project/project_view.ex
  backend/lib/azimutt_web/admin/user/_users_table.html.heex
  backend/lib/azimutt_web/admin/user/user_controller.ex
  backend/lib/azimutt_web/templates/partials/_page_search.html.heex
  backend/test/azimutt/admin/dataset_test.exs
  backend/test/azimutt/utils/enumx_test.exs
  backend/test/azimutt/utils/page_test.exs
  backend/test/azimutt/utils/result_test.exs
Due: mix-test, mix-lint, mix-build, mix-format

Admin: keep search when used
  backend/lib/azimutt_web/templates/partials/_page_search.html.heex
Due: none

Refactor home page
  backend/lib/azimutt_web/templates/website/_features.html.heex
  backend/lib/azimutt_web/templates/website/_features_intro.html.heex
  backend/lib/azimutt_web/templates/website/_pricing.html.heex
  backend/lib/azimutt_web/templates/website/_testimonials.html.heex
  backend/lib/azimutt_web/templates/website/index.html.heex
Due: none

Add database url warnings
  frontend/src/Libs/Html.elm
  frontend/src/Models/Project/SourceKind.elm
  frontend/src/PagesComponents/Organization_/Project_/Components/ProjectSharing.elm
  frontend/src/Services/DatabaseSource.elm
Due: elm-test, elm-lint, elm-build, elm-format
